Repository BinaryStudioAcademy/bsa-winter-2021-healthcare: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

HC-43: + add clinic payload interface
  frontend/src/common/interfaces/clinic/index.ts
  shared/src/common/interfaces/clinic/clinic-payload.instance.ts
  shared/src/common/interfaces/clinic/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-43: + add clinic type to readable map
  frontend/src/common/maps/clinic/clinic-type-to-readable.map.ts
  frontend/src/common/maps/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC61: * display add clinic sidebar only for admin
  frontend/src/components/clinics/clinics.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-43: + add default clinic image
  frontend/src/assets/images/clinic-default.jpg
Due: npm run lint:editorconfig

HC-43: * change clinic components, service, slice according to created clinic payload
  frontend/src/components/clinics/clinics.tsx
  frontend/src/components/clinics/components/add-clinic-popup/add-clinic-popup.tsx
  frontend/src/components/clinics/components/common/constants/default-clinic-value.constant.ts
  frontend/src/services/clinic-api/clinic-api.service.ts
  frontend/src/store/slices/clinics/clinics.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC61: * remove var with element
  frontend/src/components/clinics/clinics.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-44: * filtration by doctor's name
  backend/src/data/repositories/user-repository.ts
Due: npm run lint:editorconfig

development: * lint styles
  frontend/src/components/common/link/link.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-43: remove alt prop, change card label styles
  frontend/src/components/clinics/components/clinic/clinic.tsx
  frontend/src/components/common/card/card.tsx
  frontend/src/components/common/card/styles.module.scss
  frontend/src/components/doctors/components/doctor-item/doctors-item.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

development: * outline
  frontend/src/components/common/details/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

development: * outline
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/common/date-input/datepicker-custom-styles.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC- 58: * allow null in image path column
  backend/src/data/migrations/20210324112005-allow-null-in-image-path-column.js
  backend/src/data/models/user.ts
Due: npm run lint:editorconfig

HC-58: * avatar name
  frontend/src/assets/images/default-avatar.svg
Due: npm run lint:editorconfig

HC54*uninstall dayjs fron back end
  backend/package.json
  frontend/package.json
  frontend/src/components/doctor-details/components/appointment/appointment.tsx
  frontend/src/store/slices/doctor-details/doctor-details.slice.ts
  shared/src/common/interfaces/appointment/create-appointment.instance.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-58: - children from button
  frontend/src/components/common/button/button.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-58: - img path from register payload interface
  shared/src/common/interfaces/register/register-payload.interface.ts
Due: npm run lint:editorconfig

HC-58: - image path from validation
  shared/src/validation-schemas/user/user.ts
Due: npm run lint:editorconfig

HC-56: *update default value constant & clinic validation schema
  frontend/src/components/clinics/components/common/constants/default-clinic-value.constant.ts
  shared/src/validation-schemas/clinic/clinic.validation-schema.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-58: + null check
  frontend/src/components/common/header/header.tsx
  frontend/src/components/doctors/components/doctor-item/doctors-item.tsx
  frontend/src/components/profile/components/user-info/user-info.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-58: - image path from register payload
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/users/components/create-user/create-user.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-58: * edit user form
  frontend/src/assets/images/photo-edit.svg
  frontend/src/components/common/edit-user-popup/edit-user-popup.tsx
  frontend/src/components/common/edit-user-popup/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC54*fix lint issues
  frontend/src/components/doctor-details/common/types/create-appointment-cb.ts
  frontend/src/components/doctor-details/components/appointment/appointment.tsx
  frontend/src/store/slices/doctor-details/doctor-details.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-56: *update onCreateClinic method
  frontend/src/components/clinics/clinics.tsx
  frontend/src/components/clinics/components/add-clinic-popup/add-clinic-popup.tsx
  frontend/src/store/slices/clinics/clinics.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-58 :+ action to upload image
  frontend/src/components/common/edit-user-popup/edit-user-popup.tsx
  frontend/src/store/slices/profile/profile.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

test merge
  frontend/src/components/clinics/components/add-clinic-popup/add-clinic-popup.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-65: * fix logout after reloading page
  frontend/src/app.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-56 summary commit
  frontend/src/components/clinics/clinics.tsx
  frontend/src/components/clinics/components/add-clinic-popup/add-clinic-popup.tsx
  shared/src/common/interfaces/clinic/clinic-payload.instance.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-58: + action to change imagePath in state
  frontend/src/store/slices/profile/profile.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-58: * upload file method
  frontend/src/components/common/edit-user-popup/edit-user-popup.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-58: - unnecessary validation messages
  shared/src/common/enums/validation/register/register-validation-message.enum.ts
Due: npm run lint:editorconfig

HC70+add upload clinic photo
  frontend/src/components/clinics/clinics.tsx
  frontend/src/components/clinics/components/add-clinic-popup/add-clinic-popup.tsx
  frontend/src/components/clinics/components/add-clinic-popup/styles.module.scss
  frontend/src/store/slices/clinics/clinics.slice.ts
  shared/src/validation-schemas/clinic/clinic.validation-schema.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC59: * add id fields to abstrations of doctor
  backend/src/common/interfaces/doctor-extended/index.ts
  backend/src/common/interfaces/index.ts
  backend/src/data/models/doctor.ts
  shared/src/common/enums/doctor/doctor-key.enum.ts
  shared/src/common/interfaces/doctor/doctor.instance.ts
Due: npm run lint:editorconfig

HC59: * add methods to doctor service
  backend/src/data/repositories/doctor-repository.ts
  backend/src/services/doctor/doctor.service.ts
  backend/src/services/services.ts
Due: npm run lint:editorconfig

HC59: * add methods to document service
  backend/src/data/repositories/document-repository.ts
  backend/src/services/document-service/document-service.service.ts
  backend/src/services/document/document.service.ts
Due: npm run lint:editorconfig

HC59: * add upload method to doc api service
  frontend/src/services/document-api/document-api.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC59: * add uploadDoc action to profile slice
  frontend/src/store/slices/profile/profile.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC59: * add post handling for document api
  backend/src/api/document/document.api.ts
Due: npm run lint:editorconfig

HC59: * add upload input for user info page for doctor
  frontend/src/components/profile/components/user-info/styles.module.scss
  frontend/src/components/profile/components/user-info/user-info.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

development: * event name
  frontend/src/components/common/edit-user-popup/edit-user-popup.tsx
  frontend/src/hooks/use-visible/use-visible.hook.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-56: *correct error in clinics (unclose modal)
  frontend/src/components/clinics/clinics.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

Path conditions:
  npm run lint:editorconfig: any of: *
  npm run lint:shared:js: any of: shared/**/*.{ts}
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
