Repository BinaryStudioAcademy/bsa-winter-2021-healthcare: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig
'shared/**/*.{ts}': npm run lint:shared:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js

HC-5: + add hasAuth flag to HttpOptions
  frontend/src/common/types/http/http-options.type.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-5: - delete reducers state type
  frontend/src/common/types/app/index.ts
  frontend/src/common/types/app/reducers-state.type.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-5: * include hasAuth flag to http service
  frontend/src/services/http/http.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-5: + add storage service
  frontend/src/services/index.ts
  frontend/src/services/storage/storage.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-5: * bring back reducers state type to slice and make use of storage service
  frontend/src/store/slices/auth/auth.slice.ts
  frontend/src/store/slices/counter/counter.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-5: * make use of enums, interfaces and helpers from shared
  frontend/package-lock.json
  frontend/package.json
  frontend/src/containers/SignInPage/index.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-5: - remove useless packages
  package-lock.json
  package.json
Due: npm run lint:editorconfig

HC-7 - delete edit-users
  frontend/src/store/slices/users/edit-users.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 + add interface for editUser
  frontend/src/store/slices/users/users.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 - remove all exports fro edit-users
  frontend/src/common/enums/app/reducer-name.enum.ts
  frontend/src/store/slices/index.ts
  frontend/src/store/store.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * change size for icon
  frontend/src/assets/images/admin-page/vectoredit.svg
Due: npm run lint:editorconfig

HC-7 * add EditUser component, and show him
  frontend/src/components/admin-page/admin-page.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * change EditUsersActionCreator to UsersActionCreator
  frontend/src/components/admin-page/users.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 + add edit-user component
  frontend/src/components/admin-page/edit-user.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-3: * route enum
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/signup/signup.tsx
  frontend/src/components/signup/styles.module.scss
  frontend/src/index.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-3: * put IRegisterPayload into shared
  frontend/src/components/signup/signup.tsx
  shared/src/common/interfaces/index.ts
  shared/src/common/interfaces/register/index.ts
  shared/src/common/interfaces/register/register-payload.interface.ts
  shared/src/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * edit arg for test edit func
  frontend/src/components/admin-page/actions-button.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 - remove test arg
  frontend/src/components/admin-page/edit-user.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-3: * add avatar content type
  shared/src/common/enums/file/content-type.enum.ts
  shared/src/common/enums/register/index.ts
  shared/src/common/enums/register/register-avatar-type.enum.ts
  shared/src/helpers/validation/auth-schema/auth-schema.helper.ts
Due: npm run lint:editorconfig

HC-5: + add yup package to frontend
  backend/package-lock.json
  frontend/package-lock.json
  frontend/package.json
Due: npm run lint:editorconfig

HC-5: - remove frontend/src/helpers/validation
  frontend/src/helpers/index.ts
  frontend/src/helpers/validation/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-3: * fixed email validation
  frontend/src/components/signup/signup.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-3: + add form-sign-up
  frontend/src/app.tsx
  frontend/src/components/sign/components/form-sign-up.tsx
  frontend/src/components/sign/components/styles.module.scss
  frontend/src/components/sign/sign.tsx
  frontend/src/index.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-7 - delete react-table library from root dir
  package-lock.json
  package.json
Due: npm run lint:editorconfig

HC-7 + add react-table to frontend dir
  backend/package-lock.json
  frontend/package-lock.json
  frontend/package.json
Due: npm run lint:editorconfig

HC-7 + add link to AdminPage
  frontend/src/app.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 + add route to AdminPage
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/index.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * change users key applicant to name and surname
  frontend/src/common/interfaces/app/user.interface.ts
  frontend/src/store/slices/users/users.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 - delete comment code
  frontend/src/components/admin-page/admin-page.tsx
  frontend/src/components/admin-page/users.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * rename styles className
  frontend/src/components/admin-page/table.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 + add component for edit user with validations
  frontend/src/components/admin-page/edit-user.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 + add styles for edit-user component
  frontend/src/components/admin-page/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-7 * fix eslint warnings
  frontend/src/app.tsx
  frontend/src/components/admin-page/admin-page.tsx
  frontend/src/components/admin-page/edit-user.tsx
  frontend/src/components/admin-page/table.tsx
  frontend/src/components/admin-page/users.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * set id for edit function arg
  frontend/src/components/admin-page/actions-button.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 + add value in inputs
  frontend/src/components/admin-page/edit-user.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-5: * fix sign-in validation schema
  shared/src/helpers/validation/auth-schema/login-schema.helper.ts
Due: npm run lint:editorconfig

HC-5: * change sign-in-form location
  frontend/src/components/sign-in-form/index.tsx
  frontend/src/components/sign-in-form/signin.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-3: + add Sign Up Page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/containers/SignUpPage/SignUpPage.tsx
  frontend/src/containers/SignUpPage/styles.module.scss
  frontend/src/index.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-3: * add validation
  frontend/package.json
  frontend/src/containers/SignUpPage/SignUpPage.tsx
  shared/package-lock.json
  shared/package.json
  shared/src/common/enums/register/register-avatar-type.enum.ts
  shared/src/common/enums/register/register-payload.enum.ts
  shared/src/helpers/index.ts
  shared/src/helpers/validation/auth-schema/auth-schema.helper.ts
  shared/src/helpers/validation/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-3: * email validation
  frontend/src/containers/SignUpPage/SignUpPage.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js
