Repository BinaryStudioAcademy/bsa-winter-2021-healthcare: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js

development: + front eslint config
  frontend/.eslintrc.yml
Due: npm run lint:editorconfig

development: + frontend index file
  frontend/src/app.tsx
  frontend/src/assets/styles/index.scss
  frontend/src/index.css
  frontend/src/index.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

development: + react router packages
  frontend/package-lock.json
  frontend/package.json
Due: npm run lint:editorconfig

development: * frontent public folder
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
Due: npm run lint:editorconfig

development: + frontend redux
  frontend/src/app.tsx
  frontend/src/assets/images/logo.svg
  frontend/src/assets/styles/index.scss
  frontend/src/common/enums/app/index.ts
  frontend/src/common/enums/app/reducer-name.enum.ts
  frontend/src/common/enums/index.ts
  frontend/src/common/types/app/app-thunk.type.ts
  frontend/src/common/types/app/index.ts
  frontend/src/common/types/app/root-state.type.ts
  frontend/src/common/types/index.ts
  frontend/src/components/counter/counter.tsx
  frontend/src/components/counter/styles.module.scss
  frontend/src/index.tsx
  frontend/src/logo.svg
  frontend/src/store/slices/counter/counter.slice.ts
  frontend/src/store/slices/index.ts
  frontend/src/store/store.ts
  frontend/tsconfig.json
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

development: * redux deps
  frontend/package-lock.json
  frontend/package.json
Due: npm run lint:editorconfig

development: + link component
  frontend/src/components/common/index.ts
  frontend/src/components/common/link/common/types.ts
  frontend/src/components/common/link/link.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

development: + app route enum
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/common/enums/app/index.ts
  frontend/src/common/enums/app/reducer-name.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

development: * app component
  frontend/src/app.tsx
  frontend/src/assets/styles/index.scss
  frontend/src/index.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

development: * root gitignore
  .gitignore
Due: npm run lint:editorconfig

development: + shared folder
  shared/.eslintrc.yml
  shared/package-lock.json
  shared/package.json
Due: npm run lint:editorconfig

development: + shared exception
  frontend/src/exceptions/index.ts
  shared/src/exceptions/http-error/common/constants.ts
  shared/src/exceptions/http-error/http-error.exception.ts
  shared/src/exceptions/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

development: + shared enums
  frontend/src/common/enums/file/index.ts
  frontend/src/common/enums/http/index.ts
  shared/src/common/enums/exceptions/custom-exception-name.enum.ts
  shared/src/common/enums/exceptions/index.ts
  shared/src/common/enums/file/content-type.enum.ts
  shared/src/common/enums/file/index.ts
  shared/src/common/enums/http/http-code.enum.ts
  shared/src/common/enums/http/http-header.enum.ts
  shared/src/common/enums/http/http-method.enum.ts
  shared/src/common/enums/http/index.ts
  shared/src/common/enums/index.ts
  shared/src/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

development: * shared lint
  .lintstagedrc.yml
Due: npm run lint:editorconfig

development: * shared root scripts
  frontend/package-lock.json
  frontend/package.json
  package.json
Due: npm run lint:editorconfig

development: + front http service
  frontend/src/common/types/http/http-options.type.ts
  frontend/src/common/types/http/index.ts
  frontend/src/common/types/index.ts
  frontend/src/services/http/http.service.ts
  frontend/src/services/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

development: + front helpers
  frontend/src/helpers/boolean/check-is-one-of/check-is-one-of.helper.ts
  frontend/src/helpers/boolean/index.ts
  frontend/src/helpers/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

development: * ts configs
  frontend/tsconfig.json
  shared/tsconfig.json
  tsconfig.json
Due: npm run lint:editorconfig

development: * gitignore
  .gitignore
Due: npm run lint:editorconfig

development: * backend init
  backend/package-lock.json
  backend/package.json
  frontend/package.json
Due: npm run lint:editorconfig

development: * lintstage
  .lintstagedrc.yml
Due: npm run lint:editorconfig

development: + backend example
  backend/.env.example
Due: npm run lint:editorconfig

development: + backend eslint
  backend/.eslintrc.yml
Due: npm run lint:editorconfig

development: + backend tsconfig
  backend/tsconfig.json
Due: npm run lint:editorconfig

development: + backend public
  backend/public/index.html
Due: npm run lint:editorconfig

development: * shared script
  shared/package.json
Due: npm run lint:editorconfig

development: - front readme
  frontend/README.md
Due: npm run lint:editorconfig

development: + backend enums
  backend/src/common/enums/app/app-environment.enum.ts
  backend/src/common/enums/app/env.enum.ts
  backend/src/common/enums/app/index.ts
Due: npm run lint:editorconfig

development: * root scripts
  package-lock.json
  package.json
Due: npm run lint:editorconfig

development: + base backend packages
  backend/package-lock.json
  backend/package.json
Due: npm run lint:editorconfig

development: + base backend structure
  backend/package.json
  backend/src/common/enums/index.ts
  backend/src/server.ts
  backend/tsconfig.json
Due: npm run lint:editorconfig

development: * check is one of helper
  frontend/src/helpers/boolean/index.ts
  shared/src/helpers/boolean/check-is-one-of/check-is-one-of.helper.ts
  shared/src/helpers/boolean/index.ts
  shared/src/helpers/index.ts
  shared/src/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

development: + logger service
  backend/package-lock.json
  backend/package.json
  backend/src/common/enums/app/app-async-storage-key.enum.ts
  backend/src/common/enums/app/env.enum.ts
  backend/src/common/enums/app/index.ts
  backend/src/common/enums/app/log-level.enum.ts
  backend/src/common/types/app/app-async-storage.types.ts
  backend/src/common/types/app/index.ts
  backend/src/common/types/index.ts
  backend/src/helpers/boolean/index.ts
  backend/src/helpers/index.ts
  backend/src/server.ts
  backend/src/services/async-storage/async-storage.service.ts
  backend/src/services/logger/logger.service.ts
  backend/src/services/services.ts
Due: npm run lint:editorconfig

development: + logger middlewares
  backend/package-lock.json
  backend/package.json
  backend/src/helpers/index.ts
  backend/src/helpers/string/get-random-id/common/constants.ts
  backend/src/helpers/string/get-random-id/get-random-id.helper.ts
  backend/src/helpers/string/index.ts
  backend/src/middlewares/index.ts
  backend/src/middlewares/log-request/log-request.middleware.ts
  backend/src/middlewares/set-trace-id/set-trace-id.middleware.ts
  backend/src/server.ts
Due: npm run lint:editorconfig

development: * front eslint
  frontend/.eslintrc.yml
Due: npm run lint:editorconfig

development: + lint action
  .github/workflows/lint.yml
Due: npm run lint:editorconfig

development: * front helpers import
  frontend/src/helpers/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

development: * root scripts
  backend/package.json
  package.json
Due: npm run lint:editorconfig

development: + concurrently root start
  package-lock.json
  package.json
Due: npm run lint:editorconfig

development: + deploy action
  .github/workflows/deploy.yml
Due: npm run lint:editorconfig
