Repository BinaryStudioAcademy/bsa-winter-2021-healthcare: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

HC37: add map shared enums and interfaces
  frontend/src/common/enums/api/index.ts
  frontend/src/common/enums/app/reducer-name.enum.ts
  frontend/src/common/enums/map/index.ts
  frontend/src/common/interfaces/index.ts
  frontend/src/common/interfaces/map/index.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/index.ts
  shared/src/common/enums/api/map-api-path.enum.ts
  shared/src/common/enums/index.ts
  shared/src/common/enums/map/index.ts
  shared/src/common/enums/map/map-key.enum.ts
  shared/src/common/interfaces/index.ts
  shared/src/common/interfaces/map/index.ts
  shared/src/common/interfaces/map/map.instance.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC37: + add slice for map
  frontend/src/store/slices/index.ts
  frontend/src/store/slices/map/map.slice.ts
  frontend/src/store/store.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC37: + add map service
  frontend/src/services/index.ts
  frontend/src/services/map-api/map-api.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC37: + add initial notification service for backend
  backend/src/services/notification/notification.service.ts
  backend/src/services/services.ts
Due: npm run lint:editorconfig

HC37: + add map api logic
  backend/src/api/api.ts
  backend/src/api/map/map.api.ts
Due: npm run lint:editorconfig

HC37: * add dispatching for selected coords
  frontend/src/components/map/components/select-map-area/select-map-area.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC37: * lint fix
  backend/src/api/map/map.api.ts
Due: npm run lint:editorconfig

HC-51: *correction associations geolocation-user
  backend/src/data/db/associations.ts
Due: npm run lint:editorconfig

HC-43: + add diagnosis api
  backend/src/api/api.ts
  backend/src/api/diagnosis/diagnosis.api.ts
Due: npm run lint:editorconfig

HC-43: + add diagnosis repository
  backend/src/data/repositories/diagnosis.repository.ts
  backend/src/data/repositories/index.ts
Due: npm run lint:editorconfig

HC-43: + add diagnosis service on backend
  backend/src/services/diagnosis/diagnosis.service.ts
  backend/src/services/services.ts
Due: npm run lint:editorconfig

HC-43: + add diagnosis enums
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/diagnoses-api-path.enum.ts
  shared/src/common/enums/api/index.ts
Due: npm run lint:editorconfig

HC-43: * change names of repositories according to criteria A3
  backend/src/data/repositories/clinic-repository.ts
  backend/src/data/repositories/geolocation-repository.ts
  backend/src/data/repositories/index.ts
  backend/src/data/repositories/user-repository.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/clinic-service/clinic-service.service.ts
  backend/src/services/geolocation/geolocation.service.ts
  backend/src/services/user-service/user-service.service.ts
Due: npm run lint:editorconfig

HC-43: * remove update functionality
  backend/src/api/diagnosis/diagnosis.api.ts
  backend/src/data/repositories/diagnosis.repository.ts
  backend/src/services/diagnosis/diagnosis.service.ts
Due: npm run lint:editorconfig

HC-43: * update enums
  frontend/src/common/enums/api/index.ts
  frontend/src/common/enums/app/reducer-name.enum.ts
  shared/src/common/enums/api/diagnoses-api-path.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-43: + add diagnoses service on frontend
  frontend/src/services/diagnosis/diagnosis.service.ts
  frontend/src/services/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC6*fixed useForm
  frontend/src/app.tsx
  frontend/src/components/common/edit-user-popup/edit-user-popup.tsx
  frontend/src/components/common/edit-user-popup/styles.module.scss
  frontend/src/components/common/radio/radio.tsx
  frontend/src/components/profile/common/enums/document-form-key.tsx
  frontend/src/components/profile/common/enums/index.tsx
  frontend/src/components/profile/common/index.tsx
  frontend/src/components/profile/common/types/document-form-data.tsx
  frontend/src/components/profile/components/edite-document-popup/edite-document-popup.tsx
  frontend/src/components/profile/components/edite-document-popup/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-43: + add diagnoses slice
  frontend/src/store/slices/diagnoses/diagnoses.slice.ts
  frontend/src/store/slices/index.ts
  frontend/src/store/store.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-42 * fiexd add-seed-data-edit-permission migration
  backend/src/data/migrations/20210319122552-add-edit-permissions-permission.js
  backend/src/data/migrations/20210319123658-add-seed-data-edit-permission.js
Due: npm run lint:editorconfig

HC-40: + add notifications page
  frontend/src/app.tsx
  frontend/src/components/notifications/notifications.tsx
  frontend/src/components/notifications/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-40: + add notification component
  frontend/src/components/notifications/components/notification/notification.module.scss
  frontend/src/components/notifications/components/notification/notification.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC6*changed IDocument removed IEditeDocumentPayload
  frontend/src/common/enums/document/index.ts
  frontend/src/components/common/edit-user-popup/edit-user-popup.tsx
  frontend/src/components/common/edit-user-popup/styles.module.scss
  frontend/src/components/common/radio/radio.tsx
  frontend/src/components/profile/common/enums/document-form-key.tsx
  frontend/src/components/profile/common/enums/index.tsx
  frontend/src/components/profile/common/index.ts
  frontend/src/components/profile/common/maps/document-status.ts
  frontend/src/components/profile/common/maps/index.ts
  frontend/src/components/profile/common/types/document-form-data.ts
  frontend/src/components/profile/common/types/document-form-data.tsx
  frontend/src/components/profile/common/types/edite-document-cb.ts
  frontend/src/components/profile/common/types/index.ts
  frontend/src/components/profile/components/edite-document-popup/edite-document-popup.tsx
  frontend/src/components/profile/components/edite-document-popup/styles.module.scss
  frontend/src/services/document-api/document-api.service.ts
  shared/src/common/enums/document/document-key.enum.ts
  shared/src/common/enums/edite-document/edit-document-payload.enums.ts
  shared/src/common/enums/edite-document/index.ts
  shared/src/common/interfaces/document/document.instance.ts
  shared/src/common/interfaces/edite-document/edit-document-payload.interface.ts
  shared/src/common/interfaces/edite-document/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-50: + CLAUDIARY_URL to .env.example
  backend/.env.example
Due: npm run lint:editorconfig

HC-50: + multer, datauri packages
  backend/package-lock.json
  backend/package.json
Due: npm run lint:editorconfig

HC-50: + images api path enum
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/images-api-path.enum.ts
  shared/src/common/enums/api/index.ts
Due: npm run lint:editorconfig

HC-50: * http service to send FormData
  frontend/src/common/types/http/http-options.type.ts
  frontend/src/services/http/http.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-50: + image service
  frontend/src/services/image/image.service.ts
  frontend/src/services/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-50: + image api
  backend/src/api/api.ts
  backend/src/api/image/image.api.ts
  backend/src/common/enums/api/index.ts
Due: npm run lint:editorconfig

HC-50: + cloudinary config
  backend/src/configs/cloudinary.config.ts
  backend/src/configs/index.ts
Due: npm run lint:editorconfig

HC-50: + upload file service
  backend/src/services/services.ts
  backend/src/services/upload-file/upload-file.service.ts
Due: npm run lint:editorconfig

HC37: * replace map enaums
  frontend/src/common/enums/map/index.ts
  frontend/src/components/map/enums/index.ts
  frontend/src/components/map/enums/map-coords-default.enum.ts
  frontend/src/components/map/enums/map-option.enum.ts
  frontend/src/components/map/enums/tile-option.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC37: * remove saving coords in state in map slice
  frontend/src/store/slices/map/map.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC37: * remove checking location in covid btn component
  frontend/src/components/covid-button/covid-button.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC37: * refactor select map area component
  frontend/src/components/map/components/select-map-area/select-map-area.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC37: * rename interfaces and enums
  frontend/src/common/interfaces/map/index.ts
  frontend/src/components/map/map.tsx
  frontend/src/services/map-api/map-api.service.ts
  shared/src/common/interfaces/map/map.instance.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC6*minor fixes
  frontend/src/app.tsx
  frontend/src/common/interfaces/document/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-52: +add migration to remove department & roomNumber columns from doctors table
  backend/src/data/migrations/20210321045731-delete-department-and-roomNumber-columns-from-doctors-table.js
Due: npm run lint:editorconfig

HC-52: *update doctor model
  backend/src/data/models/doctor.ts
Due: npm run lint:editorconfig

HC-52: *update IDoctor instance
  shared/src/common/enums/doctor/doctor-key.enum.ts
  shared/src/common/interfaces/doctor/doctor.instance.ts
Due: npm run lint:editorconfig

development: - useless imports
  shared/src/common/enums/index.ts
  shared/src/common/interfaces/index.ts
Due: npm run lint:editorconfig

Path conditions:
  npm run lint:editorconfig: any of: *
  npm run lint:shared:js: any of: shared/**/*.{ts}
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
