Repository BinaryStudioAcademy/bsa-winter-2021-healthcare: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig
'shared/**/*.{ts}': npm run lint:shared:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js

HC-45: + profession enum to model
  backend/src/common/enums/index.ts
  backend/src/common/enums/profession/index.ts
  backend/src/data/models/profession.ts
Due: npm run lint:editorconfig

HC-45: * enum names
  backend/src/data/migrations/20210318184234-create-professions-table.js
  backend/src/data/migrations/20210318185357-add-seed-data-to-professions.js
  shared/src/common/enums/profession/profession-name.enum.ts
Due: npm run lint:editorconfig

HC-15: + create maps for checkboxes labels
  frontend/src/components/doctors/components/common/maps/clinic-type-to-readable.map.ts
  frontend/src/components/doctors/components/common/maps/doctor-specialties-to-readable.map.ts
  frontend/src/components/doctors/components/common/maps/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-15: * modify common component checkbox
  frontend/src/components/common/checkbox/checkbox.tsx
  frontend/src/components/common/checkbox/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-15: * correct filtration handling
  frontend/src/components/doctors/components/filtration/filtration.tsx
  frontend/src/components/doctors/components/filtration/index.ts
  shared/src/helpers/array/filter-array/filter-array.helper.ts
  shared/src/helpers/array/index.ts
  shared/src/helpers/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-45: + script undo all migrations
  backend/package.json
Due: npm run lint:editorconfig

HC-45: * fix deleting custom enum types
  backend/src/data/migrations/20210304183602-create-users-table.js
  backend/src/data/migrations/20210305092928-create-clinics-table.js
  backend/src/data/migrations/20210305102253-create-documents-table.js
  backend/src/data/migrations/20210305130141-create-appointments-table.js
  backend/src/data/migrations/20210313131817-create-permissions-table.js
  backend/src/data/migrations/20210318184234-create-professions-table.js
Due: npm run lint:editorconfig

HC-49: + add auth wrapper
  frontend/src/components/common/authorized-wrapper/authorized-wrapper.tsx
  frontend/src/components/common/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-49: * wrap a component with auth wrapper in auth route
  frontend/src/components/common/authorized-route/authorized-route.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-49: * rename sevices acording to criteria A3
  backend/src/api/auth/auth.api.ts
  backend/src/api/clinic/clinic.api.ts
  backend/src/api/geolocation/geolocation.api.ts
  backend/src/api/user/user.api.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/clinic-service/clinic-service.service.ts
  backend/src/services/geolocation/geolocation.service.ts
  backend/src/services/services.ts
  backend/src/services/user-service/user-service.service.ts
  frontend/src/services/geolocation/geolocation.service.ts
  frontend/src/services/index.ts
  frontend/src/services/notification/notification.service.ts
  frontend/src/store/slices/auth/auth.slice.ts
  frontend/src/store/slices/clinics/clinics.slice.ts
  frontend/src/store/slices/doctors/doctors.slice.ts
  frontend/src/store/slices/users/users.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC37: * add map manipulation to permissions enum
  shared/src/common/enums/permission/permission-name.enum.ts
Due: npm run lint:editorconfig

HC37: * add map manipulation to permission model
  backend/src/data/models/permission.ts
Due: npm run lint:editorconfig

HC37: + add migration for update map manipulation type
  backend/src/data/migrations/20210319135139-add-map-manipulation-to-permissions-type.js
  backend/src/data/migrations/20210319135627-add-map-manipulation-permission-to-admin.js
Due: npm run lint:editorconfig

Revert "HC37: * add map manipulation to permission model"
  backend/src/data/models/permission.ts
Due: npm run lint:editorconfig

Revert "Revert "HC37: * add map manipulation to permission model""
  backend/src/data/models/permission.ts
Due: npm run lint:editorconfig

HC37: + add migration for adding map manipulation to permission table
  backend/src/data/migrations/20210319135400-add-map-manipulation-to-permissions-table.js
Due: npm run lint:editorconfig

HC37: * change route to AuthRoute
  frontend/src/app.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-42 * fixed edit-permissions migration
  backend/src/data/migrations/20210313131817-create-permissions-table.js
  backend/src/data/migrations/20210313163522-add-admin-user.js
  backend/src/data/migrations/20210319122552-add-edit-permissions-permission.js
  backend/src/data/migrations/20210319123658-add-seed-data-edit-permission.js
Due: npm run lint:editorconfig

HC37: * add required map permission to route Map
  frontend/src/app.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC37: * add enums values for covid btn
  frontend/src/common/enums/form/botton-color.enum.ts
  frontend/src/common/enums/form/botton-style-type.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC37: + add covid extra button component
  frontend/src/components/covid-button/covid-button.tsx
  frontend/src/components/covid-button/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC37: * add styles for covid button
  frontend/src/components/common/button/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC37: * add covid btn component to authorized wrapper
  frontend/src/components/common/authorized-wrapper/authorized-wrapper.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC6+add profile slice
  backend/src/data/repositories/user-repository.ts
  backend/src/services/user-service/user-service.service.ts
  frontend/src/common/enums/app/reducer-name.enum.ts
  frontend/src/common/interfaces/doctor-extended/index.ts
  frontend/src/common/interfaces/document/index.ts
  frontend/src/common/interfaces/index.ts
  frontend/src/common/types/index.ts
  frontend/src/common/types/user/index.ts
  frontend/src/common/types/user/user-generic.type.ts
  frontend/src/components/common/edit-user-popup/edit-user-popup.tsx
  frontend/src/components/common/edit-user-popup/styles.module.scss
  frontend/src/components/common/index.ts
  frontend/src/components/profile/components/documents/documents.tsx
  frontend/src/components/profile/components/documents/styles.module.scss
  frontend/src/components/profile/components/user-info/user-info.tsx
  frontend/src/components/profile/profile.tsx
  frontend/src/services/document-api/document-api.service.ts
  frontend/src/store/slices/auth/auth.slice.ts
  frontend/src/store/slices/index.ts
  frontend/src/store/slices/profile/profile.slice.ts
  frontend/src/store/slices/users/users.slice.ts
  frontend/src/store/store.ts
  shared/src/common/enums/edite-document/edit-document-payload.enums.ts
  shared/src/common/enums/edite-document/index.ts
  shared/src/common/enums/index.ts
  shared/src/common/interfaces/edite-document/edit-document-payload.interface.ts
  shared/src/common/interfaces/edite-document/index.ts
  shared/src/common/interfaces/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC6 lint issues
  backend/src/data/repositories/user-repository.ts
  backend/src/services/document-service/document-service.service.ts
  backend/src/services/services.ts
  backend/src/services/user-service/user-service.service.ts
  frontend/src/components/common/index.ts
  frontend/src/components/profile/components/documents/styles.module.scss
  frontend/src/components/profile/components/user-info/user-info.tsx
  frontend/src/components/profile/profile.tsx
  frontend/src/services/index.ts
  frontend/src/store/slices/auth/auth.slice.ts
  frontend/src/store/slices/profile/profile.slice.ts
  frontend/src/store/slices/users/users.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-15: * some improvements
  frontend/src/app.tsx
  frontend/src/common/types/form/checkbox-register.type.ts
  frontend/src/common/types/form/index.ts
  frontend/src/components/common/checkbox/checkbox.tsx
  frontend/src/components/doctors/common/index.ts
  frontend/src/components/doctors/common/maps/clinic-type-to-readable.map.ts
  frontend/src/components/doctors/common/maps/doctor-specialties-to-readable.map.ts
  frontend/src/components/doctors/common/maps/index.ts
  frontend/src/components/doctors/components/filtration/filtration.tsx
  frontend/src/helpers/array-filter/index.ts
  frontend/src/helpers/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-48:-remove history package
  frontend/package-lock.json
  frontend/package.json
Due: npm run lint:editorconfig

HC-48: -remove history service
  frontend/src/services/history/history.service.ts
  frontend/src/services/index.ts
  frontend/src/store/slices/auth/auth.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-48: *add redirect funcionality to Sign componenr
  frontend/src/components/sign/sign.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-15: * correct value&label for checkbox
  frontend/src/app.tsx
  frontend/src/components/doctors/components/filtration/filtration.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC6*minor fixes
  backend/src/api/document/document.api.ts
Due: npm run lint:editorconfig

HC6*minor fixes
  frontend/src/store/slices/profile/profile.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-15: * displaying of error in checkbox
  frontend/src/components/common/checkbox/checkbox.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-42 + add edit-permissions permission for admin
  backend/src/data/migrations/20210319123658-add-seed-data-edit-permission.js
Due: npm run lint:editorconfig

HC-51: *correction table-name.enum
  backend/src/common/enums/db/table-name.enum.ts
Due: npm run lint:editorconfig

HC-51: +add migration to change table name & delete column
  backend/src/data/migrations/20210320094856-rename-geolocation-table-to-geolocations.js
Due: npm run lint:editorconfig

HC-51: -remove geolocation associations
  backend/src/data/db/associations.ts
Due: npm run lint:editorconfig

HC-51: *update geolocation model
  backend/src/data/models/geolocation.ts
Due: npm run lint:editorconfig

HC6+add useForm to doc form
  frontend/src/app.tsx
  frontend/src/components/common/edit-user-popup/edit-user-popup.tsx
  frontend/src/components/common/radio/radio.tsx
  frontend/src/components/profile/common/index.tsx
  frontend/src/components/profile/common/maps/document-status.tsx
  frontend/src/components/profile/common/maps/index.tsx
  frontend/src/components/profile/common/types/document-form-data.tsx
  frontend/src/components/profile/common/types/edite-document-cb.tsx
  frontend/src/components/profile/common/types/index.tsx
  frontend/src/components/profile/components/documents/documents.tsx
  frontend/src/components/profile/components/edite-document-popup/edite-document-popup.tsx
  frontend/src/components/profile/components/edite-document-popup/styles.module.scss
  frontend/src/components/profile/profile.tsx
  frontend/src/components/users/components/create-user/create-user.tsx
  frontend/src/components/users/users.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC6*lint issues
  frontend/src/components/profile/components/edite-document-popup/edite-document-popup.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js
