Repository BinaryStudioAcademy/bsa-winter-2021-healthcare: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

HC-3: * styles
  frontend/src/containers/signup-page/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-3: * change file name
  frontend/src/containers/signup-page/signup.page.tsx
  frontend/src/containers/signup-page/styles.module.scss
  frontend/src/index.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-3: * validation user
  frontend/src/containers/signup-page/signup.page.tsx
  shared/src/common/enums/index.ts
  shared/src/common/enums/register/index.ts
  shared/src/common/enums/register/register-payload.enum.ts
  shared/src/helpers/index.ts
  shared/src/helpers/validation/auth-schema/auth-schema.helper.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-3: * package.json
  frontend/package.json
  shared/package.json
Due: npm run lint:editorconfig

HC-3: * refactor components structure
  frontend/src/components/common/index.ts
  frontend/src/components/common/sign/sign.tsx
  frontend/src/components/common/sign/styles.module.scss
  frontend/src/components/signup/signup.tsx
  frontend/src/components/signup/styles.module.scss
  frontend/src/containers/signup-page/signup.page.tsx
  frontend/src/containers/signup-page/styles.module.scss
  frontend/src/index.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-3: * frontend package-lock,json
  frontend/package-lock.json
Due: npm run lint:editorconfig

HC-3: * backend package-lock,json
  backend/package-lock.json
Due: npm run lint:editorconfig

HC-3: * route enum
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/signup/signup.tsx
  frontend/src/components/signup/styles.module.scss
  frontend/src/index.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-3: * put IRegisterPayload into shared
  frontend/src/components/signup/signup.tsx
  shared/src/common/interfaces/index.ts
  shared/src/common/interfaces/register/index.ts
  shared/src/common/interfaces/register/register-payload.interface.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-3: + add form-sign-up
  frontend/src/app.tsx
  frontend/src/components/sign/components/form-sign-up.tsx
  frontend/src/components/sign/components/styles.module.scss
  frontend/src/components/sign/sign.tsx
  frontend/src/index.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-3: * fixed email validation
  frontend/src/components/signup/signup.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-3: * move sign from common components
  frontend/src/assets/images/logo.svg
  frontend/src/components/common/index.ts
  frontend/src/components/common/sign/sign.tsx
  frontend/src/components/sign/components/form-sign-up.tsx
  frontend/src/components/sign/sign.tsx
  frontend/src/components/sign/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-3: * add avatar content type
  shared/src/common/enums/file/content-type.enum.ts
  shared/src/common/enums/register/index.ts
  shared/src/common/enums/register/register-avatar-type.enum.ts
  shared/src/helpers/validation/auth-schema/auth-schema.helper.ts
Due: npm run lint:editorconfig

HC-5: - remove GoogleSignIn
  frontend/src/components/sign-in-form/index.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-5: *rename form handler
  frontend/src/components/sign-in-form/index.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-3: * update index.tsx
  frontend/src/index.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-3: * changed fields according to User schema
  frontend/src/components/sign/components/form-sign-up.tsx
  frontend/src/components/sign/components/styles.module.scss
  frontend/src/components/sign/styles.module.scss
  shared/src/common/enums/register/register-payload.enum.ts
  shared/src/common/interfaces/register/register-payload.interface.ts
  shared/src/helpers/validation/auth-schema/auth-schema.helper.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-5: + add validation schema middleware and make use of it
  backend/src/api/auth/auth.api.ts
  backend/src/middlewares/index.ts
  backend/src/middlewares/validate-schema/validate-schema.middleware.ts
Due: npm run lint:editorconfig

HC-5: * make edits in jwt
  backend/src/common/enums/app/env.enum.ts
  backend/src/helpers/token/create-token/create-token.helper.ts
Due: npm run lint:editorconfig

HC-5: + add LoginResponse type and make use of it
  backend/src/services/auth/auth.service.ts
  shared/src/common/types/index.ts
  shared/src/common/types/responses/login-response.types.ts
Due: npm run lint:editorconfig

HC-5: * transfer login validation schema to validation-schemas
  shared/src/helpers/index.ts
  shared/src/helpers/validation/auth-schema/login-schema.helper.ts
  shared/src/helpers/validation/index.ts
  shared/src/index.ts
  shared/src/validation-schemas/auth/login.validation-schema.ts
  shared/src/validation-schemas/index.ts
Due: npm run lint:editorconfig

HC-5: * generalize validation messages & rules
  shared/src/common/enums/validation/auth/auth-validation-message.enum.ts
  shared/src/common/enums/validation/auth/auth-validation-rule.enum.ts
  shared/src/common/enums/validation/auth/index.ts
  shared/src/common/enums/validation/email-validation.enum.ts
  shared/src/common/enums/validation/index.ts
  shared/src/common/enums/validation/password-validation.enum.ts
Due: npm run lint:editorconfig

HC-5: * make small edits
  backend/package-lock.json
  frontend/src/components/sign-in-form/index.tsx
  frontend/src/services/http/http.service.ts
  frontend/src/services/storage/storage.service.ts
  frontend/src/store/slices/auth/auth.slice.ts
  shared/src/common/interfaces/user/user-login-payload.interface.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-3: * move validation-schema
  frontend/src/components/sign/components/form-sign-up.tsx
  frontend/src/validation-schema/index.ts
  shared/src/helpers/index.ts
  shared/src/helpers/validation/index.ts
  shared/src/validation-schema/index.ts
  shared/src/validation-schema/user/user.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-5: *change imports from shared
  frontend/src/common/enums/auth/index.ts
  frontend/src/common/enums/index.ts
  frontend/src/common/interfaces/index.ts
  frontend/src/common/interfaces/user/index.ts
  frontend/src/components/sign-in-form/index.tsx
  frontend/src/validation-schemas/auth/index.ts
  frontend/src/validation-schemas/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-5: * transfer jwt config to src/configs
  backend/src/configs/index.ts
  backend/src/configs/jwt.config.ts
Due: npm run lint:editorconfig

HC-5: * update imports source
  backend/src/api/auth/auth.api.ts
  backend/src/helpers/token/create-token/create-token.helper.ts
  backend/src/middlewares/validate-schema/validate-schema.middleware.ts
  frontend/src/components/sign-in-form/index.tsx
  frontend/src/store/slices/auth/auth.slice.ts
  shared/src/common/types/responses/login-response.types.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-5: + add validation-schemas to backend
  backend/src/validation-schemas/auth/index.ts
  backend/src/validation-schemas/index.ts
Due: npm run lint:editorconfig

HC-5: * make code prettier
  frontend/src/common/enums/auth/index.ts
  frontend/src/common/interfaces/user/index.ts
  frontend/src/validation-schemas/auth/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC16+add doctors-list marckup
  frontend/src/app.tsx
  frontend/src/assets/images/icons/chat.svg
  frontend/src/assets/images/icons/location.svg
  frontend/src/assets/images/icons/phone.svg
  frontend/src/common/enums/app/reducer-name.enum.ts
  frontend/src/components/doctors-search/components/doctor-item/doctors-item.tsx
  frontend/src/components/doctors-search/components/doctor-item/styles.module.scss
  frontend/src/components/doctors-search/components/doctors-list/doctors-list.tsx
  frontend/src/components/doctors-search/components/doctors-list/styles.module.scss
  frontend/src/components/doctors-search/doctors-search.tsx
  frontend/src/components/doctors-search/styles.module.scss
  frontend/src/store/slices/doctors/doctors.slice.ts
  frontend/src/store/slices/index.ts
  frontend/src/store/store.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC16+add doctors-list marckup
  frontend/src/store/slices/doctors/doctors.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-22: * move foreign key from users to diagnoses
  backend/src/data/migrations/20210304183602-create-users-table.js
  backend/src/data/models/user.ts
Due: npm run lint:editorconfig

HC-7 * fix warnings
  frontend/src/components/admin-page/edit-user.tsx
  frontend/src/components/admin-page/users.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-22: + add migration with associations
  backend/src/data/migrations/20210308125751-add-associations.js
Due: npm run lint:editorconfig

HC-22: + add associations to models
  backend/src/data/models/index.ts
Due: npm run lint:editorconfig

HC-3: + add BE routes
  backend/src/api/api.ts
  backend/src/api/auth/auth.api.ts
  backend/src/common/enums/api/index.ts
  backend/src/middlewares/index.ts
  backend/src/middlewares/validate-schema/validate-schema.meddleware.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/services.ts
  backend/src/validation-schemas/auth/index.ts
  backend/src/validation-schemas/index.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/auth-api-path.enum.ts
  shared/src/common/enums/api/index.ts
  shared/src/common/enums/api/users-api-path.enum.ts
  shared/src/common/enums/index.ts
  shared/src/common/types/index.ts
  shared/src/common/types/responses/sign-up.types.ts
Due: npm run lint:editorconfig

HC-3: * modify response
  backend/src/api/auth/auth.api.ts
Due: npm run lint:editorconfig

HC-22: - changes in migration
  backend/src/data/migrations/20210304183602-create-users-table.js
Due: npm run lint:editorconfig

HC-22: + add migration to remove diagnosis column
  backend/src/data/migrations/20210308152007-remove-diagnosis-column-from-users.js
Due: npm run lint:editorconfig

Path conditions:
  npm run lint:editorconfig: any of: *
  npm run lint:shared:js: any of: shared/**/*.{ts}
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
