Repository BinaryStudioAcademy/bsa-winter-2021-healthcare: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

HC-3: * change file name
  frontend/src/containers/signup-page/signup.page.tsx
  frontend/src/containers/signup-page/styles.module.scss
  frontend/src/index.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-3: * styles
  frontend/src/containers/signup-page/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-7 + add table iterface
  frontend/src/common/interfaces/app/table.interface.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * add export table interface
  frontend/src/common/interfaces/app/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * change all keys to lowercase
  frontend/src/common/interfaces/app/user.interface.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * chnage all initialState users key to lowercase
  frontend/src/store/slices/users/users.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * add new library - react-table
  package-lock.json
  package.json
Due: npm run lint:editorconfig

HC-7 * rename file
  frontend/src/containers/AdminPage/Users.tsx
  frontend/src/containers/AdminPage/actions-button.tsx
  frontend/src/containers/AdminPage/admin-page.tsx
  frontend/src/containers/AdminPage/search-and-filter-form.tsx
  frontend/src/containers/AdminPage/users.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 + add table using react-table
  frontend/src/containers/AdminPage/table.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-3: * validation user
  frontend/src/containers/signup-page/signup.page.tsx
  shared/src/common/enums/index.ts
  shared/src/common/enums/register/index.ts
  shared/src/common/enums/register/register-payload.enum.ts
  shared/src/helpers/index.ts
  shared/src/helpers/validation/auth-schema/auth-schema.helper.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC8*fixed imports, enums in migration, any type
  backend/src/common/enums/index.ts
  backend/src/common/enums/model-name/index.ts
  backend/src/common/enums/model-name/model-name.enum.ts
  backend/src/common/enums/models/index.ts
  backend/src/common/enums/models/models.enum.ts
  backend/src/data/migrations/20210304183602-create-users-table.js
  backend/src/data/models/user.ts
  backend/src/data/repositories/index.ts
  backend/src/data/repositories/user-repository.ts
  backend/src/services/services.ts
  backend/src/services/user-service/user-service.service.ts
Due: npm run lint:editorconfig

HC-9: + add enums for input and buttons
  frontend/src/common/enums/app/button.enum.ts
  frontend/src/common/enums/app/index.ts
  frontend/src/common/enums/app/text-input.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-9: + add input component
  frontend/src/components/common/text-input/styles.module.scss
  frontend/src/components/common/text-input/text-input.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-9: + add checkbox component
  frontend/src/components/common/checkbox/checkbox.tsx
  frontend/src/components/common/checkbox/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-9: + add button component
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/button/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-9: * add root styles
  frontend/src/assets/styles/index.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-9: * add onChange function to checkbox
  frontend/src/components/common/checkbox/checkbox.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * rename AdminPage folder to admin-page
  frontend/src/containers/AdminPage/actions-button.tsx
  frontend/src/containers/AdminPage/styles.module.scss
  frontend/src/containers/AdminPage/table.tsx
  frontend/src/containers/admin-page/actions-button.tsx
  frontend/src/containers/admin-page/admin-page.tsx
  frontend/src/containers/admin-page/config/config.json
  frontend/src/containers/admin-page/search-and-filter-form.tsx
  frontend/src/containers/admin-page/styles.module.scss
  frontend/src/containers/admin-page/table.tsx
  frontend/src/containers/admin-page/users.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-7 + add vector icon for actions with users
  frontend/src/assets/images/admin-page/vectordownload.svg
  frontend/src/assets/images/admin-page/vectoredit.svg
  frontend/src/assets/images/admin-page/vectorhistory.svg
  frontend/src/assets/images/admin-page/vectorpdf.svg
Due: npm run lint:editorconfig

HC-11: * export from shared
  backend/src/common/enums/appointment/index.ts
  backend/src/common/enums/clinic/index.ts
  backend/src/common/enums/document/index.ts
  backend/src/common/enums/index.ts
  backend/src/common/enums/instance-type/index.ts
  backend/src/common/interfaces/appointment/index.ts
  backend/src/common/interfaces/clinic/index.ts
  backend/src/common/interfaces/diagnosis/index.ts
  backend/src/common/interfaces/doctor/index.ts
  backend/src/common/interfaces/document/index.ts
  backend/src/common/interfaces/index.ts
  backend/src/common/interfaces/message/index.ts
  backend/src/common/interfaces/notification/index.ts
Due: npm run lint:editorconfig

HC-11: * move interfaces to the seperate folders.
  shared/src/common/interfaces/appointment/appointment.instance.ts
  shared/src/common/interfaces/appointment/index.ts
  shared/src/common/interfaces/clinic/clinic.instance.ts
  shared/src/common/interfaces/clinic/index.ts
  shared/src/common/interfaces/diagnosis/diagnosis.instance.ts
  shared/src/common/interfaces/diagnosis/index.ts
  shared/src/common/interfaces/doctor/doctor.instance.ts
  shared/src/common/interfaces/doctor/index.ts
  shared/src/common/interfaces/document/document.instance.ts
  shared/src/common/interfaces/document/index.ts
  shared/src/common/interfaces/index.ts
  shared/src/common/interfaces/instances/index.ts
  shared/src/common/interfaces/message/index.ts
  shared/src/common/interfaces/message/message.instance.ts
  shared/src/common/interfaces/notification/index.ts
  shared/src/common/interfaces/notification/notification.instance.ts
Due: npm run lint:editorconfig

HC-11: * move enums to the seperate folders
  shared/src/common/enums/appointment/appointment-type.enum.ts
  shared/src/common/enums/appointment/index.ts
  shared/src/common/enums/clinic/clinic-type.enum.ts
  shared/src/common/enums/clinic/index.ts
  shared/src/common/enums/document/document-status.enum.ts
  shared/src/common/enums/document/index.ts
  shared/src/common/enums/index.ts
  shared/src/common/enums/intance-type/index.ts
Due: npm run lint:editorconfig

HC-9: + add select component
  frontend/src/assets/images/arrow-down.svg
  frontend/src/components/common/select/select.tsx
  frontend/src/components/common/select/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-3: * package.json
  frontend/package.json
  shared/package.json
Due: npm run lint:editorconfig

HC-7 + add edit user reducer
  frontend/src/store/slices/users/edit-users.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * add new reducer name - EDIT_USER
  frontend/src/common/enums/app/reducer-name.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC8*naming changes
  backend/src/common/interfaces/index.ts
Due: npm run lint:editorconfig

HC-3: * refactor components structure
  frontend/src/components/common/index.ts
  frontend/src/components/common/sign/sign.tsx
  frontend/src/components/common/sign/styles.module.scss
  frontend/src/components/signup/signup.tsx
  frontend/src/components/signup/styles.module.scss
  frontend/src/containers/signup-page/signup.page.tsx
  frontend/src/containers/signup-page/styles.module.scss
  frontend/src/index.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-7 * replace admin-page to components
  frontend/src/components/admin-page/actions-button.tsx
  frontend/src/components/admin-page/admin-page.tsx
  frontend/src/components/admin-page/search-and-filter-form.tsx
  frontend/src/components/admin-page/styles.module.scss
  frontend/src/components/admin-page/table.tsx
  frontend/src/components/admin-page/users.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-7 - delete config for users
  frontend/src/containers/admin-page/config/config.json
Due: npm run lint:editorconfig

HC-7 + add editUser to reducers
  frontend/src/store/store.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 + add export for edit-users
  frontend/src/store/slices/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-3: * frontend package-lock,json
  frontend/package-lock.json
Due: npm run lint:editorconfig

HC-3: * backend package-lock,json
  backend/package-lock.json
Due: npm run lint:editorconfig

HC-5: * make auth service as a class
  backend/src/services/auth/auth.service.ts
  backend/src/services/services.ts
Due: npm run lint:editorconfig

HC-5: * move create-token to token folder
  backend/src/helpers/index.ts
  backend/src/helpers/string/create-token/create-token.helper.ts
  backend/src/helpers/string/index.ts
  backend/src/helpers/token/create-token/create-token.helper.ts
  backend/src/helpers/token/index.ts
Due: npm run lint:editorconfig

HC-5: * add secret to ENV, change jwt config
  backend/config/jwt.config.js
  backend/package-lock.json
  backend/package.json
  backend/src/api/api.ts
  backend/src/api/auth/auth.api.ts
  backend/src/common/enums/app/env.enum.ts
Due: npm run lint:editorconfig

HC-5: + add email and password enums
  shared/src/common/enums/index.ts
  shared/src/common/enums/validation/email-validation.enum.ts
  shared/src/common/enums/validation/index.ts
  shared/src/common/enums/validation/password-validation.enum.ts
Due: npm run lint:editorconfig

HC-5: + add login validation schema using yup
  shared/package-lock.json
  shared/package.json
  shared/src/helpers/constants/index.ts
  shared/src/helpers/constants/regex/regex.helper.ts
  shared/src/helpers/index.ts
  shared/src/helpers/validation/auth-schema/login-schema.helper.ts
  shared/src/helpers/validation/auth/auth.helper.ts
  shared/src/helpers/validation/index.ts
Due: npm run lint:editorconfig

HC-5: + add DataStatus and StorageKey enums
  frontend/src/common/enums/app/data-status.enum.ts
  frontend/src/common/enums/app/index.ts
  frontend/src/common/enums/app/storage-key.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

Path conditions:
  npm run lint:editorconfig: any of: *
  npm run lint:shared:js: any of: shared/**/*.{ts}
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
