Repository BinaryStudioAcademy/bsa-winter-2021-healthcare: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig
'shared/**/*.{ts}': npm run lint:shared:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js

HC-28: + user-with-permissions interface
  shared/src/common/enums/user/index.ts
  shared/src/common/enums/user/user-with-permissions-key.enum.ts
  shared/src/common/interfaces/index.ts
  shared/src/common/interfaces/user-with-permissions/index.ts
  shared/src/common/interfaces/user-with-permissions/user-with-permissions.interface.ts
Due: npm run lint:editorconfig

HC-28: * user-repository
  backend/src/common/interfaces/index.ts
  backend/src/common/interfaces/user-with-permissions/index.ts
  backend/src/data/repositories/user-repository.ts
Due: npm run lint:editorconfig

HC-7 * rename export for user validation
  backend/src/api/user/user.api.ts
  backend/src/validation-schemas/users/index.ts
  frontend/src/components/admin-page/edit-user.tsx
  frontend/src/validation-schemas/edit-user/index.ts
  shared/src/common/interfaces/edit-user/edit-user-payload.interface.ts
  shared/src/validation-schemas/edit-user/edit-user-schema.validation-schema.ts
  shared/src/validation-schemas/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * fixed mistakes
  frontend/src/components/admin-page/search-and-filter-form.tsx
  frontend/src/store/slices/users/users.slice.ts
  shared/src/common/enums/edit-user/edit-user-payload.enums.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * change key
  frontend/src/common/enums/user/index.ts
  frontend/src/components/admin-page/constants/user-instance.constant.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

changed db url
  backend/.env.example
Due: npm run lint:editorconfig

HC-7 * rename functions
  frontend/src/components/admin-page/admin-page.tsx
  frontend/src/components/admin-page/edit-user.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 + add phone validation
  frontend/src/components/common/modal/styles.module.scss
  shared/src/validation-schemas/edit-user/edit-user-schema.validation-schema.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-7 + add background for modal
  frontend/src/components/common/modal/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-33: + quality criterias
  quality-criteria.md
Due: npm run lint:editorconfig

HC-33: * edit config
  quality-criteria.md
Due: npm run lint:editorconfig

HC24: * add error type check
  frontend/src/store/slices/auth/auth.slice.ts
  frontend/src/store/slices/doctors/doctors.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC24: * change handleError to return array of messages
  backend/src/middlewares/handle-error/handle-error.middleware.ts
Due: npm run lint:editorconfig

HC24: * add array handling to notification service
  frontend/src/services/notification/notification.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC24: * change string to array in http service
  frontend/src/services/http/http.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

hc24: * update HttpError to include array of strings in messages
  shared/src/exceptions/http-error/http-error.exception.ts
Due: npm run lint:editorconfig

HC-15: + add payload for filtration form
  frontend/src/common/enums/filtration/index.ts
  frontend/src/common/enums/index.ts
  frontend/src/common/interfaces/filtration/index.ts
  frontend/src/common/interfaces/index.ts
  shared/src/common/enums/doctor/doctor-assessment.enum.ts
  shared/src/common/enums/doctor/index.ts
  shared/src/common/enums/filtration/doctor-filtration.enum.ts
  shared/src/common/enums/filtration/index.ts
  shared/src/common/enums/index.ts
  shared/src/common/interfaces/filtration/doctor-filtration-payload.interface.ts
  shared/src/common/interfaces/filtration/index.ts
  shared/src/common/interfaces/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-15: * modify styles of Details
  frontend/src/components/common/details/details.tsx
  frontend/src/components/common/details/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC24: - remove interface from HttpError
  shared/src/exceptions/http-error/http-error.exception.ts
Due: npm run lint:editorconfig

HC-20 + add clinic page and add clinic component
  frontend/src/app.tsx
  frontend/src/common/enums/clinic/index.ts
  frontend/src/components/clinic/clinic.tsx
  frontend/src/components/clinic/components/add-clinic/add-clinic.tsx
  frontend/src/components/clinic/components/add-clinic/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC31*modified card to work from props
  frontend/src/common/enums/card/card-fields.enum.ts
  frontend/src/common/enums/card/card-icon.enum.ts
  frontend/src/common/enums/card/index.ts
  frontend/src/common/enums/index.ts
  frontend/src/common/interfaces/form/button-props.interface.ts
  frontend/src/common/interfaces/form/index.ts
  frontend/src/common/types/card/field.type.ts
  frontend/src/common/types/card/index.ts
  frontend/src/common/types/card/info-block.type.ts
  frontend/src/common/types/card/sec-button.type.ts
  frontend/src/common/types/index.ts
  frontend/src/components/common/card/card-body.tsx
  frontend/src/components/common/card/card-footer.tsx
  frontend/src/components/common/card/card-header.tsx
  frontend/src/components/common/card/card-image.tsx
  frontend/src/components/common/card/card-main.tsx
  frontend/src/components/common/card/card.tsx
  frontend/src/components/common/card/index.ts
  frontend/src/components/common/card/styles.module.scss
  frontend/src/components/common/index.ts
  frontend/src/components/doctors-search/components/doctor-item/doctors-item.tsx
  frontend/src/components/doctors-search/components/doctor-item/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC31*modified card to work from props
  frontend/src/common/enums/card/card-icon.enum.ts
  frontend/src/common/interfaces/form/button-props.interface.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-21: *add specialization enums
  backend/src/common/enums/db/model-alias.enum.ts
  backend/src/common/enums/db/model-name.enum.ts
  backend/src/common/enums/db/table-name.enum.ts
  backend/src/common/enums/index.ts
  backend/src/common/enums/specialization/index.ts
Due: npm run lint:editorconfig

HC-21: +add SpecializationModel
  backend/src/common/types/db/db-models.type.ts
  backend/src/data/models/index.ts
  backend/src/data/models/specializations.ts
Due: npm run lint:editorconfig

HC-21: + import ISpecialization interrrface from shared to backend
  backend/src/common/interfaces/index.ts
  backend/src/common/interfaces/specialization/index.ts
Due: npm run lint:editorconfig

HC-21: *add getDoctorDetailsById metod (without specializations)
  backend/src/data/repositories/user-repository.ts
Due: npm run lint:editorconfig

HC-33: * critria format
  quality-criteria.md
Due: npm run lint:editorconfig

HC-21: +migrtion to create users-specializations table
  backend/src/data/migrations/20210315071420-create users-specializations table.js
Due: npm run lint:editorconfig

development: * criteria format
  quality-criteria.md
Due: npm run lint:editorconfig

Update table-name.enum.ts
  backend/src/common/enums/db/table-name.enum.ts
Due: npm run lint:editorconfig

HC-15: * add useForm
  frontend/src/components/doctors-filtration-panel/doctors-filtration-panel.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

development: * node version
  backend/package.json
  frontend/package.json
  shared/package.json
Due: npm run lint:editorconfig

HC-21: *update migration create users-specializations table
  backend/src/data/migrations/20210315071420-create users-specializations table.js
Due: npm run lint:editorconfig

HC-15: * remove clsx
  frontend/src/components/doctors-filtration-panel/doctors-filtration-panel.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-23: + Add geolocation table
  backend/src/common/enums/db/foreing-key.enum.ts
  backend/src/common/enums/db/model-alias.enum.ts
  backend/src/common/enums/db/model-name.enum.ts
  backend/src/common/enums/db/table-name.enum.ts
  backend/src/common/enums/geolocation/index.ts
  backend/src/common/enums/index.ts
  backend/src/common/interfaces/geolocation/index.ts
  backend/src/common/interfaces/index.ts
  backend/src/common/types/db/db-models.type.ts
  backend/src/data/db/associations.ts
  backend/src/data/migrations/20210315112307-add-geolocation-table-and-column-to-users-table.js
  backend/src/data/models/geolocation.ts
  backend/src/data/models/index.ts
  shared/src/common/enums/geolocation/geolocation-key.enum.ts
  shared/src/common/enums/geolocation/index.ts
  shared/src/common/enums/index.ts
  shared/src/common/enums/user/user-key.enum.ts
  shared/src/common/interfaces/geolocation/geolocation.instance.ts
  shared/src/common/interfaces/geolocation/index.ts
  shared/src/common/interfaces/index.ts
  shared/src/common/interfaces/user/user.interface.ts
Due: npm run lint:editorconfig

HC24: * add exeption message interface
  shared/src/common/interfaces/exeption-message/exeption-message.instance.ts
  shared/src/common/interfaces/exeption-message/index.ts
  shared/src/common/interfaces/index.ts
Due: npm run lint:editorconfig

HC24: * pass string to logger
  backend/src/middlewares/handle-error/handle-error.middleware.ts
Due: npm run lint:editorconfig

HC24: * update http service to get messages array
  frontend/src/services/http/http.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC24: * add info method
  frontend/src/services/notification/notification.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js
