Repository BinaryStudioAcademy/bsa-winter-2021-healthcare: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

development: * return styles
  frontend/src/assets/styles/index.scss
  frontend/src/components/not-found/not-found.module.scss
  frontend/src/components/not-found/not-found.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-9: * change radio component to receive array of IOptions
  frontend/src/components/common/radio/radio.tsx
  frontend/src/components/common/radio/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-9: * fix padding amount
  frontend/src/components/common/checkbox/checkbox.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-9: * rename option file
  frontend/src/common/interfaces/form/index.ts
  frontend/src/common/interfaces/form/option.interface.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-9: * move visually hidden to index styles
  frontend/src/assets/styles/index.scss
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/button/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-9: * redo isChecked for radio
  frontend/src/components/common/radio/radio.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-9: * remove return
  frontend/src/components/common/radio/radio.tsx
  frontend/src/components/common/select/select.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-9: * change tag
  frontend/src/components/common/text-input/text-input.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-9: * rename rule in css
  frontend/src/assets/styles/index.scss
  frontend/src/components/common/text-input/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC16+add db aliases corrected mistakes
  backend/src/api/user/user.api.ts
  backend/src/common/enums/db/foreing-keys.enum.ts
  backend/src/common/enums/db/index.ts
  backend/src/common/enums/db/model-alias.enum.ts
  backend/src/data/db/associations.ts
  backend/src/data/repositories/user-repository.ts
  frontend/src/common/enums/app/data-status.enum.ts
  frontend/src/common/enums/app/index.ts
  frontend/src/common/interfaces/doctor-clinic/doctor-clinic.enum.ts
  frontend/src/common/interfaces/doctor-clinic/index.ts
  frontend/src/common/interfaces/index.ts
  frontend/src/common/interfaces/user-type-doctor/index.ts
  frontend/src/common/interfaces/user-type-doctor/user-type-doctor.ts
  frontend/src/components/doctors-search/common/interfaces/index.ts
  frontend/src/components/doctors-search/common/interfaces/user-type-doctor.interface.ts
  frontend/src/components/doctors-search/components/doctor-item/doctors-item.tsx
  frontend/src/components/doctors-search/components/doctors-list/doctors-list.tsx
  frontend/src/components/doctors-search/doctors-search.tsx
  frontend/src/components/doctors-search/styles.module.scss
  frontend/src/services/index.ts
  frontend/src/services/user-api/user-api.service.ts
  frontend/src/store/slices/doctors/doctors.slice.ts
  frontend/src/store/slices/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-21: +add migration - create specializations table
  backend/src/data/migrations/20210310221716-create-specializations-table.js
Due: npm run lint:editorconfig

HC-21: +add seed to fill specializations table
  backend/src/data/seeders/20210311091801-fill-specializations-table.js
Due: npm run lint:editorconfig

HC-7 + add exports from healthcare-shared
  frontend/src/common/enums/index.ts
  frontend/src/common/enums/register/index.ts
  frontend/src/common/enums/users/index.ts
  frontend/src/common/enums/users/usersex.enum.ts
  frontend/src/common/enums/users/usertype.enum.ts
  frontend/src/common/interfaces/user/index.ts
  frontend/src/helpers/index.ts
  frontend/src/helpers/validation/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * fix version for react-table to 7.6.3
  frontend/package.json
  package.json
Due: npm run lint:editorconfig

HC-7 * prepare table to replace to common
  frontend/src/common/interfaces/app/table.interface.ts
  frontend/src/components/admin-page/table.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * move anonymous functions from jsx
  frontend/src/components/admin-page/actions-button.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * fix exports and imports
  frontend/src/common/enums/api/index.ts
  frontend/src/common/enums/index.ts
  frontend/src/services/index.ts
  frontend/src/services/user-api/user-api.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 - remove counter
  frontend/src/components/counter/counter.tsx
  frontend/src/store/slices/index.ts
  frontend/src/store/slices/users/users.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * edit vector images
  frontend/src/assets/images/admin-page/vectordownload.svg
  frontend/src/assets/images/admin-page/vectoredit.svg
  frontend/src/assets/images/admin-page/vectorhistory.svg
  frontend/src/assets/images/admin-page/vectorpdf.svg
Due: npm run lint:editorconfig

HC-27: * TextInput
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/text-input/styles.module.scss
  frontend/src/components/common/text-input/text-input.tsx
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/sign/components/sign-up-form/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-7 + add enum to date type Identifier
  frontend/src/common/enums/users/date-identifiers.enum.ts
  frontend/src/common/enums/users/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-15: + add new icons
  frontend/src/assets/images/clinic.svg
  frontend/src/assets/images/location.svg
  frontend/src/assets/images/record.svg
  frontend/src/assets/images/specialty.svg
  frontend/src/assets/images/star.svg
  frontend/src/assets/images/wallet.svg
Due: npm run lint:editorconfig

HC-15: + add payment-type enum
  frontend/src/common/enums/payment/index.ts
  shared/src/common/enums/payment/index.ts
  shared/src/common/enums/payment/payment-type.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-15: + add doctor-type enum
  shared/src/common/enums/doctor/doctor-type.enum.ts
Due: npm run lint:editorconfig

HC-15: + add doctor-assessment enum
  frontend/src/common/enums/doctor/index.ts
  shared/src/common/enums/doctor/doctor-assesment.enum.ts
  shared/src/common/enums/doctor/index.ts
  shared/src/common/enums/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-15: * add enums to FE
  frontend/src/common/enums/appointment/index.ts
  frontend/src/common/enums/clinic/index.ts
  frontend/src/common/enums/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC24: + add react redux toastr package
  frontend/package-lock.json
  frontend/package.json
Due: npm run lint:editorconfig

HC-27: * fix surname validation
  shared/src/validation-schemas/user/user.ts
Due: npm run lint:editorconfig

HC-14: * add more routes to AppRoute
  frontend/src/common/enums/app/app-route.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-14: + add header copmonent
  frontend/src/components/common/header/header.module.scss
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-14: + add useVisible hook and Props for header
  frontend/src/components/common/header/common/hooks/use-visible.tsx
  frontend/src/components/common/header/common/index.ts
  frontend/src/components/common/header/common/types/props.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-14: * change Link to NavLink and add activeClassName
  frontend/src/components/common/link/link.module.scss
  frontend/src/components/common/link/link.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-19: + clinic route
  backend/src/api/api.ts
  backend/src/api/clinic/clinic.api.ts
Due: npm run lint:editorconfig

HC-19: + clinic repository
  backend/src/data/repositories/clinic-repository.ts
Due: npm run lint:editorconfig

HC-19: + clinic service
  backend/src/data/repositories/index.ts
  backend/src/services/clinic-service/clinic-service.service.ts
  backend/src/services/services.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/clinics-api-path.enum.ts
  shared/src/common/enums/api/index.ts
Due: npm run lint:editorconfig

HC16*fixed aliases in db models
  backend/src/api/user/user.api.ts
  backend/src/common/enums/db/attribute.enum.ts
  backend/src/common/enums/db/foreing-key.enum.ts
  backend/src/common/enums/db/index.ts
  backend/src/common/enums/db/model-alias.enum.ts
  backend/src/data/db/associations.ts
  backend/src/data/repositories/user-repository.ts
  backend/src/services/user-service/user-service.service.ts
  frontend/src/common/interfaces/doctor-clinic/doctor-clinic.enum.ts
  frontend/src/common/interfaces/user-type-doctor/user-type-doctor.ts
  frontend/src/components/doctors-search/components/doctor-item/doctors-item.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-15: + common component details
  frontend/src/components/common/details/details.tsx
  frontend/src/components/common/details/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-15: + markup for panel
  frontend/src/components/doctors-filtration-panel/doctors-filtration-panel.tsx
  frontend/src/components/doctors-filtration-panel/doctors-filtration.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC16*modified route enum
  backend/src/common/enums/db/model-alias.enum.ts
  backend/src/data/db/associations.ts
  backend/src/services/user-service/user-service.service.ts
  frontend/src/common/enums/api/api-path.enum.ts
  frontend/src/common/enums/api/auth-api-path.enum.ts
  frontend/src/common/enums/api/index.ts
  frontend/src/common/enums/api/user-api-path.enum.ts
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/services/user-api/user-api.service.ts
  shared/src/common/enums/http/http-header.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-24 * add @types for react-redux-toastr package
  frontend/package-lock.json
  frontend/package.json
Due: npm run lint:editorconfig

Path conditions:
  npm run lint:editorconfig: any of: *
  npm run lint:shared:js: any of: shared/**/*.{ts}
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
