Repository BinaryStudioAcademy/bsa-winter-2021-healthcare: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig
'shared/**/*.{ts}': npm run lint:shared:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js

development: * grammar mistake
  frontend/src/components/profile/common/types/edit-document-cb.ts
  frontend/src/components/profile/common/types/edite-document-cb.ts
  frontend/src/components/profile/common/types/index.ts
  frontend/src/components/profile/components/documents/documents.tsx
  frontend/src/components/profile/components/edit-document-popup/edit-document-popup.tsx
  frontend/src/components/profile/components/edit-document-popup/styles.module.scss
  frontend/src/components/profile/components/user-info/user-info.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

development: * type error
  backend/src/services/document-service/document-service.service.ts
  frontend/src/components/profile/profile.tsx
  frontend/src/services/document-api/document-api.service.ts
  frontend/src/store/slices/profile/profile.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-50: + UploadFileType enum
  shared/src/common/enums/index.ts
  shared/src/common/enums/upload-file/index.ts
  shared/src/common/enums/upload-file/upload-file-type.enum.ts
Due: npm run lint:editorconfig

HC-50: + CLOUDINARY_URL to ENV enum
  backend/src/common/enums/app/env.enum.ts
  backend/src/configs/cloudinary.config.ts
Due: npm run lint:editorconfig

HC-50: * return type
  backend/src/api/image/image.api.ts
  backend/src/common/enums/index.ts
  backend/src/common/enums/upload-file/index.ts
  backend/src/services/upload-file/upload-file.service.ts
Due: npm run lint:editorconfig

HC-50: * http service
  frontend/src/services/http/http.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-50: * image service
  frontend/src/common/enums/index.ts
  frontend/src/common/enums/upload-file/index.ts
  frontend/src/services/image/image.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC37: * make user helper an replace code with it
  frontend/src/components/common/authorized-route/authorized-route.tsx
  frontend/src/components/common/authorized-wrapper/authorized-wrapper.tsx
  frontend/src/components/sign/sign.tsx
  frontend/src/helpers/index.ts
  frontend/src/helpers/user/get-user.helper.ts
  frontend/src/helpers/user/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC37: * move covid btn component to common
  frontend/src/components/common/covid-button/covid-button.tsx
  frontend/src/components/common/covid-button/styles.module.scss
  frontend/src/components/common/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

Revert "HC37: * make user helper an replace code with it"
  frontend/src/components/common/authorized-route/authorized-route.tsx
  frontend/src/components/common/authorized-wrapper/authorized-wrapper.tsx
  frontend/src/components/sign/sign.tsx
  frontend/src/helpers/index.ts
  frontend/src/helpers/user/get-user.helper.ts
  frontend/src/helpers/user/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC37: * move hasPermission helper to common frontend helpers folder
  frontend/src/components/common/authorized-route/authorized-route.tsx
  frontend/src/components/common/authorized-wrapper/authorized-wrapper.tsx
  frontend/src/helpers/index.ts
  frontend/src/helpers/permission/check-has-permission.ts
  frontend/src/helpers/permission/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-50: * enum names
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/images-api-path.enum.ts
  shared/src/common/enums/api/index.ts
  shared/src/common/enums/api/upload-file-api-path.enum.ts
Due: npm run lint:editorconfig

HC-50: * service name
  frontend/src/services/index.ts
  frontend/src/services/upload-file/upload-file.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-50: * api names
  backend/src/api/api.ts
  backend/src/api/image/image.api.ts
  backend/src/api/upload-file/upload-file.api.ts
  backend/src/common/enums/api/index.ts
  backend/src/services/upload-file/upload-file.service.ts
Due: npm run lint:editorconfig

HC-40: + add notifications api path
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/index.ts
  shared/src/common/enums/api/notifications-api-path.enum.ts
Due: npm run lint:editorconfig

HC-40: + add notification router
  backend/src/api/notification/notification.api.ts
Due: npm run lint:editorconfig

HC-40: + add notification repository
  backend/src/data/repositories/index.ts
  backend/src/data/repositories/notifications-repository.ts
Due: npm run lint:editorconfig

HC-40: + add notification service
  backend/src/services/notification/notification.service.ts
  backend/src/services/services.ts
Due: npm run lint:editorconfig

HC-40: * add routes
  backend/src/api/api.ts
  backend/src/common/enums/api/index.ts
  frontend/src/app.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-40: + add notification slice
  frontend/src/store/slices/index.ts
  frontend/src/store/slices/notifications/notifications.slice.ts
  frontend/src/store/store.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-40: * add getAll to notificationService
  frontend/src/services/index.ts
  frontend/src/services/notification/notification.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-40: + create helper for date
  frontend/src/helpers/date/get-time/get-time.helper.ts
  frontend/src/helpers/date/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-40: * get notifications from db
  frontend/src/common/enums/api/index.ts
  frontend/src/common/enums/app/reducer-name.enum.ts
  frontend/src/components/notifications/components/notification/notification.tsx
  frontend/src/components/notifications/notifications.tsx
  frontend/src/helpers/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-52: +add IDoctorRegisterPayload instance
  backend/src/common/interfaces/doctor-register-payload/index.ts
  backend/src/common/interfaces/index.ts
  shared/src/common/interfaces/doctor-register-payload/doctor-register-payload.interface.ts
  shared/src/common/interfaces/doctor-register-payload/index.ts
  shared/src/common/interfaces/index.ts
Due: npm run lint:editorconfig

HC-52: *update DoctorKey enum
  shared/src/common/enums/doctor/doctor-key.enum.ts
Due: npm run lint:editorconfig

HC-52: +add doctor-service
  backend/src/services/doctor-service/doctor-service.service.ts
  backend/src/services/services.ts
Due: npm run lint:editorconfig

HC-52: +add doctor-repository
  backend/src/data/repositories/doctor-repository.ts
  backend/src/data/repositories/index.ts
Due: npm run lint:editorconfig

HC-52: *correct IDoctor instance
  shared/src/common/interfaces/doctor/doctor.instance.ts
Due: npm run lint:editorconfig

HC-40: * fix after merge
  frontend/src/helpers/date/get-time.helper.ts
  frontend/src/helpers/date/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-52: *update user-repositoriy (remove doctor.department)
  backend/src/data/repositories/user-repository.ts
Due: npm run lint:editorconfig

HC-52: -remove doctor.department from doctorDetails component
  frontend/src/components/doctor-details/doctor-details.tsx
  frontend/src/components/doctor-details/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-52: -remove doctor.department from doctors-item
  frontend/src/components/doctors/components/doctor-item/doctors-item.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-52: *update auth.Api
  backend/src/api/auth/auth.api.ts
Due: npm run lint:editorconfig

HC54*fixing lint
  backend/src/api/appointment/appointment.api.ts
  frontend/src/components/doctor-details/components/appointment/appointment.tsx
  frontend/src/components/doctor-details/components/doctor/doctor.tsx
  frontend/src/components/doctor-details/components/doctor/styles.module.scss
  frontend/src/services/appointment-api/appointment-api.service.ts
  frontend/src/store/slices/appointment/appointment.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-52: *complete review corrections
  backend/src/api/auth/auth.api.ts
  backend/src/services/doctor-service/doctor-service.service.ts
  frontend/src/components/doctors/components/doctor-item/doctors-item.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-43: * add order to diagnoses
  backend/src/data/repositories/diagnosis.repository.ts
Due: npm run lint:editorconfig

HC-43: * change names according to criteria A3
  backend/src/configs/passport.config.ts
  backend/src/data/repositories/document-repository.ts
  backend/src/data/repositories/index.ts
  backend/src/services/document-service/document-service.service.ts
Due: npm run lint:editorconfig

HC-43: * add diagnoses page route; fix user-profile route
  frontend/src/common/enums/app/app-route.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-43: * move diagnosis logic to profile slice
  frontend/src/common/enums/app/reducer-name.enum.ts
  frontend/src/store/slices/diagnoses/diagnoses.slice.ts
  frontend/src/store/slices/profile/profile.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js
