Repository BinaryStudioAcademy/bsa-winter-2021-healthcare: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig
'shared/**/*.{ts}': npm run lint:shared:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js

HC-27: * common components & sign-up form
  frontend/src/common/enums/form/input-type.enum.ts
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/common/date-input/date-input.tsx
  frontend/src/components/common/date-input/datepicker-custom-styles.scss
  frontend/src/components/common/date-input/styles.module.scss
  frontend/src/components/common/select/select.tsx
  frontend/src/components/common/select/styles.module.scss
  frontend/src/components/common/text-input/styles.module.scss
  frontend/src/components/common/text-input/text-input.tsx
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/sign/components/sign-up-form/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-21: +add markup doctor details
  frontend/src/assets/images/icons/check.svg
  frontend/src/assets/images/icons/phone.svg
  frontend/src/components/doctor-details/doctor-details.tsx
  frontend/src/components/doctor-details/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-27: * sign-in & sign-up form
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/sign/components/sign-in-form/signin.module.scss
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/sign/components/sign-up-form/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-27: * implemented recommendations
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/date-input/date-input.tsx
  frontend/src/components/common/select/select.tsx
  frontend/src/components/common/text-input/text-input.tsx
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-27: * add "Have account? Sign in" in SignUpForm
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 + add editUser validation schema and interface, enum for editUser payload
  frontend/src/common/enums/edit-user/index.ts
  frontend/src/common/enums/index.ts
  frontend/src/common/interfaces/edit-user/index.ts
  frontend/src/common/interfaces/index.ts
  frontend/src/helpers/validation/index.ts
  shared/src/common/enums/edit-user/edit-user-payload.enums.ts
  shared/src/common/enums/edit-user/index.ts
  shared/src/common/enums/index.ts
  shared/src/common/interfaces/edit-user/edit-user-payload.interface.ts
  shared/src/common/interfaces/edit-user/index.ts
  shared/src/common/interfaces/index.ts
  shared/src/helpers/validation/edit-user/edit-user-schema.helper.ts
  shared/src/helpers/validation/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * replace Table to common
  frontend/src/components/admin-page/styles.module.scss
  frontend/src/components/common/index.ts
  frontend/src/components/common/table/styles.module.scss
  frontend/src/components/common/table/table.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-7 * set icon to background image and edit functions
  frontend/src/components/admin-page/actions-button.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * edit routes to pop-up
  frontend/src/components/admin-page/admin-page.tsx
  frontend/src/components/admin-page/create-user.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * rename component
  frontend/src/components/admin-page/search-and-filter-form.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * edit date identifiers to enums
  frontend/src/components/admin-page/users.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 - delete mock data
  frontend/src/store/slices/users/users.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-27: * implemented recommendations
  frontend/src/common/types/form/form-default-value.ts
  frontend/src/common/types/form/form-errors.type.ts
  frontend/src/common/types/form/index.ts
  frontend/src/common/types/form/select-change-callback.type.ts
  frontend/src/components/common/date-input/date-input.tsx
  frontend/src/components/common/date-input/styles.module.scss
  frontend/src/components/common/select/select.tsx
  frontend/src/components/common/select/styles.module.scss
  frontend/src/components/common/text-input/styles.module.scss
  frontend/src/components/common/text-input/text-input.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC:19: + add clinic routes
  frontend/src/app.tsx
  frontend/src/common/enums/api/index.ts
  frontend/src/common/enums/api/user-api-path.enum.ts
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/common/enums/app/reducer-name.enum.ts
  frontend/src/common/interfaces/clinic/index.ts
  frontend/src/common/interfaces/index.ts
  frontend/src/components/clinics/clinics.tsx
  frontend/src/components/clinics/components/clinic/clinic.module.scss
  frontend/src/components/clinics/components/clinic/clinic.tsx
  frontend/src/components/clinics/components/index.ts
  frontend/src/services/clinic-api/clinic-api.service.ts
  frontend/src/services/index.ts
  frontend/src/store/slices/clinics/clinics.slice.ts
  frontend/src/validation-schemas/user/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-7 * fix versions
  backend/package-lock.json
  frontend/package-lock.json
  package-lock.json
  shared/package-lock.json
Due: npm run lint:editorconfig

HC-27: * datepicker styles
  frontend/src/components/common/date-input/datepicker-custom-styles.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-21: * update css (add blue bubbles in <li> tag
  frontend/public/images/photo.jpg
  frontend/src/app.tsx
  frontend/src/assets/images/icons/ellipse.png
  frontend/src/components/doctor-details/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-15: * correct displaying of inputs
  frontend/src/components/doctors-filtration-panel/doctors-filtration-panel.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * add react-table to frontend
  frontend/package-lock.json
  frontend/package.json
Due: npm run lint:editorconfig

HC-7 * fix exports
  frontend/src/helpers/validation/index.ts
  shared/src/helpers/validation/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * edit defoult value for state and fixed mistakes
  frontend/src/components/admin-page/create-user.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * edit addUser function
  frontend/src/store/slices/users/users.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-19: + id to instances
  shared/src/common/interfaces/appointment/appointment.instance.ts
  shared/src/common/interfaces/clinic/clinic.instance.ts
  shared/src/common/interfaces/diagnosis/diagnosis.instance.ts
  shared/src/common/interfaces/doctor/doctor.instance.ts
  shared/src/common/interfaces/document/document.instance.ts
  shared/src/common/interfaces/message/message.instance.ts
  shared/src/common/interfaces/notification/notification.instance.ts
Due: npm run lint:editorconfig

HC-7 + add styles for edit and create user pop-ups
  frontend/src/components/admin-page/admin-page.tsx
  frontend/src/components/admin-page/create-user.tsx
  frontend/src/components/admin-page/edit-user.tsx
  frontend/src/components/admin-page/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-19: + clinics components
  backend/src/api/clinic/clinic.api.ts
  frontend/src/components/clinics/clinics.tsx
  frontend/src/components/clinics/components/clinic/clinic.module.scss
  frontend/src/components/clinics/components/clinic/clinic.tsx
  frontend/src/components/clinics/components/index.ts
  frontend/src/services/clinic-api/clinic-api.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-19: + clinics slice
  frontend/src/store/slices/clinics/clinics.slice.ts
  frontend/src/store/slices/index.ts
  frontend/src/store/store.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-14: * transfer useVisible hook to src/hooks
  frontend/src/components/common/header/common/index.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/use-visible/use-visible.hook.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-14: * change button & link components, use link in button
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/link/common/types.ts
  frontend/src/components/common/link/link.module.scss
  frontend/src/components/common/link/link.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-14: * change styles, imports; add labels, img size, notifications route
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/common/header/header.module.scss
  frontend/src/components/common/header/header.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-14: * remove test data
  frontend/src/components/common/header/header.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC6+add profile component
  frontend/src/app.tsx
  frontend/src/assets/images/icons/mail.svg
  frontend/src/assets/images/icons/pen.svg
  frontend/src/components/profile/components/profile-info/profile-info.tsx
  frontend/src/components/profile/components/profile-info/styles.module.scss
  frontend/src/components/profile/components/profile-menu/profile-menu.tsx
  frontend/src/components/profile/components/profile-menu/styles.module.scss
  frontend/src/components/profile/profile.tsx
  frontend/src/components/profile/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-14: * remove search button and empty onclick
  frontend/src/components/common/header/header.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-14: * make onClick not required, return component depends on href prop
  frontend/src/components/common/button/button.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-14: * add caprture flag with value true
  frontend/src/hooks/use-visible/use-visible.hook.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * fix version for react-table
  frontend/package.json
Due: npm run lint:editorconfig

HC-7 * rename to date-identifier
  frontend/src/common/enums/users/date-identifier.enum.ts
  frontend/src/common/enums/users/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * change enum keys to uppercase
  frontend/src/common/enums/users/date-identifier.enum.ts
  frontend/src/components/admin-page/users.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC16-removed optional id for interfaces
  frontend/src/components/doctors-search/components/doctor-item/styles.module.scss
  frontend/src/components/doctors-search/components/doctors-list/styles.module.scss
  frontend/src/components/doctors-search/styles.module.scss
  shared/src/common/interfaces/appointment/appointment.instance.ts
  shared/src/common/interfaces/clinic/clinic.instance.ts
  shared/src/common/interfaces/diagnosis/diagnosis.instance.ts
  shared/src/common/interfaces/doctor/doctor.instance.ts
  shared/src/common/interfaces/document/document.instance.ts
  shared/src/common/interfaces/message/message.instance.ts
  shared/src/common/interfaces/notification/notification.instance.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-7 + add PDF, EDIT, DELETE icons
  frontend/src/assets/images/admin-page/vectordownload.svg
  frontend/src/assets/images/admin-page/vectorhistory.svg
  frontend/src/assets/images/edit-icon.svg
  frontend/src/assets/images/pdf-icon.svg
  frontend/src/assets/images/trash-icon.svg
  frontend/src/common/enums/form/button-icon.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js
