Repository BinaryStudioAcademy/bsa-winter-2021-healthcare: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

HC24: * add throw error
  frontend/src/store/slices/doctors/doctors.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-20 + add clinic validation
  frontend/src/components/clinic/components/add-clinic/add-clinic.tsx
  frontend/src/validation-schemas/clinic/index.ts
  frontend/src/validation-schemas/index.ts
  shared/src/common/enums/validation/clinic/clinic-validation-message.enum.ts
  shared/src/common/enums/validation/clinic/index.ts
  shared/src/common/enums/validation/index.ts
  shared/src/validation-schemas/clinic/clinic.validation-schema.ts
  shared/src/validation-schemas/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-20 + add styles for import file
  frontend/src/assets/images/icons/camera.svg
  frontend/src/components/clinic/components/add-clinic/add-clinic.tsx
  frontend/src/components/clinic/components/add-clinic/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC24: - remove console log
  frontend/src/services/http/http.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC24: * move toaster to top right
  frontend/src/components/common/toaster/toaster.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC24: * add IServerResponseErr to commont interfaces
  frontend/src/common/interfaces/exeption-message/index.ts
  frontend/src/common/interfaces/index.ts
  frontend/src/services/http/http.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-35: + migration to create cities table
  backend/src/data/migrations/20210315140847-create-cities-table.js
Due: npm run lint:editorconfig

HC-35: + cityId to clinics table
  backend/src/data/migrations/20210315141009-add-cityId-to-clinics.js
Due: npm run lint:editorconfig

HC-7 - remove identifier checker
  frontend/src/components/admin-page/admin-table.tsx
  frontend/src/components/admin-page/helpers/check-identifier-type.helper.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 - remove odd code
  frontend/src/components/admin-page/admin-page.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * change edit user prop type to IEditUserPayload
  frontend/src/components/admin-page/edit-user.tsx
  frontend/src/services/user-api/user-api.service.ts
  frontend/src/store/slices/users/users.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * change type for data props to CustomRecord
  frontend/src/components/common/table/table.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * comment geoposition
  shared/src/common/interfaces/user/user.interface.ts
Due: npm run lint:editorconfig

HC-7 - remove geolocation
  shared/src/common/interfaces/user/user.interface.ts
Due: npm run lint:editorconfig

HC-35: + city-key enum
  shared/src/common/enums/city/city-key.enum.ts
  shared/src/common/enums/city/index.ts
  shared/src/common/enums/index.ts
Due: npm run lint:editorconfig

HC-35: + city interface
  shared/src/common/interfaces/city/city.instance.ts
  shared/src/common/interfaces/city/index.ts
  shared/src/common/interfaces/index.ts
Due: npm run lint:editorconfig

HC-35: + city model
  backend/src/common/enums/db/model-name.enum.ts
  backend/src/common/enums/db/table-name.enum.ts
  backend/src/common/interfaces/city/index.ts
  backend/src/common/interfaces/index.ts
  backend/src/data/models/city.ts
  backend/src/data/models/index.ts
Due: npm run lint:editorconfig

HC-35: + association between city and clinic
  backend/src/common/enums/db/foreing-key.enum.ts
  backend/src/common/enums/db/model-alias.enum.ts
  backend/src/common/types/db/db-models.type.ts
  backend/src/data/db/associations.ts
Due: npm run lint:editorconfig

HC-7 * replace admin-table
  frontend/src/components/admin-page/admin-page.tsx
  frontend/src/components/admin-page/components/admin-table/admin-table.tsx
  frontend/src/components/common/table/table.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * fixed lint error
  frontend/src/components/admin-page/admin-page.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-21:*+specialization_id to foreingKey enum
  backend/src/common/enums/db/foreing-key.enum.ts
Due: npm run lint:editorconfig

HC-21: *+user_specialization to model-name enum
  backend/src/common/enums/db/model-name.enum.ts
Due: npm run lint:editorconfig

HC-21: +user-specialization model
  backend/src/data/models/index.ts
  backend/src/data/models/user-specialization.ts
Due: npm run lint:editorconfig

HC-15: * modify common component checkbox
  frontend/src/components/common/checkbox/checkbox.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-15: + add interface for checkboxes
  frontend/src/common/interfaces/filtration/index.ts
  shared/src/common/interfaces/filtration/doctor-checkbox.interface.ts
  shared/src/common/interfaces/filtration/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-15: * useForm handling
  frontend/src/app.tsx
  frontend/src/components/doctors-filtration-panel/doctors-filtration-panel.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-21: *update userRouter
  backend/src/api/user/user.api.ts
Due: npm run lint:editorconfig

HC-21: +user-specialization-key enum
  shared/src/common/enums/index.ts
  shared/src/common/enums/user-specialization/index.ts
  shared/src/common/enums/user-specialization/user-specialization-key.enum.ts
Due: npm run lint:editorconfig

HC-21: +add IUserSpecialization interface
  shared/src/common/interfaces/user-specialization/index.ts
  shared/src/common/interfaces/user-specialization/user-specialization.instance.ts
Due: npm run lint:editorconfig

HC-21: *update table-name enum
  backend/src/common/enums/db/table-name.enum.ts
Due: npm run lint:editorconfig

HC-21: *update imports IUserSpeсialization interface
  backend/src/common/interfaces/index.ts
  backend/src/common/interfaces/user-specialization/index.ts
  shared/src/common/interfaces/index.ts
Due: npm run lint:editorconfig

HC-21: *update db-models type
  backend/src/common/types/db/db-models.type.ts
Due: npm run lint:editorconfig

HC-21: *update db-associations
  backend/src/data/db/associations.ts
Due: npm run lint:editorconfig

HC-21:*update getDoctorDetailsById metod
  backend/src/data/repositories/user-repository.ts
Due: npm run lint:editorconfig

HC-15: * remove unessesary fields
  frontend/src/assets/images/record.svg
  frontend/src/assets/images/star.svg
  frontend/src/assets/images/wallet.svg
  frontend/src/components/doctors-filtration-panel/doctors-filtration-panel.tsx
  shared/src/common/enums/filtration/doctor-filtration.enum.ts
  shared/src/common/interfaces/filtration/doctor-checkbox.interface.ts
  shared/src/common/interfaces/filtration/doctor-filtration-payload.interface.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC31*modified card
  frontend/src/assets/images/chat.svg
  frontend/src/assets/images/location.svg
  frontend/src/assets/images/phone.svg
  frontend/src/common/enums/card/card-fields.enum.ts
  frontend/src/common/enums/card/card-icon.enum.ts
  frontend/src/common/enums/card/index.ts
  frontend/src/common/enums/index.ts
  frontend/src/common/interfaces/form/button-props.interface.ts
  frontend/src/common/interfaces/form/index.ts
  frontend/src/common/types/card/field.type.ts
  frontend/src/common/types/card/index.ts
  frontend/src/common/types/card/info-block.type.ts
  frontend/src/common/types/card/sec-button.type.ts
  frontend/src/common/types/index.ts
  frontend/src/components/common/card/card.tsx
  frontend/src/components/common/card/styles.module.scss
  frontend/src/components/doctors-search/components/doctor-item/doctors-item.tsx
  frontend/src/components/doctors-search/components/doctor-item/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

merge with development lint issues
  frontend/src/components/doctors-search/components/doctor-item/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-7 * replace admin-table, add getRows helper with inform for table
  frontend/src/common/interfaces/app/table.interface.ts
  frontend/src/components/admin-page/components/admin-table/admin-table.tsx
  frontend/src/components/admin-page/components/admin-table/helpers/getRows.helper.ts
  frontend/src/components/admin-page/components/admin-table/helpers/index.ts
  frontend/src/components/admin-page/components/admin-table/styles.module.scss
  frontend/src/components/admin-page/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-7 * edit type for table data and for registerUser payload
  frontend/src/components/common/table/table.tsx
  frontend/src/services/user-api/user-api.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * rename helper
  frontend/src/components/admin-page/components/admin-table/helpers/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

Path conditions:
  npm run lint:editorconfig: any of: *
  npm run lint:shared:js: any of: shared/**/*.{ts}
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
