Repository BinaryStudioAcademy/bsa-winter-2021-healthcare: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig
'shared/**/*.{ts}': npm run lint:shared:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js

HC-3: * improvements to BE and shared
  backend/src/api/auth/auth.api.ts
  backend/src/common/types/index.ts
  backend/src/middlewares/index.ts
  backend/src/middlewares/validate-schema/validate-schema.middleware.ts
  backend/src/services/auth/auth.service.ts
  backend/src/validation-schemas/auth/index.ts
  shared/src/common/enums/api/auth-api-path.enum.ts
  shared/src/common/interfaces/register/register-payload.interface.ts
  shared/src/validation-schema/user/user.ts
Due: npm run lint:editorconfig

HC-5: *Update backend/src/api/auth/auth.api.ts
  backend/src/api/auth/auth.api.ts
Due: npm run lint:editorconfig

HC-3: * modify sign-up
  backend/src/common/enums/api/index.ts
  backend/src/common/interfaces/index.ts
  backend/src/common/interfaces/register/index.ts
  backend/src/services/auth/auth.service.ts
  shared/src/common/types/index.ts
  shared/src/common/types/responses/sign-up.types.ts
Due: npm run lint:editorconfig

HC-3: * rename userRegisterSchema
  backend/src/api/auth/auth.api.ts
  backend/src/validation-schemas/auth/index.ts
  shared/src/validation-schema/user/user.ts
Due: npm run lint:editorconfig

HC-5: + add bcrypt package
  backend/package-lock.json
  backend/package.json
Due: npm run lint:editorconfig

HC16+add ability to get doctors data from server
  backend/src/api/user/user.api.ts
  backend/src/common/enums/api/users-api-path.enum.ts
  backend/src/data/repositories/user-repository.ts
  backend/src/services/user-service/user-service.service.ts
  frontend/src/app.tsx
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/common/interfaces/appointment/index.ts
  frontend/src/common/interfaces/clinic/index.ts
  frontend/src/common/interfaces/diagnosis/index.ts
  frontend/src/common/interfaces/doctor/index.ts
  frontend/src/common/interfaces/document/index.ts
  frontend/src/common/interfaces/index.ts
  frontend/src/common/interfaces/message/index.ts
  frontend/src/common/interfaces/notification/index.ts
  frontend/src/common/interfaces/user/index.ts
  frontend/src/components/doctors-search/doctors-search.tsx
  frontend/src/services/index.ts
  frontend/src/services/user-api/user-api.service.ts
  frontend/src/store/slices/index.ts
  frontend/src/store/slices/users/users.slice.ts
  shared/src/common/enums/http/http-header.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-5: + add validations to login route
  backend/src/api/auth/auth.api.ts
  backend/src/data/repositories/user-repository.ts
  backend/src/helpers/boolean/check-is-password-same/check-is-password-same.helper.ts
  backend/src/helpers/boolean/index.ts
  backend/src/services/auth/auth.service.ts
  shared/src/common/enums/http/http-code.enum.ts
  shared/src/common/enums/validation/auth/auth-validation-message.enum.ts
Due: npm run lint:editorconfig

HC-7 + add uuid library
  frontend/package-lock.json
  frontend/package.json
Due: npm run lint:editorconfig

HC-22: + add table name enum to all models
  backend/src/common/enums/db/index.ts
  backend/src/common/enums/db/model-name/index.ts
  backend/src/common/enums/db/model-name/model-name.enum.ts
  backend/src/common/enums/db/table-name/index.ts
  backend/src/common/enums/db/table-name/table-name.enum.ts
  backend/src/common/enums/index.ts
  backend/src/common/enums/model-name/model-name.enum.ts
  backend/src/common/types/index.ts
  backend/src/data/models/appointment.ts
  backend/src/data/models/clinic.ts
  backend/src/data/models/diagnosis.ts
  backend/src/data/models/doctor.ts
  backend/src/data/models/document.ts
  backend/src/data/models/message.ts
  backend/src/data/models/notification.ts
  backend/src/data/models/user.ts
Due: npm run lint:editorconfig

HC-22: * move associations to the separate file
  backend/src/common/types/db/db-models.type.ts
  backend/src/common/types/db/index.ts
  backend/src/data/db/associations.ts
  backend/src/data/models/index.ts
Due: npm run lint:editorconfig

--ammend
  frontend/package-lock.json
  frontend/package.json
Due: npm run lint:editorconfig

HC-7 - uninstall uuid
  frontend/package-lock.json
  frontend/package.json
Due: npm run lint:editorconfig

HC-5: + add validation and response type to backend
  backend/src/common/enums/index.ts
  backend/src/common/enums/validation/auth/index.ts
  backend/src/common/enums/validation/index.ts
  backend/src/common/types/index.ts
  backend/src/common/types/responses/index.ts
Due: npm run lint:editorconfig

HC-5: * make use of LoginResponse on frontend
  backend/src/configs/jwt.config.ts
  frontend/src/common/enums/api/index.ts
  frontend/src/common/types/responses/index.ts
  frontend/src/services/auth-api/auth-api.service.ts
  frontend/src/store/slices/auth/auth.slice.ts
  shared/src/common/types/responses/index.ts
  shared/src/common/types/responses/login-response.types.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-3: + add enums for register validation messages
  shared/src/common/enums/file/content-type.enum.ts
  shared/src/common/enums/index.ts
  shared/src/common/enums/validation/index.ts
  shared/src/common/enums/validation/register/index.ts
  shared/src/common/enums/validation/register/register-validation-message.enum.ts
  shared/src/common/enums/validation/register/register-validation-rule.enum.ts
  shared/src/validation-schema/user/user.ts
Due: npm run lint:editorconfig

HC-5: *change component name (signinPage->signInForm)
  frontend/src/components/sign-in-form/sign-in-form..tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-3: - del components/common/sign
  frontend/src/components/common/sign/sign.tsx
  frontend/src/components/common/sign/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-3: * changed validation-schema to validation-schemas
  backend/src/validation-schemas/auth/index.ts
  frontend/src/components/sign/components/form-sign-up.tsx
  frontend/src/validation-schema/index.ts
  frontend/src/validation-schemas/index.ts
  shared/src/validation-schemas/index.ts
  shared/src/validation-schemas/user/user.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-3: * some changes in components
  frontend/src/components/sign/components/form-sign-up/form-sign-up.tsx
  frontend/src/components/sign/components/form-sign-up/styles.module.scss
  frontend/src/components/sign/components/index.ts
  frontend/src/components/sign/sign.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-3: * moved global styles into assets
  frontend/src/assets/styles/index.scss
  frontend/src/components/sign/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-3: * import from local common
  frontend/src/common/enums/index.ts
  frontend/src/common/interfaces/index.ts
  frontend/src/components/sign/components/form-sign-up/form-sign-up.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-3: * change imports
  frontend/src/common/enums/index.ts
  frontend/src/common/enums/register/index.ts
  frontend/src/common/enums/user/index.ts
  frontend/src/common/interfaces/index.ts
  frontend/src/common/interfaces/register/index.ts
  frontend/src/validation-schemas/index.ts
  frontend/src/validation-schemas/user/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-3: * changed import path
  shared/src/validation-schemas/user/user.ts
Due: npm run lint:editorconfig

HC-22: * move table-name, model-name enums to db folder
  backend/src/common/enums/db/index.ts
  backend/src/common/enums/db/model-name.enum.ts
  backend/src/common/enums/db/model-name/index.ts
  backend/src/common/enums/db/table-name.enum.ts
  backend/src/common/enums/db/table-name/index.ts
Due: npm run lint:editorconfig

HC-22: * change Date type to string
  shared/src/common/interfaces/appointment/appointment.instance.ts
  shared/src/common/interfaces/clinic/clinic.instance.ts
  shared/src/common/interfaces/diagnosis/diagnosis.instance.ts
  shared/src/common/interfaces/doctor/doctor.instance.ts
  shared/src/common/interfaces/document/document.instance.ts
  shared/src/common/interfaces/message/message.instance.ts
  shared/src/common/interfaces/notification/notification.instance.ts
  shared/src/common/interfaces/user/user.interface.ts
Due: npm run lint:editorconfig

HC-5: * update component name
  frontend/src/components/sign-in-form/sign-in-form.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 - delete user interface
  frontend/src/common/interfaces/app/user.interface.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 + add path for create-user and edit-user page
  frontend/src/common/enums/app/app-route.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * change navigations to components of the path
  frontend/src/common/interfaces/app/index.ts
  frontend/src/components/admin-page/actions-button.tsx
  frontend/src/components/admin-page/admin-page.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 + add function for checking type for table elem
  frontend/src/common/interfaces/app/table.interface.ts
  frontend/src/components/admin-page/users.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 + add user and func props to component, and add history for navigation
  frontend/src/components/admin-page/edit-user.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 + add valid key for table element
  frontend/src/components/admin-page/table.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 + add api prefix for request
  frontend/src/services/user-api/user-api.services.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * set one interface for state and add func for work with users request
  frontend/src/store/slices/users/users.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 + add POST, PUT, DELETE method for methods
  shared/src/common/enums/http/http-method.enum.ts
Due: npm run lint:editorconfig

HC-7 * change date type in interface to string
  shared/src/common/interfaces/user/user.interface.ts
Due: npm run lint:editorconfig

HC-7 + add api enums to root shared folder
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/index.ts
  shared/src/common/enums/api/users-api-path.enum.ts
  shared/src/common/enums/index.ts
Due: npm run lint:editorconfig

HC-3: * change to correct http code
  backend/src/api/auth/auth.api.ts
Due: npm run lint:editorconfig

HC-3: * small improvements
  backend/src/services/auth/auth.service.ts
  shared/src/common/enums/validation/register/register-validation-message.enum.ts
Due: npm run lint:editorconfig

HC-3: * modify createUser
  backend/src/data/repositories/user-repository.ts
  backend/src/services/auth/auth.service.ts
Due: npm run lint:editorconfig
