Repository BinaryStudioAcademy/bsa-winter-2021-healthcare: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig
'shared/**/*.{ts}': npm run lint:shared:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js

HC-3: + generate hash password with bcrypt
  backend/package-lock.json
  backend/package.json
  backend/src/helpers/string/get-password-hash/get-password-hash.helper.ts
  backend/src/helpers/string/index.ts
  backend/src/services/auth/auth.service.ts
Due: npm run lint:editorconfig

HC-3: * modify createUser at userService
  backend/src/services/user-service/user-service.service.ts
Due: npm run lint:editorconfig

HC16*took api path from env
  backend/src/api/user/user.api.ts
  backend/src/common/enums/api/users-api-path.enum.ts
  backend/src/data/repositories/user-repository.ts
  frontend/src/services/index.ts
  frontend/src/services/user-api/user-api.service.ts
  frontend/src/store/slices/users/users.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-3: + registration service
  frontend/src/common/enums/api/api-path.enum.ts
  frontend/src/common/enums/api/auth-api-path.enum.ts
  frontend/src/common/enums/api/index.ts
  frontend/src/common/enums/index.ts
  frontend/src/components/sign/components/form-sign-up/form-sign-up.tsx
  frontend/src/services/index.ts
  frontend/src/services/registration/registration.service.ts
  shared/src/common/enums/http/http-method.enum.ts
  shared/src/validation-schemas/user/user.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * add checkIdentifierType function for check table row elem, and deleteUser function
  frontend/src/common/interfaces/app/table.interface.ts
  frontend/src/components/admin-page/users.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 + add deleteUser type for props
  frontend/src/components/admin-page/actions-button.tsx
  frontend/src/components/admin-page/table.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 + set new Date() to birthdate and add CRUD reducers
  frontend/src/store/slices/users/users.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * add async reroute to admin-page to edit and set user functions
  frontend/src/components/admin-page/admin-page.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 - fix eslint warnings
  frontend/src/components/admin-page/edit-user.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 + add CRUD functional
  frontend/src/services/user-api/user-api.services.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC9: + add icon files
  frontend/src/assets/images/arrow-down-button.svg
  frontend/src/assets/images/bell.svg
  frontend/src/assets/images/comment-chat.svg
  frontend/src/assets/images/loupe.svg
Due: npm run lint:editorconfig

HC9: * connect font
  frontend/public/index.html
Due: npm run lint:editorconfig

HC9: - delete text-input enum
  frontend/src/common/enums/app/text-input.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC9: * update root styles
  frontend/src/assets/styles/index.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC9: + add form types
  frontend/src/common/types/form/button.type.ts
  frontend/src/common/types/form/index.ts
  frontend/src/common/types/form/input.type.ts
  frontend/src/common/types/form/select.type.ts
  frontend/src/common/types/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC9: * add new enums for buttons
  frontend/src/common/enums/app/button.enum.ts
  frontend/src/common/enums/app/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC9: + add enum for input
  frontend/src/common/enums/app/input.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC9: * rebuild button component
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/button/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC9: * rebuild checkbox component
  frontend/src/components/common/checkbox/checkbox.tsx
  frontend/src/components/common/checkbox/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC9: * rebuild select component
  frontend/src/components/common/select/select.tsx
  frontend/src/components/common/select/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC9: * rebuild text input component
  frontend/src/components/common/text-input/styles.module.scss
  frontend/src/components/common/text-input/text-input.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC16*provided data from server to frontend
  backend/src/data/repositories/user-repository.ts
  frontend/src/common/enums/clinic/index.ts
  frontend/src/common/enums/index.ts
  frontend/src/components/doctors-search/common/interfaces/index.ts
  frontend/src/components/doctors-search/common/interfaces/user-type-doctor.interface.ts
  frontend/src/components/doctors-search/components/doctor-item/doctors-item.tsx
  frontend/src/components/doctors-search/components/doctor-item/styles.module.scss
  frontend/src/components/doctors-search/components/doctors-list/doctors-list.tsx
  frontend/src/components/doctors-search/doctors-search.tsx
  frontend/src/services/user-api/user-api.service.ts
  frontend/src/store/slices/users/users.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC9: + add radio component
  frontend/src/components/common/radio/radio.tsx
  frontend/src/components/common/radio/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-5: * update naming and validation rule
  backend/src/helpers/boolean/check-is-password-same/check-is-password-same.helper.ts
  shared/src/validation-schemas/auth/login.validation-schema.ts
Due: npm run lint:editorconfig

HC-5: * update login method, create extraReducer
  frontend/src/store/slices/auth/auth.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-5: * update url and add contentType
  frontend/src/common/enums/api/index.ts
  frontend/src/services/auth-api/auth-api.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-5: * make use of auth.slice
  frontend/src/components/sign-in-form/sign-in-form.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-3: * install right version of packages
  backend/package.json
Due: npm run lint:editorconfig

HC-5: * remove useSelector from sign-in-form
  frontend/src/components/sign-in-form/sign-in-form.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-3: * modify salt
  backend/src/helpers/string/get-password-hash/get-password-hash.helper.ts
Due: npm run lint:editorconfig

HC-3: * modify exports types in BE
  backend/src/common/types/index.ts
Due: npm run lint:editorconfig

HC-5: * add apiPrefix to auth service
  frontend/src/common/enums/app/env.enum.ts
  frontend/src/services/auth-api/auth-api.service.ts
  frontend/src/services/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-5: * move action under slice
  frontend/src/store/slices/auth/auth.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-5: * merge with development and reoslve conflicts
  backend/src/common/enums/db/index.ts
  backend/src/common/enums/db/model-name.enum.ts
  backend/src/common/enums/db/table-name.enum.ts
  backend/src/common/enums/index.ts
  backend/src/common/enums/model-name/model-name.enum.ts
  backend/src/common/types/app/index.ts
  backend/src/common/types/db/db-models.type.ts
  backend/src/common/types/db/index.ts
  backend/src/common/types/index.ts
  backend/src/data/db/associations.ts
  backend/src/data/migrations/20210308125751-add-associations.js
  backend/src/data/migrations/20210308152007-remove-diagnosis-column-from-users.js
  backend/src/data/models/appointment.ts
  backend/src/data/models/clinic.ts
  backend/src/data/models/diagnosis.ts
  backend/src/data/models/doctor.ts
  backend/src/data/models/document.ts
  backend/src/data/models/index.ts
  backend/src/data/models/message.ts
  backend/src/data/models/notification.ts
  backend/src/data/models/user.ts
  shared/src/common/interfaces/appointment/appointment.instance.ts
  shared/src/common/interfaces/clinic/clinic.instance.ts
  shared/src/common/interfaces/diagnosis/diagnosis.instance.ts
  shared/src/common/interfaces/doctor/doctor.instance.ts
  shared/src/common/interfaces/document/document.instance.ts
  shared/src/common/interfaces/message/message.instance.ts
  shared/src/common/interfaces/notification/notification.instance.ts
  shared/src/common/interfaces/user/user.interface.ts
Due: npm run lint:editorconfig

HC-3: * update imports
  backend/src/services/auth/auth.service.ts
Due: npm run lint:editorconfig

hc-5: * return login method back at the top
  frontend/src/services/http/http.service.ts
  frontend/src/store/slices/auth/auth.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-13: + add icon logo
  frontend/src/assets/images/icon-logo.svg
Due: npm run lint:editorconfig

HC-13: + add markup
  frontend/src/assets/styles/index.scss
  frontend/src/components/not-found/not-found.module.scss
  frontend/src/components/not-found/not-found.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-13: + route to show page in appropriate cases
  frontend/src/app.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-13: * body, root styles
  frontend/src/assets/styles/index.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css
