Repository BinaryStudioAcademy/bsa-winter-2021-healthcare: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

HC57: * eslint fix
  backend/src/common/enums/notification/index.ts
Due: npm run lint:editorconfig

HC-42 * fixed mistakes
  frontend/src/app.tsx
  frontend/src/common/interfaces/user-with-permissions/index.ts
  frontend/src/components/permissions/components/edit-permission-element/edit-permission-element.tsx
  frontend/src/components/permissions/helpers/get-permissions-name/get-permissions-name.ts
  frontend/src/components/permissions/helpers/get-rows/get-rows.ts
  frontend/src/components/permissions/helpers/index.ts
  frontend/src/components/permissions/styles.module.scss
  frontend/src/services/permission-api/permission-api.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC54+created doctor details slice
  backend/src/api/appointment/appointment.api.ts
  backend/src/data/repositories/appointment-repository.ts
  backend/src/data/repositories/index.ts
  backend/src/services/appointment/appoitment-service.service.ts
  frontend/src/app.tsx
  frontend/src/common/enums/app/reducer-name.enum.ts
  frontend/src/common/enums/appointment/appointment-time.enum.ts
  frontend/src/components/common/date-input/date-input.tsx
  frontend/src/components/doctor-details/common/types/appointment-form.type.ts
  frontend/src/components/doctor-details/components/appointment/appointment.tsx
  frontend/src/components/doctor-details/components/doctor/doctor.tsx
  frontend/src/components/doctor-details/components/doctor/styles.module.scss
  frontend/src/components/doctor-details/doctor-details.tsx
  frontend/src/components/doctor-details/styles.module.scss
  frontend/src/helpers/date/set-time-to-date.helper.ts
  frontend/src/store/slices/appointment/appointment.slice.ts
  frontend/src/store/slices/doctor-details/doctor-details.slice.ts
  frontend/src/store/slices/doctors/doctors.slice.ts
  frontend/src/store/slices/index.ts
  frontend/src/store/store.ts
  shared/src/common/interfaces/appointment/create-appointment.instance.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC57: * rename send notification method
  backend/src/api/notification/notification.api.ts
  backend/src/services/notification/helpers/check-is-relative-geolocations.helper.ts
  backend/src/services/notification/notification.service.ts
Due: npm run lint:editorconfig

HC-62 * delete underline for button(link)
  frontend/src/components/common/button/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-43: * change strings to enums
  backend/src/data/repositories/diagnosis.repository.ts
Due: npm run lint:editorconfig

HC-42 * created function for getting permission by name
  frontend/src/components/permissions/components/edit-permission-element/edit-permission-element.tsx
  frontend/src/components/permissions/helpers/get-permission-by-name/get-permission-by-name.ts
  frontend/src/components/permissions/helpers/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-40: * display notifications of logged user
  backend/src/api/notification/notification.api.ts
  backend/src/data/repositories/notifications-repository.ts
  backend/src/services/notification/notification.service.ts
  frontend/src/components/notifications/components/notification/notification.module.scss
  frontend/src/components/notifications/components/notification/notification.tsx
  frontend/src/components/notifications/notifications.tsx
  frontend/src/services/notification/notification.service.ts
  frontend/src/store/slices/notifications/notifications.slice.ts
  shared/src/common/enums/api/notifications-api-path.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-42 + add hasHidenLabel
  frontend/src/components/common/checkbox/checkbox.tsx
  frontend/src/components/permissions/components/edit-permission-element/edit-permission-element.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-42 * change path to permissionsPage
  frontend/src/app.tsx
  frontend/src/common/enums/app/app-route.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC54*fixed inline calendar
  frontend/src/components/common/date-input/date-input.tsx
  frontend/src/components/doctor-details/components/appointment/appointment.tsx
  frontend/src/components/profile/components/documents/documents.tsx
  frontend/src/helpers/date/set-time-to-date.helper.ts
  frontend/src/store/slices/doctor-details/doctor-details.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-42 * update code
  frontend/src/components/permissions/helpers/get-permissions-name/get-permissions-name.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-42 * fixed lint error
  backend/src/data/repositories/index.ts
Due: npm run lint:editorconfig

HC54+add chat button
  frontend/src/app.tsx
  frontend/src/components/doctor-details/components/appointment/appointment.tsx
  frontend/src/components/doctor-details/components/appointment/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC54 fixing lint issues
  frontend/src/components/common/date-input/date-input.tsx
  frontend/src/components/doctor-details/components/appointment/appointment.tsx
  frontend/src/components/doctor-details/components/appointment/styles.module.scss
  frontend/src/helpers/date/set-time-to-date.helper.ts
  frontend/src/store/slices/doctor-details/doctor-details.slice.ts
  frontend/src/store/slices/doctors/doctors.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-44: * get method in user api
  backend/src/api/user/user.api.ts
Due: npm run lint:editorconfig

HC-44: + query-string package to frontend
  frontend/package-lock.json
  frontend/package.json
Due: npm run lint:editorconfig

HC-44: * filter in user repository
  backend/src/common/enums/db/model-alias.enum.ts
  backend/src/common/enums/doctor/index.ts
  backend/src/common/enums/profession/index.ts
  backend/src/data/repositories/user-repository.ts
Due: npm run lint:editorconfig

HC-44: + filter to getDoctots method
  frontend/src/services/user-api/user-api.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-44: + filter to getDoctorsAsync method
  frontend/src/store/slices/doctors/doctors.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-44: + filter functionality to doctors page
  frontend/src/components/doctors/components/filtration/filtration.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-42 * fixed mistakes
  frontend/src/app.tsx
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/common/checkbox/checkbox.tsx
  frontend/src/components/permissions/components/edit-permission-element/edit-permission-element.tsx
  frontend/src/components/permissions/helpers/get-permission-by-name/get-permission-by-name.helper.ts
  frontend/src/components/permissions/helpers/get-permissions-name/get-permissions-name.helper.ts
  frontend/src/components/permissions/helpers/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-44: * where creation in user repository
  backend/src/data/repositories/user-repository.ts
Due: npm run lint:editorconfig

HC-44: * url in getDoctors method
  frontend/src/services/user-api/user-api.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-40: * fix after merge
  backend/src/common/enums/api/index.ts
  backend/src/data/repositories/notification.repository.ts
  backend/src/data/repositories/notifications-repository.ts
  frontend/src/services/map-api/map-api.service.ts
  frontend/src/services/notification/notification.service.ts
  shared/src/common/enums/api/notification-api-path.enum.ts
  shared/src/common/enums/api/notifications-api-path.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-43: * add description field to diagnosis
  backend/src/data/migrations/20210322195618-add-diagnosis-description.js
  backend/src/data/models/diagnosis.ts
  frontend/src/services/diagnosis/diagnosis.service.ts
  frontend/src/store/slices/profile/profile.slice.ts
  shared/src/common/enums/diagnosis/diagnosis-key.enum.ts
  shared/src/common/interfaces/diagnosis/diagnosis-payload.instance.ts
  shared/src/common/interfaces/diagnosis/diagnosis.instance.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-43: * fix jwt middleware route
  backend/src/server.ts
Due: npm run lint:editorconfig

HC-43: * get user id from req instead of params
  backend/src/api/diagnosis/diagnosis.api.ts
Due: npm run lint:editorconfig

HC-43: + export DiagnosisKey from shared
  backend/src/common/enums/diagnosis/index.ts
  backend/src/common/enums/index.ts
  backend/src/data/repositories/diagnosis.repository.ts
Due: npm run lint:editorconfig

HC-43: + add validation message for diagnosis
  shared/src/common/enums/validation/diagnosis/diagnosis-validation-message.enum.ts
  shared/src/common/enums/validation/diagnosis/index.ts
  shared/src/common/enums/validation/index.ts
Due: npm run lint:editorconfig

HC-43: + add validation schema for diagnosis
  backend/src/api/diagnosis/diagnosis.api.ts
  backend/src/validation-schemas/diagnosis/index.ts
  backend/src/validation-schemas/index.ts
  frontend/src/validation-schemas/diagnosis/index.ts
  frontend/src/validation-schemas/index.ts
  shared/src/validation-schemas/diagnosis/diagnosis.validation-schema.ts
  shared/src/validation-schemas/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-43: * change z-index for header
  frontend/src/components/common/header/header.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-43: * change profile and profile tabs styling
  frontend/src/components/profile/components/diagnoses/diagnoses.module.scss
  frontend/src/components/profile/components/side-menu-item/side-menu-item.module.scss
  frontend/src/components/profile/components/side-menu/styles.module.scss
  frontend/src/components/profile/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-43: * move Documents component to user-info
  frontend/src/components/profile/components/user-info/user-info.tsx
  frontend/src/components/profile/profile.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-43: + add diagnosis popup
  frontend/src/components/profile/components/add-diagnosis-popup/add-diagnosis-popup.module.scss
  frontend/src/components/profile/components/add-diagnosis-popup/add-diagnosis-popup.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-43: * rewrite diagnoses component, change default values
  frontend/src/components/profile/common/constants/default-diagnosis-value.constant.ts
  frontend/src/components/profile/components/diagnoses/diagnoses.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-64 * fixed cannot read property status error
  frontend/src/components/profile/components/documents/documents.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-40: * improvements
  backend/src/api/notification/notification.api.ts
  backend/src/data/repositories/notification.repository.ts
  backend/src/services/notification/notification.service.ts
  frontend/src/app.tsx
  frontend/src/common/enums/date/date-formats.enum.ts
  frontend/src/components/notifications/components/notification/notification.tsx
  frontend/src/components/notifications/notifications.tsx
  frontend/src/components/notifications/styles.module.scss
  frontend/src/helpers/date/get-time.helper.ts
  frontend/src/helpers/date/index.ts
  frontend/src/services/notification/notification.service.ts
  frontend/src/store/slices/notifications/notifications.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-58: * add children to button
  frontend/src/components/common/button/button.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-58: + upload file functionality
  frontend/src/components/common/edit-user-popup/edit-user-popup.tsx
  frontend/src/components/common/edit-user-popup/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

Path conditions:
  npm run lint:editorconfig: any of: *
  npm run lint:shared:js: any of: shared/**/*.{ts}
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
