Repository BinaryStudioAcademy/bsa-winter-2021-healthcare: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig
'shared/**/*.{ts}': npm run lint:shared:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js

HC-55 + add addClinic
  frontend/src/components/profile/components/add-clinic/add-clinic.tsx
  frontend/src/components/profile/components/add-clinic/constants/default-value-for-clinic-selector.constant.ts
  frontend/src/components/profile/components/add-clinic/constants/index.ts
  frontend/src/components/profile/components/add-clinic/helpers/get-clinics-names/get-clinics-names.ts
  frontend/src/components/profile/components/add-clinic/helpers/index.ts
  frontend/src/components/profile/components/index.ts
  frontend/src/components/profile/profile.tsx
  frontend/src/services/doctor-api/doctor-api.service.ts
  shared/src/common/enums/api/api-path.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC53: + add debounce hook
  frontend/src/hooks/index.ts
  frontend/src/hooks/use-debounce/use-debounce.hook.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC53: * add debounce hook to doctors filter
  frontend/src/components/doctors/components/filtration/filtration.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-67: * fix height of filtration panel
  frontend/src/components/doctors/components/filtration/filtration.module.scss
  frontend/src/components/doctors/components/filtration/filtration.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-42 fixed migrations
  backend/src/data/migrations/20210319122552-add-edit-permissions-permission.js
  backend/src/data/migrations/20210319123142-add-edit-permissions-permission-to-table.js
  backend/src/data/migrations/20210319123658-add-seed-data-edit-permission.js
Due: npm run lint:editorconfig

HC-58: + avatar
  frontend/src/assets/images/avatar.svg
Due: npm run lint:editorconfig

HC-58: - default img path from register
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-58: fix avatar
  frontend/src/components/common/header/header.tsx
  frontend/src/components/profile/components/user-info/user-info.tsx
  shared/src/common/interfaces/register/register-payload.interface.ts
  shared/src/validation-schemas/user/user.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-67: * improvements
  frontend/src/components/doctors/components/filtration/filtration.module.scss
  frontend/src/components/doctors/components/filtration/filtration.tsx
  frontend/src/components/doctors/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC53: * move debounce to helpers
  frontend/src/hooks/index.ts
  frontend/src/hooks/use-debounce/use-debounce.hook.ts
  shared/src/helpers/debounce/debounce.helper.ts
  shared/src/helpers/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC54+add validation schema
  backend/package-lock.json
  backend/package.json
  backend/src/api/api.ts
  backend/src/api/appointment/appointment.api.ts
  backend/src/helpers/date/index.ts
  backend/src/helpers/index.ts
  backend/src/validation-schemas/appointment/index.ts
  backend/src/validation-schemas/index.ts
Due: npm run lint:editorconfig

HC54+add validation schema
  frontend/package-lock.json
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/common/enums/appointment/index.ts
  frontend/src/common/enums/date/index.ts
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/card/card.tsx
  frontend/src/components/doctor-details/common/enums/form-key.enum.ts
  frontend/src/components/doctor-details/common/enums/index.ts
  frontend/src/components/doctor-details/common/index.ts
  frontend/src/components/doctor-details/common/types/appointment-form.type.ts
  frontend/src/components/doctor-details/common/types/create-appointment-cb.ts
  frontend/src/components/doctor-details/components/appointment/appointment.tsx
  frontend/src/components/doctor-details/doctor-details.tsx
  frontend/src/components/doctors/components/doctor-item/doctors-item.tsx
  frontend/src/helpers/date/index.ts
  frontend/src/store/slices/doctor-details/doctor-details.slice.ts
  frontend/src/validation-schemas/appointment/index.ts
  frontend/src/validation-schemas/index.ts
  shared/package-lock.json
  shared/package.json
  shared/src/common/enums/appointment/appointment-time.enum.ts
  shared/src/common/enums/appointment/create-appointment-key.enum.ts
  shared/src/common/enums/appointment/index.ts
  shared/src/common/enums/date/date-formats.enum.ts
  shared/src/common/enums/date/index.ts
  shared/src/common/enums/index.ts
  shared/src/common/enums/validation/appointment/index.ts
  shared/src/common/enums/validation/appointment/validation-message.enum.ts
  shared/src/common/enums/validation/index.ts
  shared/src/common/interfaces/appointment/create-appointment.instance.ts
  shared/src/helpers/date/date-to-string.helper.ts
  shared/src/helpers/date/get-date-format.helper.ts
  shared/src/helpers/date/index.ts
  shared/src/helpers/date/set-time-to-date.helper.ts
  shared/src/helpers/index.ts
  shared/src/validation-schemas/create-appointment/appointment.validation-schema.ts
  shared/src/validation-schemas/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC53: * rewrite handleChange
  frontend/src/common/helpers/debounce/index.ts
  frontend/src/common/helpers/index.ts
  frontend/src/components/doctors/components/filtration/filtration.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC53: * undate structure of import
  frontend/src/common/helpers/index.ts
  frontend/src/common/helpers/timeout/debounce/index.ts
  frontend/src/common/helpers/timeout/index.ts
  shared/src/helpers/index.ts
  shared/src/helpers/timeout/debounce/debounce.helper.ts
  shared/src/helpers/timeout/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC54*fix radio error message
  frontend/src/components/common/radio/radio.tsx
  frontend/src/components/common/radio/styles.module.scss
  frontend/src/components/doctor-details/common/types/index.ts
  frontend/src/components/profile/components/documents/documents.tsx
  shared/src/validation-schemas/create-appointment/appointment.validation-schema.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC54*fix lint
  frontend/src/components/common/radio/radio.tsx
  shared/src/validation-schemas/create-appointment/appointment.validation-schema.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-56: +add import ICity instance
  frontend/src/common/interfaces/city/index.ts
  frontend/src/common/interfaces/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-56: +add CityApiPath enum
  backend/src/common/enums/api/index.ts
  shared/src/common/enums/api/city-api-path.enum.ts
  shared/src/common/enums/api/index.ts
Due: npm run lint:editorconfig

HC-56: add import CityApiPath enum
  frontend/src/common/enums/api/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-56: +add cityRepository
  backend/src/data/repositories/city-repository.ts
  backend/src/data/repositories/index.ts
Due: npm run lint:editorconfig

HC-56: +add city-service
  backend/src/services/city-service/city-service.service.ts
  backend/src/services/services.ts
Due: npm run lint:editorconfig

HC-56: *update ApiPath enum
  shared/src/common/enums/api/api-path.enum.ts
Due: npm run lint:editorconfig

HC-56: *update clinic key enum
  shared/src/common/enums/clinic/clinic-key.enum.ts
Due: npm run lint:editorconfig

HC-56: *update IClinic instance
  shared/src/common/interfaces/clinic/clinic.instance.ts
Due: npm run lint:editorconfig

HC-56: +add city validation schema
  backend/src/validation-schemas/city/index.ts
  backend/src/validation-schemas/index.ts
  shared/src/validation-schemas/city/city.validation-schema.ts
  shared/src/validation-schemas/index.ts
Due: npm run lint:editorconfig

HC-56: *update clinic validation schema
  shared/src/common/enums/validation/clinic/clinic-validation-message.enum.ts
  shared/src/validation-schemas/clinic/clinic.validation-schema.ts
Due: npm run lint:editorconfig

HC-56: +add cityApi
  backend/src/api/api.ts
  backend/src/api/city/city.api.ts
Due: npm run lint:editorconfig

HC-56: +add city-api-service
  frontend/src/services/city-api/city-api.service.ts
  frontend/src/services/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-56: *update default clinic value constant
  frontend/src/components/clinics/components/common/constants/default-clinic-value.constant.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-56: *update css style
  frontend/src/components/clinics/components/add-clinic-popup/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-56: *update Select component
  frontend/src/components/common/select/select.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-56: *update clinic slice
  frontend/src/store/slices/clinics/clinics.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-56: *update add-clinic-popup component
  frontend/src/components/clinics/components/add-clinic-popup/add-clinic-popup.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-56: resolve git conflicts
  backend/src/api/api.ts
  shared/src/common/enums/api/index.ts
Due: npm run lint:editorconfig

development: * covid styles
  frontend/src/components/common/covid-button/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-56: resolve git conflict
  backend/src/services/services.ts
  frontend/src/common/enums/api/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-43: * change type of payload
  frontend/src/components/profile/common/constants/default-diagnosis-value.constant.ts
  frontend/src/components/profile/components/add-diagnosis-popup/add-diagnosis-popup.tsx
  frontend/src/services/diagnosis/diagnosis.service.ts
  frontend/src/store/slices/profile/profile.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-43: * add z-index variables and make use of them
  frontend/src/assets/styles/index.scss
  frontend/src/components/common/header/header.module.scss
  frontend/src/components/common/modal/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-43: * add alt prop to card
  frontend/src/components/clinics/components/clinic/clinic.tsx
  frontend/src/components/clinics/components/clinic/styles.module.scss
  frontend/src/components/common/card/card.tsx
  frontend/src/components/common/card/styles.module.scss
  frontend/src/components/doctors/components/doctor-item/doctors-item.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-43: * remove testing data
  frontend/src/components/profile/components/user-info/user-info.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js
