Repository BinaryStudioAcademy/bsa-winter-2021-healthcare: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

HC37: + add map component
  frontend/src/components/map/map.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC37: + add select area component
  frontend/src/components/map/select-map-area.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC37: + add styles file for map component
  frontend/src/components/map/map.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC37: + add rout to map component
  frontend/src/app.tsx
  frontend/src/common/enums/app/app-route.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC37: * add leaflet packages
  frontend/package-lock.json
  frontend/package.json
Due: npm run lint:editorconfig

HC37: * semicolon fix
  frontend/src/components/map/map.tsx
  frontend/src/components/map/select-map-area.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC37: * fix eslint error
  frontend/src/components/map/map.tsx
  frontend/src/components/map/select-map-area.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC37: * delete unused imports
  frontend/src/components/map/map.tsx
  frontend/src/components/map/select-map-area.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-39: +add migration make city name as unique table cities
  backend/src/data/migrations/20210318042032-make-city-name-as-unique.js
Due: npm run lint:editorconfig

HC-39: *update city model - made city name as unique
  backend/src/data/models/city.ts
Due: npm run lint:editorconfig

HC-46: +add default values to SingInForm
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-46: *replace SIGN_IN_DEFAULT_VALUES to common/constants
  frontend/src/components/sign/components/common/constants/index.ts
  frontend/src/components/sign/components/common/constants/sign-in-default-values.constant.ts
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-46: *update sign-in-default-values.constant.ts
  frontend/src/components/sign/components/common/constants/sign-in-default-values.constant.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC37: * add enum values
  frontend/src/common/enums/index.ts
  frontend/src/common/enums/map/index.ts
  frontend/src/common/enums/map/map-coords-default.enum.ts
  frontend/src/common/enums/map/map-options.enum.ts
  frontend/src/common/enums/map/tile-options.enum.ts
  frontend/src/components/map/map.tsx
  frontend/src/components/map/select-map-area.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC37: * add flex styles to mapWrapper
  frontend/src/components/map/map.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-17: * return back getById method
  backend/src/data/repositories/user-repository.ts
Due: npm run lint:editorconfig

HC-17: * change middlewares name following A3 criteria
  backend/src/api/auth/auth.api.ts
  backend/src/middlewares/authentication/authentication.middleware.ts
  backend/src/middlewares/authorization/authorization.middleware.ts
  backend/src/middlewares/jwt/jwt.middleware.ts
  backend/src/middlewares/registration/registration.middleware.ts
  backend/src/server.ts
Due: npm run lint:editorconfig

HC-17: * move eslint rules to root
  .eslintrc.yml
  backend/.eslintrc.yml
Due: npm run lint:editorconfig

HC-42 + add useForm
  frontend/src/components/permissions/helpers/get-rows/get-rows.ts
  frontend/src/components/permissions/permissions-page.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC37: * remove sub component to new folder
  frontend/src/components/map/components/index.ts
  frontend/src/components/map/components/select-map-area/select-map-area.tsx
  frontend/src/components/map/map.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC37: * remove any type
  frontend/src/components/map/components/select-map-area/select-map-area.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-44: + backend filtration
  backend/src/api/user/user.api.ts
  backend/src/common/enums/city/index.ts
  backend/src/common/enums/index.ts
  backend/src/common/interfaces/filtration/index.ts
  backend/src/common/interfaces/index.ts
  backend/src/data/repositories/user-repository.ts
  backend/src/services/user-service/user-service.service.ts
Due: npm run lint:editorconfig

HC-15: * correct state handling
  frontend/src/components/common/checkbox/checkbox.tsx
  frontend/src/components/doctors/components/common/constants/default-filtration-values.constant.ts
  frontend/src/components/doctors/components/filtration/filtration.tsx
  frontend/src/helpers/array-filter/index.ts
  frontend/src/helpers/index.ts
  shared/src/common/interfaces/filtration/doctor-filtration-payload.interface.ts
  shared/src/helpers/array/filter-array/filter-array.helper.ts
  shared/src/helpers/array/index.ts
  shared/src/helpers/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-15: * fix linter
  shared/src/helpers/array/filter-array/filter-array.helper.ts
Due: npm run lint:editorconfig

HC-42 + add edit-permissions to permissions
  backend/src/data/migrations/20210313131817-create-permissions-table.js
  backend/src/data/migrations/20210313150651-add-seed-data-to-permissions.js
  backend/src/data/migrations/20210313163522-add-admin-user.js
  backend/src/data/models/permission.ts
Due: npm run lint:editorconfig

HC-45: + migration to create professions table
  backend/src/data/migrations/20210318184234-create-professions-table.js
Due: npm run lint:editorconfig

HC-45: + migration to add professionId to doctors
  backend/src/data/migrations/20210318185112-add-professionId-to-doctors.js
Due: npm run lint:editorconfig

HC-45: + migration to add seed data to professions
  backend/src/data/migrations/20210318185357-add-seed-data-to-professions.js
Due: npm run lint:editorconfig

HC-45: + IProfession interface
  shared/src/common/enums/index.ts
  shared/src/common/enums/profession/index.ts
  shared/src/common/enums/profession/profession-key.enum.ts
  shared/src/common/interfaces/index.ts
  shared/src/common/interfaces/profession/index.ts
  shared/src/common/interfaces/profession/profession.instance.ts
Due: npm run lint:editorconfig

HC-45: + Profession model
  backend/src/common/enums/db/model-name.enum.ts
  backend/src/common/enums/db/table-name.enum.ts
  backend/src/common/interfaces/index.ts
  backend/src/common/interfaces/profession/index.ts
  backend/src/data/models/index.ts
  backend/src/data/models/profession.ts
Due: npm run lint:editorconfig

HC-45: + associations between doctors and professions
  backend/src/common/enums/db/foreing-key.enum.ts
  backend/src/common/enums/db/model-alias.enum.ts
  backend/src/common/types/db/db-models.type.ts
  backend/src/data/db/associations.ts
Due: npm run lint:editorconfig

HC6*refactored backend
  backend/src/data/repositories/user-repository.ts
  backend/src/services/user-service/user-service.service.ts
  frontend/src/common/types/index.ts
  frontend/src/common/types/user/index.ts
  frontend/src/common/types/user/user-generic.type.ts
  frontend/src/components/profile/components/user-info/user-info.tsx
  frontend/src/components/profile/profile.tsx
  frontend/src/services/document-api/document-api.service.ts
  frontend/src/store/slices/auth/auth.slice.ts
  frontend/src/store/slices/users/users.slice.ts
  shared/src/common/enums/api/api-path.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC6*refactored backend
  backend/src/api/document/document.api.ts
  backend/src/api/user/user.api.ts
  backend/src/data/repositories/document-repository.ts
  backend/src/data/repositories/index.ts
  backend/src/data/repositories/user-repository.ts
  backend/src/services/document-service/document-service.service.ts
  backend/src/services/services.ts
  backend/src/services/user-service/user-service.service.ts
  frontend/src/app.tsx
  frontend/src/common/enums/form/button-icon.enum.ts
  frontend/src/components/common/index.ts
  frontend/src/components/profile/components/documents/documents.tsx
  frontend/src/components/profile/components/documents/styles.module.scss
  frontend/src/components/profile/components/user-info/user-info.tsx
  frontend/src/components/profile/profile.tsx
  frontend/src/services/document-api/document-api.service.ts
  frontend/src/store/slices/auth/auth.slice.ts
  frontend/src/store/slices/users/users.slice.ts
  shared/src/common/enums/api/documents-api-path.enum.ts
  shared/src/common/enums/doctor/doctor-extended-key.enum.ts
  shared/src/common/interfaces/doctor-extended/doctor-extended.instance.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-48: +add history package to frontend
  frontend/package-lock.json
  frontend/package.json
Due: npm run lint:editorconfig

HC-48: +add HistoryService
  frontend/src/services/history/history.service.ts
  frontend/src/services/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-48: + add HistoryService to auth actions
  frontend/src/store/slices/auth/auth.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-45: * file name
  backend/src/data/migrations/20210318185112-add-profession-id-to-doctors.js
Due: npm run lint:editorconfig

HC-45: + profession name enum
  shared/src/common/enums/profession/index.ts
  shared/src/common/enums/profession/profession-name.enum.ts
Due: npm run lint:editorconfig

HC-45: + profession enum to migration
  backend/src/data/migrations/20210318184234-create-professions-table.js
Due: npm run lint:editorconfig

Path conditions:
  npm run lint:editorconfig: any of: *
  npm run lint:shared:js: any of: shared/**/*.{ts}
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
