Repository BinaryStudioAcademy/bsa-winter-2021-healthcare: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig
'shared/**/*.{ts}': npm run lint:shared:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js

HC-13: * markup
  frontend/src/components/not-found/not-found.module.scss
  frontend/src/components/not-found/not-found.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-13: * height styles
  frontend/src/assets/styles/index.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-13: - px from img
  frontend/src/components/not-found/not-found.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-13: * styles
  frontend/src/components/not-found/not-found.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-3: + registration slice
  frontend/src/common/enums/app/data-status.enum.ts
  frontend/src/common/enums/app/index.ts
  frontend/src/common/enums/app/reducer-name.enum.ts
  frontend/src/common/interfaces/index.ts
  frontend/src/common/interfaces/user/index.ts
  frontend/src/common/interfaces/user/user.interface.ts
  frontend/src/common/types/index.ts
  frontend/src/common/types/responses/index.ts
  frontend/src/common/types/responses/registration-response.types.ts
  frontend/src/components/sign/components/form-sign-up/form-sign-up.tsx
  frontend/src/services/index.ts
  frontend/src/services/registration/registration.service.ts
  frontend/src/store/slices/index.ts
  frontend/src/store/slices/registration/registration.slice.ts
  frontend/src/store/store.ts
  shared/src/common/types/index.ts
  shared/src/common/types/responses/index.ts
  shared/src/common/types/responses/registration-response.types.ts
  shared/src/validation-schemas/user/user.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-9: * add search filed type
  frontend/src/common/enums/app/input.enum.ts
  frontend/src/components/common/text-input/styles.module.scss
  frontend/src/components/common/text-input/text-input.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-9: * add IBM Plex Sans font
  frontend/public/index.html
Due: npm run lint:editorconfig

HC-9: * add react-datepicker package
  frontend/package-lock.json
  frontend/package.json
Due: npm run lint:editorconfig

HC-9: + add icon for the search field
  frontend/src/assets/images/search-field-icon.svg
Due: npm run lint:editorconfig

HC-9: - remove notification counter
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/button/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-9: + add dateInput component
  frontend/src/components/common/date-input/date-input.tsx
  frontend/src/components/common/date-input/datepicker-custom-styles.scss
  frontend/src/components/common/date-input/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-9: * add types for dateInput
  frontend/src/common/types/form/date.type.ts
  frontend/src/common/types/form/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-9: * fix typo
  frontend/src/assets/styles/index.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-9: * fix typo
  frontend/src/components/common/radio/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-9: * add export for created components
  frontend/src/components/common/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-9: * remove return
  frontend/src/components/common/date-input/date-input.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-9: * changed package-lock after npm start
  frontend/package-lock.json
Due: npm run lint:editorconfig

HC-9: * add code that I removed merging my branch to dev
  frontend/src/assets/styles/index.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-9: * fix amount of left-padding spaces
  frontend/src/components/common/select/select.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-9: * remove IBM Plex font
  frontend/public/index.html
  frontend/src/components/common/date-input/datepicker-custom-styles.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-9: * remove unused useState
  frontend/src/components/common/date-input/date-input.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-9: * make the isDisabled, hasError prop optional for all controls
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/checkbox/checkbox.tsx
  frontend/src/components/common/date-input/date-input.tsx
  frontend/src/components/common/radio/radio.tsx
  frontend/src/components/common/select/select.tsx
  frontend/src/components/common/text-input/text-input.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-9: * remove link to preconnect google font
  frontend/public/index.html
Due: npm run lint:editorconfig

HC-3: * .env.example
  backend/.env.example
Due: npm run lint:editorconfig

HC-9: * reinstall react-datepicker typesto dev deps
  frontend/package-lock.json
  frontend/package.json
Due: npm run lint:editorconfig

HC-3: * change user interface
  shared/src/common/interfaces/user/user.interface.ts
Due: npm run lint:editorconfig

HC-7 + add route to admin-page
  frontend/src/app.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * remove route to edit and create user
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/admin-page/admin-page.tsx
  frontend/src/components/admin-page/users.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-3: * user-repository
  backend/src/data/repositories/user-repository.ts
Due: npm run lint:editorconfig

HC-7 * rename user-api.services to user-api.service
  frontend/src/services/index.ts
  frontend/src/services/services.ts
  frontend/src/services/user-api/user-api.service.ts
  frontend/src/store/slices/users/users.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-9: * reorganize enum
  frontend/src/common/enums/app/button.enum.ts
  frontend/src/common/enums/app/index.ts
  frontend/src/common/enums/form/botton-color.enum.ts
  frontend/src/common/enums/form/botton-style-type.enum.ts
  frontend/src/common/enums/form/botton-type.enum.ts
  frontend/src/common/enums/form/button-icon.enum.ts
  frontend/src/common/enums/form/index.ts
  frontend/src/common/enums/form/input-color.enum.ts
  frontend/src/common/enums/form/input-type.enum.ts
  frontend/src/common/enums/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-9: * reorganize types
  frontend/src/common/types/form/button-click-callback.type.ts
  frontend/src/common/types/form/button-click-event.type.ts
  frontend/src/common/types/form/button.type.ts
  frontend/src/common/types/form/date-change-event.type.ts
  frontend/src/common/types/form/date-payload.type.ts
  frontend/src/common/types/form/date.type.ts
  frontend/src/common/types/form/index.ts
  frontend/src/common/types/form/input-change-callback.type.ts
  frontend/src/common/types/form/input-change-event.type.ts
  frontend/src/common/types/form/input.type.ts
  frontend/src/common/types/form/select-change-callback.type.ts
  frontend/src/common/types/form/select-change-event.type.ts
  frontend/src/common/types/form/select.type.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-9: * remove extra enters
  frontend/src/common/enums/form/botton-color.enum.ts
  frontend/src/common/enums/form/botton-style-type.enum.ts
  frontend/src/common/types/form/date-change-event.type.ts
  frontend/src/common/types/form/date-payload.type.ts
  frontend/src/common/types/form/index.ts
  frontend/src/common/types/form/input-change-callback.type.ts
  frontend/src/common/types/form/input-change-event.type.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-3: * sharedReducer
  frontend/src/store/slices/auth/auth.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-9: * remove i-option to form interfaces
  frontend/src/common/interfaces/form/i-option.interface.ts
  frontend/src/common/interfaces/form/index.ts
  frontend/src/common/interfaces/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-9: * move disabled to select from option
  frontend/src/components/common/select/select.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-9: * add def value to type and make it optional
  frontend/src/components/common/button/button.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-9: * change tag for checkbox component
  frontend/src/components/common/checkbox/checkbox.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-9: * change styles rule to right names
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/common/text-input/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-3: * some styles
  frontend/src/assets/styles/index.scss
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/sign/components/sign-up-form/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js
