Repository BinaryStudioAcademy/bsa-winter-2021-healthcare: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig
'shared/**/*.{ts}': npm run lint:shared:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js

HC-7 * change name for arg in func
  frontend/src/components/admin-page/edit-user.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-21: * add /details/:id route to apiRouter
  backend/src/api/user/user.api.ts
Due: npm run lint:editorconfig

HC-21: *update UserService
  backend/src/services/user-service/user-service.service.ts
Due: npm run lint:editorconfig

HC-27: * styles text & link
  frontend/src/assets/styles/index.scss
  frontend/src/components/common/link/link.module.scss
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/sign/components/sign-in-form/signin.module.scss
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/sign/components/sign-up-form/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-28: * users_permissions table migration
  backend/src/data/migrations/20210313161337-create-users_permissions-table.js
Due: npm run lint:editorconfig

HC-28: + password hash to admin migration
  backend/src/data/migrations/20210313163522-add-admin-user.js
Due: npm run lint:editorconfig

HC-28: + permission-key enum
  shared/src/common/enums/permission/permission-key.enum.ts
Due: npm run lint:editorconfig

HC-28: + permission-name enum
  shared/src/common/enums/permission/permission-name.enum.ts
Due: npm run lint:editorconfig

HC-28: + permission instance
  shared/src/common/enums/index.ts
  shared/src/common/enums/permission/index.ts
  shared/src/common/interfaces/index.ts
  shared/src/common/interfaces/permission/index.ts
  shared/src/common/interfaces/permission/permission.instance.ts
Due: npm run lint:editorconfig

HC-28: * permissions table migration
  backend/src/data/migrations/20210313131817-create-permissions-table.js
Due: npm run lint:editorconfig

HC-28: + permission model
  backend/src/common/enums/db/model-name.enum.ts
  backend/src/common/enums/db/table-name.enum.ts
  backend/src/common/enums/index.ts
  backend/src/common/enums/permission/index.ts
  backend/src/common/interfaces/index.ts
  backend/src/common/interfaces/permission/index.ts
  backend/src/data/models/index.ts
  backend/src/data/models/permission.ts
Due: npm run lint:editorconfig

HC-33: + base quality criteria
  quality-criteria.md
Due: npm run lint:editorconfig

HC-33: + simple document structure
  quality-criteria.md
Due: npm run lint:editorconfig

HC-33: * simple document structure
  quality-criteria.md
Due: npm run lint:editorconfig

HC-28: + user_permission-key enum
  shared/src/common/enums/user_permission/user_permission-key.enum.ts
Due: npm run lint:editorconfig

HC-28: + user_permission instance
  shared/src/common/enums/index.ts
  shared/src/common/enums/user_permission/index.ts
  shared/src/common/interfaces/index.ts
  shared/src/common/interfaces/user_permission/index.ts
  shared/src/common/interfaces/user_permission/user_permission.instance.ts
Due: npm run lint:editorconfig

HC-28: + UserPermission model
  backend/src/common/enums/db/model-name.enum.ts
  backend/src/common/enums/db/table-name.enum.ts
  backend/src/common/interfaces/index.ts
  backend/src/common/interfaces/user_permission/index.ts
  backend/src/data/models/index.ts
  backend/src/data/models/user_permission.ts
Due: npm run lint:editorconfig

HC-33: + simple details block
  quality-criteria.md
Due: npm run lint:editorconfig

HC-33: * simple details block
  quality-criteria.md
Due: npm run lint:editorconfig

HC-33: + criteria wrapper
  quality-criteria.md
Due: npm run lint:editorconfig

HC-30: + Add Phone Validation
  shared/src/regexps/index.ts
  shared/src/regexps/phone/phone.regexp.ts
  shared/src/validation-schemas/user/user.ts
Due: npm run lint:editorconfig

HC-7 * fix error with date
  frontend/src/components/admin-page/admin-page.tsx
  frontend/src/components/admin-page/edit-user.tsx
  frontend/src/components/admin-page/helpers/check-identifier-type.helper.ts
  shared/src/common/interfaces/edit-user/edit-user-payload.interface.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * fixed style for editUser container
  frontend/src/components/admin-page/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-7 - remove password and retype password
  shared/src/validation-schemas/edit-user/edit-user-schema.helper.ts
Due: npm run lint:editorconfig

HC-7 * fixed lint error
  frontend/src/components/admin-page/edit-user.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 + add edit,create user validation to backend
  backend/src/api/user/user.api.ts
  backend/src/validation-schemas/index.ts
  backend/src/validation-schemas/users/index.ts
  frontend/src/components/admin-page/admin-page.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * fixed lint error
  backend/src/api/user/user.api.ts
Due: npm run lint:editorconfig

HC-28: + association between users and permissions
  backend/src/common/enums/db/foreing-key.enum.ts
  backend/src/common/enums/db/model-alias.enum.ts
  backend/src/common/types/db/db-models.type.ts
  backend/src/data/db/associations.ts
  backend/src/data/models/index.ts
Due: npm run lint:editorconfig

HC-28: * admin migration
  backend/src/data/migrations/20210313163522-add-admin-user.js
Due: npm run lint:editorconfig

HC24: - remove extra styles connection
  frontend/src/components/common/toaster/styles-module.scss
  frontend/src/components/common/toaster/toaster.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-28: * association between users and permissions
  backend/src/data/db/associations.ts
Due: npm run lint:editorconfig

HC-28: + permissions on each user request
  backend/src/common/enums/permission/index.ts
  backend/src/data/repositories/user-repository.ts
Due: npm run lint:editorconfig

HC-7 - remove users dir
  frontend/src/common/constants/index.ts
  frontend/src/common/constants/user-instance.constant.ts
  frontend/src/common/enums/edit-user/index.ts
  frontend/src/common/enums/index.ts
  frontend/src/common/enums/user/index.ts
  frontend/src/common/enums/users/date-identifier.enum.ts
  frontend/src/common/enums/users/index.ts
  frontend/src/common/enums/users/usersex.enum.ts
  frontend/src/common/enums/users/usertype.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 + add modal to common components
  frontend/src/components/admin-page/helpers/check-identifier-type.helper.ts
  frontend/src/components/common/index.ts
  frontend/src/components/common/modal/modal.tsx
  frontend/src/components/common/modal/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-7 + add type for prop function
  frontend/src/components/admin-page/admin-table.tsx
  frontend/src/components/admin-page/create-user.tsx
  frontend/src/components/admin-page/types/prop-function-void.type.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * rename dir
  frontend/src/components/admin-page/components/actions-button/actions-button.tsx
  frontend/src/components/admin-page/components/actions-button/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-7 * replace Default user instance
  frontend/src/components/admin-page/admin-page.tsx
  frontend/src/components/admin-page/constants/index.ts
  frontend/src/components/admin-page/constants/user-instance.constant.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-28: * file/folder names
  backend/src/common/interfaces/index.ts
  backend/src/common/interfaces/user-permission/index.ts
  backend/src/data/models/index.ts
  backend/src/data/models/user-permission.ts
  shared/src/common/enums/index.ts
  shared/src/common/enums/user-permission/index.ts
  shared/src/common/enums/user-permission/user-permission-key.enum.ts
  shared/src/common/enums/user_permission/index.ts
  shared/src/common/interfaces/index.ts
  shared/src/common/interfaces/user-permission/index.ts
  shared/src/common/interfaces/user-permission/user-permission.instance.ts
  shared/src/common/interfaces/user_permission/index.ts
Due: npm run lint:editorconfig
