Repository BinaryStudioAcademy/bsa-winter-2021-healthcare: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

HC-7 * div with icons to Button component
  frontend/src/components/admin-page/actions-button.tsx
  frontend/src/components/admin-page/styles.module.scss
  frontend/src/components/common/button/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-7 + add constant with default user payload
  frontend/src/common/constants/index.ts
  frontend/src/common/constants/user-instance.constant.ts
  frontend/src/components/admin-page/admin-page.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 + add imagePath, createdAt, updatedAt keys
  shared/src/common/enums/edit-user/edit-user-payload.enums.ts
  shared/src/common/interfaces/edit-user/edit-user-payload.interface.ts
  shared/src/helpers/validation/edit-user/edit-user-schema.helper.ts
Due: npm run lint:editorconfig

HC-29: * db connection
  backend/.env.example
  backend/config/db.config.js
  backend/src/data/db/connection.ts
Due: npm run lint:editorconfig

HC-29: * deploy action
  .github/workflows/deploy.yml
Due: npm run lint:editorconfig

HC-29: - yup phone validation
  backend/package-lock.json
  frontend/package-lock.json
  frontend/package.json
  shared/package-lock.json
  shared/package.json
  shared/src/validation-schemas/user/user.ts
Due: npm run lint:editorconfig

HC-29: + post deploy
  backend/package.json
Due: npm run lint:editorconfig

main: * git action
  .github/workflows/deploy.yml
Due: npm run lint:editorconfig

HC-27: * implemented recommendations
  frontend/src/common/interfaces/form/option.interface.ts
  frontend/src/common/interfaces/user/user.interface.ts
  frontend/src/common/types/array/get-option-map-cb.ts
  frontend/src/common/types/array/index.ts
  frontend/src/common/types/form/index.ts
  frontend/src/common/types/index.ts
  frontend/src/common/types/record/index.ts
  frontend/src/components/common/date-input/date-input.tsx
  frontend/src/components/common/date-input/datepicker-custom-styles.scss
  frontend/src/components/common/select/select.tsx
  frontend/src/components/common/text-input/text-input.tsx
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/sign/components/sign-in-form/signin.module.scss
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/sign/components/sign-up-form/styles.module.scss
  frontend/src/helpers/form/create-options.helper.ts
  frontend/src/helpers/form/get-default-option.helper.ts
  frontend/src/helpers/form/get-options.helper.ts
  frontend/src/helpers/form/index.ts
  frontend/src/helpers/index.ts
  shared/src/common/types/array/index.ts
  shared/src/common/types/array/map-cb.ts
  shared/src/common/types/index.ts
  shared/src/common/types/record/custom-record.ts
  shared/src/common/types/record/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

main: * gitignore
  .gitignore
Due: npm run lint:editorconfig

main: * gitignore
  .gitignore
  .lintstagedrc.yml
Due: npm run lint:editorconfig

main: * backend build
  .github/workflows/deploy.yml
  backend/package.json
  package.json
Due: npm run lint:editorconfig

main: * deploy action
  .github/workflows/deploy.yml
Due: npm run lint:editorconfig

main: * backend copy
  backend/package.json
Due: npm run lint:editorconfig

main: * deployment action
  .github/workflows/deploy.yml
Due: npm run lint:editorconfig

HC-27: * implemented recommendations
  frontend/src/helpers/form/create-options/create-options.helper.ts
  frontend/src/helpers/form/get-default-option/get-default-option.helper.ts
  frontend/src/helpers/form/get-options/get-options.helper.ts
  frontend/src/helpers/form/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

main: * app port
  backend/src/common/enums/app/env.enum.ts
Due: npm run lint:editorconfig

main: * server port env
  backend/.env.example
  backend/src/common/enums/app/env.enum.ts
Due: npm run lint:editorconfig

main: + default port
  backend/src/common/enums/app/env.enum.ts
Due: npm run lint:editorconfig

HC31+add common card component
  frontend/src/components/common/card/card-body.tsx
  frontend/src/components/common/card/card-footer.tsx
  frontend/src/components/common/card/card-header.tsx
  frontend/src/components/common/card/card-image.tsx
  frontend/src/components/common/card/card-main.tsx
  frontend/src/components/common/card/card.tsx
  frontend/src/components/common/card/index.ts
  frontend/src/components/common/card/styles.module.scss
  frontend/src/components/common/index.ts
  frontend/src/components/doctors-search/components/doctor-item/doctors-item.tsx
  frontend/src/components/doctors-search/components/doctor-item/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC24: * add toaster reducer
  frontend/src/common/enums/app/reducer-name.enum.ts
  frontend/src/store/store.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC24: * add toaster service
  frontend/src/services/index.ts
  frontend/src/services/toaster/toaster.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC24: + add toaster component
  frontend/src/components/common/index.ts
  frontend/src/components/common/toaster/styles.module.scss
  frontend/src/components/common/toaster/toaster.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC24: * connect toaster to index
  frontend/src/index.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC6+add user from store to page
  frontend/src/assets/images/icons/person.svg
  frontend/src/components/profile/components/profile-info/profile-info.tsx
  frontend/src/components/profile/components/profile-menu/profile-menu.tsx
  frontend/src/components/profile/profile.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * rename component
  frontend/src/components/admin-page/search-and-filter-form.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 - remove odd styles
  frontend/src/components/admin-page/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-7 * replace editUser validation schema
  frontend/src/helpers/index.ts
  frontend/src/helpers/validation/index.ts
  frontend/src/validation-schemas/edit-user/index.ts
  frontend/src/validation-schemas/index.ts
  shared/src/helpers/index.ts
  shared/src/helpers/validation/index.ts
  shared/src/validation-schemas/edit-user/edit-user-schema.helper.ts
  shared/src/validation-schemas/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 + add white color to text in primary-dark button theme
  frontend/src/components/common/button/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-7 * replace checkIdentifierType function to another file
  frontend/src/components/admin-page/helpers/check-identifier-type.helper.ts
  frontend/src/components/admin-page/users.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 - remove max-width
  frontend/src/components/common/select/styles.module.scss
  frontend/src/components/common/text-input/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-7 + add capitalize for title text in table
  frontend/src/components/common/table/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC24: * fix package import order
  frontend/src/index.tsx
  frontend/src/store/store.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC24: * rename service
  frontend/src/services/index.ts
  frontend/src/services/notification/notification.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-21: *update app.tsx - add Route /details
  frontend/src/app.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC24: * remove unused import
  frontend/src/services/notification/notification.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

Path conditions:
  npm run lint:editorconfig: any of: *
  npm run lint:shared:js: any of: shared/**/*.{ts}
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
