Repository BinaryStudioAcademy/bsa-winter-2021-healthcare: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig
'shared/**/*.{ts}': npm run lint:shared:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js

HC-36: + geolocation api
  backend/src/api/api.ts
  backend/src/api/geolocation/geolocation.api.ts
  backend/src/common/enums/api/index.ts
Due: npm run lint:editorconfig

HC-36: + geolocation repository
  backend/src/data/repositories/geolocation-repository.ts
  backend/src/data/repositories/index.ts
Due: npm run lint:editorconfig

HC-36: + geolocation backend service
  backend/src/services/geolocation/geolocation.service.ts
  backend/src/services/services.ts
Due: npm run lint:editorconfig

HC6+installed dayjs and made wraper
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app.tsx
  frontend/src/common/enums/date/date-formats.enum.ts
  frontend/src/common/enums/date/index.ts
  frontend/src/common/enums/index.ts
  frontend/src/components/profile/components/profile-info/profile-info.tsx
  frontend/src/components/profile/components/profile-info/styles.module.scss
  frontend/src/components/profile/profile.tsx
  frontend/src/components/profile/styles.module.scss
  frontend/src/helpers/date/get-date-format.helper.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC6 fix lint issues
  frontend/src/components/profile/components/profile-info/profile-info.tsx
  frontend/src/components/profile/components/profile-info/styles.module.scss
  frontend/src/helpers/date/get-date-format.helper.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-15: * modify checkboxes
  frontend/src/common/interfaces/filtration/index.ts
  frontend/src/components/common/checkbox/checkbox.tsx
  frontend/src/components/doctors-filtration-panel/doctors-filtration-panel.tsx
  shared/src/common/enums/filtration/doctor-filtration.enum.ts
  shared/src/common/interfaces/filtration/doctor-checkbox.interface.ts
  shared/src/common/interfaces/filtration/doctor-filtration-payload.interface.ts
  shared/src/common/interfaces/filtration/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-15: * some improvements
  frontend/src/components/common/checkbox/checkbox.tsx
  frontend/src/components/doctors-filtration-panel/doctors-filtration-panel.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC6+add edit user functionality
  frontend/src/components/profile/components/profile-info/profile-info.tsx
  frontend/src/components/profile/profile.tsx
  frontend/src/services/http/http.service.ts
  frontend/src/store/slices/auth/auth.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-17: * add token validation message
  shared/src/common/enums/validation/auth/auth-validation-message.enum.ts
Due: npm run lint:editorconfig

HC-17: + add auth middlewares
  backend/src/middlewares/auth/authentication.middleware.ts
  backend/src/middlewares/auth/index.ts
  backend/src/middlewares/auth/jwt.middleware.ts
  backend/src/middlewares/auth/registration.middleware.ts
  backend/src/middlewares/index.ts
Due: npm run lint:editorconfig

HC-17: + add passport config
  backend/src/configs/index.ts
  backend/src/configs/passport.config.ts
  backend/src/configs/routes-white-list.config.ts
Due: npm run lint:editorconfig

HC-17: + add strategy enum
  backend/src/common/enums/index.ts
  backend/src/common/enums/strategy/index.ts
  backend/src/common/enums/strategy/strategy-name.enum.ts
Due: npm run lint:editorconfig

HC-17: + add global type for Express.User & Express.Request
  backend/src/common/@types/express/user-type.d.ts
  backend/tsconfig.json
Due: npm run lint:editorconfig

HC-17: * add passport packages
  backend/package-lock.json
  backend/package.json
Due: npm run lint:editorconfig

HC-17: * make use of passport middlewares
  backend/src/api/auth/auth.api.ts
  backend/src/server.ts
Due: npm run lint:editorconfig

HC-21: *complete requested changes
  backend/src/api/user/user.api.ts
  backend/src/data/repositories/user-repository.ts
  frontend/src/app.tsx
  frontend/src/components/doctor-details/doctor-details.tsx
  frontend/src/components/doctor-details/styles.module.scss
  frontend/src/services/user-api/user-api.service.ts
  frontend/src/store/slices/doctors/doctors.slice.ts
  shared/src/common/interfaces/doctor-details/doctor-details.instance.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-20 - deleted odd component import
  frontend/src/app.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-21: *correction lint errors
  shared/src/common/enums/api/users-api-path.enum.ts
  shared/src/common/enums/doctor/doctor-details-key.enum.ts
  shared/src/common/enums/specialization/specialization-key.enum.ts
  shared/src/common/enums/user-specialization/user-specialization-key.enum.ts
Due: npm run lint:editorconfig

HC-21: *correction lint errors #2
  backend/src/common/enums/db/foreing-key.enum.ts
  backend/src/common/enums/db/model-alias.enum.ts
  backend/src/common/enums/db/model-name.enum.ts
  backend/src/common/enums/db/table-name.enum.ts
  backend/src/common/types/db/db-models.type.ts
  backend/src/data/db/associations.ts
  backend/src/data/models/index.ts
  backend/src/data/models/specializations.ts
  backend/src/data/models/user-specialization.ts
  backend/src/data/repositories/user-repository.ts
  frontend/src/components/doctor-details/doctor-details.tsx
  frontend/src/services/user-api/user-api.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-15: * move default-values to constants
  frontend/src/components/doctors-filtration-panel/common/constants/payload-default-values.ts
  frontend/src/components/doctors-filtration-panel/doctors-filtration-panel.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-15: * improvements for filtration fields
  shared/src/common/enums/filtration/doctor-filtration.enum.ts
Due: npm run lint:editorconfig

HC-15: * add names for labels
  frontend/src/components/doctors-filtration-panel/doctors-filtration-panel.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-21: *update Route '/details/:id' with enum
  frontend/src/app.tsx
  frontend/src/common/enums/app/app-route.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-21: *replace PropTypes instance
  frontend/src/components/doctor-details/common/interfaces/index.ts
  frontend/src/components/doctor-details/common/interfaces/prop-types.instance.ts
  frontend/src/components/doctor-details/doctor-details.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-21: *update doctor-details css
  frontend/src/components/doctor-details/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-15: * modify filtration panel
  frontend/src/components/doctors-filtration-panel/doctors-filtration-panel.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-36: + get, put methods to geolocation api
  backend/src/api/geolocation/geolocation.api.ts
  backend/src/data/repositories/geolocation-repository.ts
  backend/src/services/geolocation/geolocation.service.ts
Due: npm run lint:editorconfig

HC-36: + geolocation service to frontend
  frontend/src/common/enums/api/index.ts
  frontend/src/common/interfaces/geolocation/index.ts
  frontend/src/common/interfaces/index.ts
  frontend/src/services/geolocation/geolocation.service.ts
  frontend/src/services/index.ts
  shared/src/common/enums/api/geolocations-api-path.enum.ts
  shared/src/common/enums/geolocation/geolocation-key.enum.ts
  shared/src/common/interfaces/geolocation/geolocation.instance.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-36: + geolocation functionality
  frontend/src/store/slices/auth/auth.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-36: * fix lint errors
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/geolocations-api-path.enum.ts
  shared/src/common/enums/geolocation/geolocation-key.enum.ts
Due: npm run lint:editorconfig

HC-36: * fix lint errors
  backend/src/common/enums/api/index.ts
  backend/src/data/repositories/index.ts
  backend/src/services/services.ts
Due: npm run lint:editorconfig

HC-21: *update enums
  backend/src/api/user/user.api.ts
  frontend/src/app.tsx
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/services/user-api/user-api.service.ts
  shared/src/common/enums/api/users-api-path.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-15: + add enum for icons
  frontend/src/common/enums/icons/icons.enum.ts
  frontend/src/common/enums/icons/index.ts
  frontend/src/common/enums/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-21: *add check doctorDetails!==null
  frontend/src/components/doctor-details/doctor-details.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-15: * correct set icons on background
  frontend/src/components/common/details/details.tsx
  frontend/src/components/common/details/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-15: * improvements with eslint
  frontend/src/components/common/checkbox/checkbox.tsx
  frontend/src/components/doctors-filtration-panel/common/constants/payload-default-values.ts
  frontend/src/components/doctors-filtration-panel/doctors-filtration-panel.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-15: * small improvements with eslint
  shared/src/common/enums/doctor/doctor-type.enum.ts
Due: npm run lint:editorconfig

HC-20 + add filter panel to page, and add button to this panel
  frontend/src/assets/images/camera.svg
  frontend/src/components/clinics/clinics.tsx
  frontend/src/components/clinics/components/add-clinic/styles.module.scss
  frontend/src/components/clinics/styles.module.scss
  frontend/src/store/slices/clinics/clinics.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-36: * get method's path
  backend/src/api/geolocation/geolocation.api.ts
Due: npm run lint:editorconfig
