Repository BinaryStudioAcademy/bsa-winter-2021-healthcare: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

HC70*fixed document size in profile
  frontend/src/components/profile/components/edit-document-popup/edit-document-popup.tsx
  frontend/src/components/profile/components/edit-document-popup/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC70*fixed modal behaviour
  frontend/src/components/common/modal/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC70+hide check document button with permission
  frontend/src/components/profile/components/documents/documents.tsx
  frontend/src/components/profile/components/user-info/user-info.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC70-fix lint
  frontend/src/components/common/modal/styles.module.scss
  frontend/src/components/profile/components/documents/documents.tsx
  frontend/src/components/profile/components/user-info/user-info.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-71: * add appointments route
  backend/src/api/appointment/appointment.api.ts
  backend/src/data/repositories/appointment-repository.ts
  backend/src/services/appointment/appoitment-service.service.ts
Due: npm run lint:editorconfig

HC-71: * add appointment icon
  frontend/src/common/enums/icons/icon.enum.ts
  frontend/src/components/common/details/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-71: * change doctorId in appointmentData to correct
  frontend/src/store/slices/doctor-details/doctor-details.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-71: * add appointment info
  frontend/src/common/interfaces/appointment/index.ts
  frontend/src/store/slices/profile/profile.slice.ts
  shared/src/common/interfaces/appointment/appointment-info.instance.ts
  shared/src/common/interfaces/appointment/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-71: + add appointment tab in profile page
  frontend/src/components/profile/common/enums/profile-tab.enum.ts
  frontend/src/components/profile/components/appointments/appointments.module.scss
  frontend/src/components/profile/components/appointments/appointments.tsx
  frontend/src/components/profile/components/diagnoses/diagnoses.tsx
  frontend/src/components/profile/components/side-menu/side-menu.tsx
  frontend/src/components/profile/components/side-menu/styles.module.scss
  frontend/src/components/profile/profile.tsx
  frontend/src/services/appointment-api/appointment-api.service.ts
  shared/src/common/enums/api/appointments-api-path.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC73: * add profession abstractions
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/index.ts
  shared/src/common/enums/api/profession-api-path.ts
  shared/src/common/enums/doctor/doctor-extended-key.enum.ts
  shared/src/common/interfaces/doctor-extended/doctor-extended.instance.ts
Due: npm run lint:editorconfig

HC73: * add profession services for FE
  frontend/src/services/index.ts
  frontend/src/services/profession-api/profession-api.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC73: * add profession slice methods
  frontend/src/store/slices/profile/profile.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC73: * add profession service for BE
  backend/src/services/profession/profession.service.ts
  backend/src/services/services.ts
Due: npm run lint:editorconfig

HC73: * add profession repository
  backend/src/data/repositories/index.ts
  backend/src/data/repositories/profession.repository.ts
  backend/src/data/repositories/user-repository.ts
Due: npm run lint:editorconfig

HC73: * add profession select to component
  frontend/src/components/profile/components/user-info/styles.module.scss
  frontend/src/components/profile/components/user-info/user-info.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC73: * add profession api
  backend/src/api/api.ts
  backend/src/api/profession/profession.api.ts
Due: npm run lint:editorconfig

HC73: * add imports
  frontend/src/common/interfaces/index.ts
  frontend/src/common/interfaces/profession/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC73: * import fix
  frontend/src/common/enums/index.ts
  frontend/src/common/enums/profession/index.ts
  frontend/src/components/profile/components/user-info/user-info.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-41: + Add chats page
  frontend/src/app.tsx
  frontend/src/assets/styles/index.scss
  frontend/src/components/chats/chats.tsx
  frontend/src/components/chats/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-41: + chats slice
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app.tsx
  frontend/src/common/enums/app/reducer-name.enum.ts
  frontend/src/components/chats/chats.tsx
  frontend/src/components/chats/components/input-message-form/input-message-form.tsx
  frontend/src/components/chats/components/input-message-form/styles.module.scss
  frontend/src/components/chats/components/member-list/member-list.tsx
  frontend/src/components/chats/components/member/member.tsx
  frontend/src/components/chats/components/message-list/message-list.tsx
  frontend/src/components/chats/components/message-list/styles.module.scss
  frontend/src/components/chats/styles.module.scss
  frontend/src/components/sign/sign.tsx
  frontend/src/store/slices/chats/chats.slice.ts
  frontend/src/store/slices/index.ts
  frontend/src/store/store.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-41: + InputMessageForm component
  frontend/src/components/chats/chats.tsx
  frontend/src/components/chats/components/index.ts
  frontend/src/components/chats/components/input-message-form/input-message-form.tsx
  frontend/src/components/chats/components/input-message-form/styles.module.scss
  frontend/src/components/chats/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-41: + MessageList component
  frontend/src/components/chats/chats.tsx
  frontend/src/components/chats/components/index.ts
  frontend/src/components/chats/components/message-list/message-list.tsx
  frontend/src/components/chats/components/message-list/styles.module.scss
  frontend/src/components/chats/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-41: + Member component
  frontend/src/components/chats/chats.tsx
  frontend/src/components/chats/components/index.ts
  frontend/src/components/chats/components/member/member.tsx
  frontend/src/components/chats/components/member/styles.module.scss
  frontend/src/components/chats/components/message/message.tsx
  frontend/src/components/chats/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-41: + MemberList component
  frontend/src/components/chats/chats.tsx
  frontend/src/components/chats/components/index.ts
  frontend/src/components/chats/components/member-list/member-list.tsx
  frontend/src/components/chats/components/member-list/styles.module.scss
  frontend/src/components/chats/components/member/member.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-41: + Message component
  frontend/src/components/chats/chats.tsx
  frontend/src/components/chats/components/index.ts
  frontend/src/components/chats/components/message/message.tsx
  frontend/src/components/chats/components/message/styles.module.scss
  frontend/src/components/chats/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-41: + HorizontalLine component
  frontend/src/components/chats/chats.tsx
  frontend/src/components/chats/components/horizontal-line/horizontal-line.tsx
  frontend/src/components/chats/components/horizontal-line/styles.module.scss
  frontend/src/components/chats/components/index.ts
  frontend/src/components/chats/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-41: + validation when send message
  backend/src/api/chat/chat.api.ts
  backend/src/data/repositories/chat-repository.ts
  backend/src/validation-schemas/index.ts
  backend/src/validation-schemas/message/index.ts
  frontend/src/app.tsx
  frontend/src/components/chats/components/add-member-form/add-member-form.tsx
  frontend/src/components/chats/components/input-message-form/input-message-form.tsx
  frontend/src/validation-schemas/message/message.validation-schema.ts
  frontend/src/validation-schemas/user/index.ts
  shared/src/common/enums/message/index.ts
  shared/src/common/enums/message/message-validation-message.enum.ts
  shared/src/validation-schemas/index.ts
  shared/src/validation-schemas/message/message.validation-schema.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-41: + AddMemberForm (new chat)
  backend/src/api/api.ts
  backend/src/api/chat/chat.api.ts
  backend/src/common/enums/db/model-name.enum.ts
  backend/src/common/interfaces/chat/index.ts
  backend/src/common/interfaces/index.ts
  backend/src/data/models/index.ts
  backend/src/data/models/member.ts
  backend/src/data/repositories/chat-repository.ts
  backend/src/data/repositories/index.ts
  backend/src/services/chat/chat.service.ts
  backend/src/services/services.ts
  frontend/src/common/enums/api/index.ts
  frontend/src/common/interfaces/chat/index.ts
  frontend/src/common/interfaces/form/option.interface.ts
  frontend/src/common/interfaces/index.ts
  frontend/src/components/chats/components/add-member-form/add-member-form.tsx
  frontend/src/components/chats/components/add-member-form/styles.module.scss
  frontend/src/components/chats/components/horizontal-line/styles.module.scss
  frontend/src/components/chats/components/index.ts
  frontend/src/components/chats/components/input-message-form/input-message-form.tsx
  frontend/src/components/chats/components/member-list/member-list.tsx
  frontend/src/components/chats/components/select-async/maps/index.ts
  frontend/src/components/chats/components/select-async/maps/input-color-to-css-color-value.map.ts
  frontend/src/components/chats/components/select-async/select-async.tsx
  frontend/src/components/chats/components/select-async/styles-select-async.scss
  frontend/src/components/chats/components/select-async/styles.module.scss
  frontend/src/components/chats/components/select-async/styles.ts
  frontend/src/components/common/text-input/styles.module.scss
  frontend/src/services/chat/chat.service.ts
  frontend/src/services/index.ts
  frontend/src/store/slices/chats/chats.slice.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/chats-api-path.enum.ts
  shared/src/common/enums/api/index.ts
  shared/src/common/enums/chat/index.ts
  shared/src/common/enums/chat/member-key.enum.ts
  shared/src/common/enums/index.ts
  shared/src/common/interfaces/chat/index.ts
  shared/src/common/interfaces/chat/member.instance.ts
  shared/src/common/interfaces/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-41: * MessageList (backend), InputMessageForm (backend)
  backend/src/api/chat/chat.api.ts
  backend/src/common/interfaces/index.ts
  backend/src/data/models/member.ts
  backend/src/data/models/message.ts
  backend/src/data/repositories/chat-repository.ts
  backend/src/services/chat/chat.service.ts
  frontend/src/common/enums/api/index.ts
  frontend/src/common/enums/index.ts
  frontend/src/common/enums/message/index.ts
  frontend/src/common/interfaces/message/index.ts
  frontend/src/components/chats/components/horizontal-line/styles.module.scss
  frontend/src/components/chats/components/input-message-form/input-message-form.tsx
  frontend/src/components/chats/components/message-list/message-list.tsx
  frontend/src/services/chat/chat.service.ts
  frontend/src/store/slices/chats/chats.slice.ts
  shared/src/common/enums/message/message-key.enum.ts
  shared/src/common/interfaces/message/index.ts
  shared/src/common/interfaces/message/message-payload.instance.ts
  shared/src/common/interfaces/message/message.instance.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-41: + load chat members
  backend/src/api/chat/chat.api.ts
  backend/src/data/repositories/chat-repository.ts
  backend/src/services/chat/chat.service.ts
  frontend/src/components/chats/components/add-member-form/styles.module.scss
  frontend/src/components/chats/components/member-list/member-list.tsx
  frontend/src/services/chat/chat.service.ts
  frontend/src/store/slices/chats/chats.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-41: - SelectAsync; + debounce
  backend/src/api/messages/messages.api.ts
  backend/src/data/repositories/messages-repository.ts
  backend/src/services/messages/messages.service.ts
  frontend/src/common/enums/messages/index.ts
  frontend/src/common/interfaces/form/option.interface.ts
  frontend/src/components/messages/components/add-member-form/add-member-form.tsx
  frontend/src/components/messages/components/index.ts
  frontend/src/components/messages/components/member-list/member-list.tsx
  frontend/src/components/messages/components/select-async/maps/index.ts
  frontend/src/components/messages/components/select-async/maps/input-color-to-css-color-value.map.ts
  frontend/src/components/messages/components/select-async/select-async.tsx
  frontend/src/components/messages/components/select-async/styles-select-async.scss
  frontend/src/components/messages/components/select-async/styles.module.scss
  frontend/src/components/messages/components/select-async/styles.ts
  frontend/src/store/slices/messages/messages.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-41: * Implemented recommendations
  backend/src/api/messages/messages.api.ts
  backend/src/common/enums/index.ts
  backend/src/common/enums/messages/index.ts
  backend/src/common/interfaces/chat/index.ts
  backend/src/common/interfaces/messages/index.ts
  backend/src/data/repositories/messages-repository.ts
  backend/src/services/messages/messages.service.ts
  frontend/src/components/messages/components/add-member-form/add-member-form.tsx
  frontend/src/components/messages/components/input-message-form/input-message-form.tsx
  frontend/src/components/messages/components/input-message-form/styles.module.scss
  frontend/src/components/messages/components/message-list/styles.module.scss
  frontend/src/components/messages/components/message/styles.module.scss
  frontend/src/components/sign/sign.tsx
  frontend/src/services/messages/messages.service.ts
  frontend/src/store/slices/messages/messages.slice.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-41: * member to user
  backend/src/api/messages/messages.api.ts
  backend/src/api/user/user.api.ts
  backend/src/common/enums/db/model-name.enum.ts
  backend/src/common/enums/messages/index.ts
  backend/src/common/enums/user/index.ts
  backend/src/common/interfaces/messages/index.ts
  backend/src/data/models/index.ts
  backend/src/data/models/member.ts
  backend/src/data/repositories/messages-repository.ts
  backend/src/data/repositories/user-repository.ts
  backend/src/services/messages/messages.service.ts
  backend/src/services/user-service/user-service.service.ts
  frontend/src/common/enums/messages/index.ts
  frontend/src/common/interfaces/messages/index.ts
  frontend/src/components/messages/components/add-user-form/add-user-form.tsx
  frontend/src/components/messages/components/add-user-form/styles.module.scss
  frontend/src/components/messages/components/index.ts
  frontend/src/components/messages/components/input-message-form/input-message-form.tsx
  frontend/src/components/messages/components/member-list/member-list.tsx
  frontend/src/components/messages/components/message-list/message-list.tsx
  frontend/src/components/messages/components/user-list/styles.module.scss
  frontend/src/components/messages/components/user-list/user-list.tsx
  frontend/src/components/messages/components/user/styles.module.scss
  frontend/src/components/messages/components/user/user.tsx
  frontend/src/components/messages/messages.tsx
  frontend/src/services/messages/messages.service.ts
  frontend/src/services/user-api/user-api.service.ts
  frontend/src/store/slices/messages/messages.slice.ts
  shared/src/common/enums/api/messages-api-path.enum.ts
  shared/src/common/enums/api/users-api-path.enum.ts
  shared/src/common/enums/messages/index.ts
  shared/src/common/enums/messages/member-key.enum.ts
  shared/src/common/interfaces/messages/index.ts
  shared/src/common/interfaces/messages/member.instance.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-41: * Implemented recommendations
  backend/src/api/messages/messages.api.ts
  backend/src/data/repositories/appointment.repository.ts
  backend/src/data/repositories/clinic.repository.ts
  backend/src/data/repositories/doctor.repository.ts
  backend/src/data/repositories/document.repository.ts
  backend/src/data/repositories/geolocation.repository.ts
  backend/src/data/repositories/index.ts
  backend/src/data/repositories/messages.repository.ts
  backend/src/data/repositories/permission.repository.ts
  backend/src/data/repositories/user.repository.ts
  backend/src/services/doctor/doctor.service.ts
  backend/src/services/messages/message.service.ts
  backend/src/services/messages/messages.service.ts
  backend/src/services/permission/permission.service.ts
  backend/src/services/services.ts
  backend/src/services/user-service/user-service.service.ts
  frontend/src/common/helpers/index.ts
  frontend/src/common/helpers/timeout/index.ts
  frontend/src/components/doctors/components/filtration/filtration.tsx
  frontend/src/components/messages/components/add-user-form/add-user-form.tsx
  frontend/src/components/messages/components/add-user-form/common/constants/constants.ts
  frontend/src/components/messages/components/add-user-form/common/constants/index.ts
  frontend/src/components/messages/components/add-user-form/styles.module.scss
  frontend/src/components/messages/components/message-list/common/constants/constants.ts
  frontend/src/components/messages/components/message-list/common/constants/index.ts
  frontend/src/components/messages/components/message-list/message-list.tsx
  frontend/src/components/messages/components/message-list/styles.module.scss
  frontend/src/helpers/index.ts
  frontend/src/helpers/timeout/index.ts
  frontend/src/services/messages/messages.service.ts
  frontend/src/services/user-api/user-api.service.ts
  frontend/src/store/slices/messages/messages.slice.ts
  shared/src/common/enums/date/date-formats.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-80: * Fix cannot react clinic of null
  frontend/src/components/profile/components/add-clinic/components/select-clinic/select-clinic.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-78: * Rename 'My profile' to 'Profile'
  frontend/src/components/profile/components/side-menu/side-menu.tsx
  frontend/src/components/profile/components/user-info/user-info.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-56: *correct lint error
  backend/src/data/repositories/index.ts
  backend/src/services/city-service/city-service.service.ts
Due: npm run lint:editorconfig

HC-82: * Get user from `auth` to check document permission
  frontend/src/components/profile/components/user-info/user-info.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-81 * fixed profile
  frontend/src/components/profile/components/add-clinic/add-clinic.tsx
  frontend/src/components/profile/components/add-clinic/components/select-clinic/select-clinic.tsx
  frontend/src/components/profile/profile.tsx
  frontend/src/store/slices/doctors/doctors.slice.ts
  frontend/src/store/slices/profile/profile.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

Path conditions:
  npm run lint:editorconfig: any of: *
  npm run lint:shared:js: any of: shared/**/*.{ts}
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
