Repository BinaryStudioAcademy/bsa-winter-2021-healthcare: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig
'shared/**/*.{ts}': npm run lint:shared:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js

HC-36: * update method at geolocation repository
  backend/src/data/repositories/geolocation-repository.ts
Due: npm run lint:editorconfig

HC-36: * geolocation service
  frontend/src/services/geolocation/geolocation.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-36: * geolocation api path
  shared/src/common/enums/api/geolocations-api-path.enum.ts
Due: npm run lint:editorconfig

HC-15: * correct name for enum
  frontend/src/common/enums/icons/icon.enum.ts
  frontend/src/common/enums/icons/index.ts
  frontend/src/components/common/details/details.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-15: * correct import&export fo details
  frontend/src/components/common/index.ts
  frontend/src/components/doctors-filtration-panel/doctors-filtration-panel.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-15: - remove component from app routes
  frontend/src/app.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-26: *update user table - made email column unique
  backend/src/data/models/user.ts
Due: npm run lint:editorconfig

HC-20 fixed lint error
  frontend/src/components/clinics/components/add-clinic/common/constants/index.ts
  frontend/src/services/clinic-api/clinic-api.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-20 fixed lint error
  backend/src/api/clinic/clinic.api.ts
  backend/src/data/repositories/clinic-repository.ts
  frontend/src/components/clinics/components/add-clinic/common/constants/index.ts
  frontend/src/services/clinic-api/clinic-api.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-26: +migration make-email-column-unique-in-users-table
  backend/src/data/migrations/20210317141715-make-email-column-unique-in-users-table.js
Due: npm run lint:editorconfig

HC-42 + add markup for permissions page
  frontend/src/app.tsx
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/common/enums/index.ts
  frontend/src/common/enums/permission/index.ts
  frontend/src/components/common/table/styles.module.scss
  frontend/src/components/permissions/helpers/get-rows/get-rows.ts
  frontend/src/components/permissions/helpers/index.ts
  frontend/src/components/permissions/permissions-page.tsx
  frontend/src/components/permissions/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-17: * change signup return data
  backend/src/api/auth/auth.api.ts
  backend/src/services/auth/auth.service.ts
Due: npm run lint:editorconfig

HC-17: - delete useless exports
  shared/src/common/enums/index.ts
Due: npm run lint:editorconfig

HC-15: * add panel to page
  frontend/src/components/clinics/clinics.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-17: * change register strategy logic
  backend/src/configs/passport.config.ts
Due: npm run lint:editorconfig

HC-17: + add authorization middleware and maku use of it
  backend/src/middlewares/auth/authorization.middleware.ts
  backend/src/middlewares/auth/index.ts
  backend/src/server.ts
Due: npm run lint:editorconfig

HC-17: * change white list routes
  backend/src/configs/routes-white-list.config.ts
Due: npm run lint:editorconfig

HC-17: * change start-dev script
  backend/package.json
Due: npm run lint:editorconfig

HC-17: * change IRegisterPayload to type
  frontend/src/services/auth-api/auth-api.service.ts
  shared/src/common/interfaces/register/register-payload.interface.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-17: * add spaces, semicolons, new lines
  backend/src/middlewares/validate-schema/validate-schema.middleware.ts
  frontend/src/store/slices/auth/auth.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-15: * styles for displaying filters
  frontend/src/components/clinics/clinics.tsx
  frontend/src/components/clinics/styles.module.scss
  frontend/src/components/doctors-filtration-panel/doctors-filtration.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-17: * resolve lint error & warnings
  backend/src/common/@types/express/user-type.d.ts
  backend/src/configs/passport.config.ts
  backend/src/middlewares/auth/authorization.middleware.ts
Due: npm run lint:editorconfig

Hc-20 * fixed all code for criteria
  backend/src/api/clinic/clinic.api.ts
  backend/src/data/repositories/clinic-repository.ts
  backend/src/services/clinic-service/clinic-service.service.ts
  frontend/src/components/clinics/clinics.tsx
  frontend/src/components/clinics/components/add-clinic-popup/add-clinic-popup.tsx
  frontend/src/components/clinics/components/add-clinic-popup/styles.module.scss
  frontend/src/components/clinics/components/add-clinic/add-clinic.tsx
  frontend/src/components/clinics/components/add-clinic/common/index.ts
  frontend/src/components/clinics/components/common/constants/default-clinic-value.constant.ts
  frontend/src/components/clinics/components/common/constants/index.ts
  frontend/src/components/clinics/components/index.ts
  frontend/src/services/clinic-api/clinic-api.service.ts
  frontend/src/store/slices/clinics/clinics.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-42 + add permission edit-permission
  shared/src/common/enums/permission/permission-name.enum.ts
Due: npm run lint:editorconfig

HC-36: * update method in geolocation repository
  backend/src/data/repositories/geolocation-repository.ts
Due: npm run lint:editorconfig

HC-36: * post method in geolocation api
  backend/src/api/geolocation/geolocation.api.ts
Due: npm run lint:editorconfig

HC-20 - unused code deleted
  backend/src/api/user/user.api.ts
  backend/src/data/repositories/user-repository.ts
  backend/src/services/user-service/user-service.service.ts
  frontend/src/services/user-api/user-api.service.ts
  frontend/src/store/slices/users/users.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-20 * fixed mistakes
  frontend/src/components/clinics/clinics.tsx
  frontend/src/components/clinics/components/add-clinic-popup/add-clinic-popup.tsx
  frontend/src/components/clinics/components/index.ts
  frontend/src/services/clinic-api/clinic-api.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-15: * rename component
  frontend/src/components/clinics/clinics.tsx
  frontend/src/components/filtration/common/constants/payload-default-values.ts
  frontend/src/components/filtration/filtration.module.scss
  frontend/src/components/filtration/filtration.tsx
  frontend/src/components/filtration/index.ts
  frontend/src/components/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-15: * move component to /doctors
  frontend/src/app.tsx
  frontend/src/components/clinics/styles.module.scss
  frontend/src/components/doctors/components/common/constants/default-filtration-values.constant.ts
  frontend/src/components/doctors/components/common/constants/index.ts
  frontend/src/components/doctors/components/doctor-item/doctors-item.tsx
  frontend/src/components/doctors/components/doctor-item/styles.module.scss
  frontend/src/components/doctors/components/doctors-list/doctors-list.tsx
  frontend/src/components/doctors/components/doctors-list/styles.module.scss
  frontend/src/components/doctors/components/filtration/filtration.module.scss
  frontend/src/components/doctors/components/filtration/filtration.tsx
  frontend/src/components/doctors/components/filtration/index.ts
  frontend/src/components/doctors/components/index.ts
  frontend/src/components/doctors/doctors.tsx
  frontend/src/components/doctors/styles.module.scss
  frontend/src/components/filtration/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-38: + AuthorizedRoute component
  frontend/src/app.tsx
  frontend/src/common/interfaces/index.ts
  frontend/src/common/interfaces/permission/index.ts
  frontend/src/components/common/authorized-route/authorized-route.tsx
  frontend/src/components/common/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-38: * change name admin-page to users
  frontend/src/app.tsx
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/users/common/types/index.ts
  frontend/src/components/users/common/types/prop-function-void.type.ts
  frontend/src/components/users/components/actions-button/actions-button.tsx
  frontend/src/components/users/components/actions-button/styles.module.scss
  frontend/src/components/users/components/admin-table/admin-table.tsx
  frontend/src/components/users/components/admin-table/helpers/get-rows/get-rows.helper.ts
  frontend/src/components/users/components/admin-table/helpers/index.ts
  frontend/src/components/users/components/admin-table/styles.module.scss
  frontend/src/components/users/components/create-user/create-user.tsx
  frontend/src/components/users/components/create-user/styles.module.scss
  frontend/src/components/users/components/edit-user/edit-user.tsx
  frontend/src/components/users/components/edit-user/styles.module.scss
  frontend/src/components/users/components/index.ts
  frontend/src/components/users/components/search-and-filter-form/search-and-filter-form.tsx
  frontend/src/components/users/constants/index.ts
  frontend/src/components/users/constants/user-instance.constant.ts
  frontend/src/components/users/styles.module.scss
  frontend/src/components/users/users.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-38: + check permissions
  backend/src/data/repositories/user-repository.ts
  backend/src/services/user-service/user-service.service.ts
  frontend/src/app.tsx
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/common/enums/index.ts
  frontend/src/common/enums/permission/index.ts
  frontend/src/common/interfaces/user/index.ts
  frontend/src/components/common/authorized-route/authorized-route.tsx
  frontend/src/store/slices/auth/auth.slice.ts
  shared/src/common/types/responses/login-response.types.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-38: * implemented recommendations
  backend/src/services/user-service/user-service.service.ts
  frontend/src/app.tsx
  frontend/src/components/common/authorized-route/authorized-route.tsx
  frontend/src/components/common/authorized-route/helpers/check-has-permission.ts
  frontend/src/components/common/authorized-route/helpers/index.ts
  frontend/src/components/users/components/admin-table/helpers/get-rows/get-rows.helper.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-42 * add checkbox to table
  frontend/src/common/interfaces/index.ts
  frontend/src/common/interfaces/permission/index.ts
  frontend/src/common/interfaces/user-with-permissions/index.ts
  frontend/src/components/permissions/helpers/get-rows/get-rows.ts
  frontend/src/components/permissions/permissions-page.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-17: * change payloads from types to interfaces
  frontend/src/common/interfaces/user/index.ts
  frontend/src/services/auth-api/auth-api.service.ts
  shared/src/common/interfaces/register/register-payload.interface.ts
  shared/src/common/interfaces/user/user-login-payload.interface.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-17: * move middlewares to properly folder
  backend/src/middlewares/auth/index.ts
  backend/src/middlewares/authentication/authentication.middleware.ts
  backend/src/middlewares/authorization/authorization.middleware.ts
  backend/src/middlewares/index.ts
  backend/src/middlewares/jwt/jwt.middleware.ts
  backend/src/middlewares/registration/registration.middleware.ts
Due: npm run lint:editorconfig

HC-17: * allow single extends for interface
  backend/.eslintrc.yml
  backend/src/common/@types/express/user-type.d.ts
Due: npm run lint:editorconfig

HC-17: * remove user check
  backend/src/api/auth/auth.api.ts
Due: npm run lint:editorconfig
