Repository BinaryStudioAcademy/bsa-winter-2021-healthcare: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

HC6*profile component refactoring
  frontend/src/components/common/index.ts
  frontend/src/components/common/modal/modal.tsx
  frontend/src/components/common/modal/styles.module.scss
  frontend/src/components/profile/components/profile-info/profile-info.tsx
  frontend/src/components/profile/components/profile-info/styles.module.scss
  frontend/src/components/profile/components/profile-menu/profile-menu.tsx
  frontend/src/components/profile/components/profile-menu/styles.module.scss
  frontend/src/components/profile/profile.tsx
  frontend/src/helpers/date/get-date-format.helper.ts
  frontend/src/store/slices/auth/auth.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-7 - delete pdf icon
  frontend/src/assets/images/pdf-icon.svg
  frontend/src/common/enums/form/button-icon.enum.ts
  frontend/src/components/admin-page/components/actions-button/actions-button.tsx
  frontend/src/components/common/button/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-7 * replace components to own dir
  frontend/src/components/admin-page/components/admin-table/admin-table.tsx
  frontend/src/components/admin-page/components/admin-table/helpers/get-rows/get-rows.helper.ts
  frontend/src/components/admin-page/components/admin-table/helpers/getRows.helper.ts
  frontend/src/components/admin-page/components/admin-table/helpers/index.ts
  frontend/src/components/admin-page/components/create-user/create-user.tsx
  frontend/src/components/admin-page/components/create-user/styles.module.scss
  frontend/src/components/admin-page/components/edit-user/edit-user.tsx
  frontend/src/components/admin-page/components/edit-user/styles.module.scss
  frontend/src/components/admin-page/components/index.ts
  frontend/src/components/admin-page/components/search-and-filter-form/search-and-filter-form.tsx
  frontend/src/components/admin-page/components/types/index.ts
  frontend/src/components/admin-page/components/types/prop-function-void.type.ts
  frontend/src/components/admin-page/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-7 * rename all own function
  frontend/src/components/admin-page/admin-page.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 - delete type for children
  frontend/src/components/common/modal/modal.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * rename functions
  frontend/src/components/admin-page/admin-page.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * changed type for prop functions
  frontend/src/components/admin-page/admin-page.tsx
  frontend/src/components/admin-page/common/types/index.ts
  frontend/src/components/admin-page/common/types/prop-function-void.type.ts
  frontend/src/components/admin-page/components/actions-button/actions-button.tsx
  frontend/src/components/admin-page/components/admin-table/admin-table.tsx
  frontend/src/components/admin-page/components/admin-table/helpers/get-rows/get-rows.helper.ts
  frontend/src/components/admin-page/components/create-user/create-user.tsx
  frontend/src/components/admin-page/components/edit-user/edit-user.tsx
  frontend/src/components/admin-page/components/types/prop-function-void.type.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * edit npm version
  backend/package-lock.json
  frontend/package-lock.json
  package-lock.json
  shared/package-lock.json
Due: npm run lint:editorconfig

HC-19: * clinics api path
  frontend/src/common/enums/api/index.ts
  frontend/src/common/enums/api/user-api-path.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

development: + criteria desc
  quality-criteria.md
Due: npm run lint:editorconfig

HC-19: * clinic api
  backend/src/api/clinic/clinic.api.ts
Due: npm run lint:editorconfig

HC-19: * clinics component and styles
  frontend/src/components/clinics/clinics.tsx
  frontend/src/components/clinics/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-19: * fix button link
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/button/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-19: * clinic styles
  frontend/src/components/clinics/components/clinic/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-19: + card to clinic component
  frontend/src/components/clinics/components/clinic/clinic.module.scss
  frontend/src/components/clinics/components/clinic/clinic.tsx
  frontend/src/components/clinics/components/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-20 fixed npm version
  backend/package-lock.json
  frontend/package-lock.json
  package-lock.json
  shared/package-lock.json
Due: npm run lint:editorconfig

HC-19: * clinics reducer
  frontend/src/store/slices/clinics/clinics.slice.ts
  frontend/src/store/slices/index.ts
  frontend/src/store/store.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-15: * change route
  frontend/src/app.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

Hc-7 + add try catch to request
  frontend/src/store/slices/users/users.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-15: * set icon as background image
  frontend/src/components/common/details/details.tsx
  frontend/src/components/common/details/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-15: * change cbs names
  frontend/src/components/doctors-filtration-panel/doctors-filtration-panel.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-21: *update IDoctorDetails interface
  frontend/src/common/interfaces/doctor-details/index.ts
  frontend/src/common/interfaces/index.ts
  shared/src/common/interfaces/doctor-details/doctor-details.instance.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-21: +getDoctorDetails metod to userService
  frontend/src/services/user-api/user-api.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-21: add doctorDetails fetching to doctor.slice
  frontend/src/store/slices/doctors/doctors.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-21: *update doctor-details component
  frontend/src/components/doctor-details/doctor-details.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-21: -delete phone icon
  frontend/src/assets/images/icons/phone.svg
Due: npm run lint:editorconfig

HC-19: * user validation export
  frontend/src/validation-schemas/user/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-20 + add api service for get and create clinic on frontend
  frontend/src/common/enums/api/index.ts
  frontend/src/services/clinic-api/clinic-api.service.ts
  frontend/src/services/index.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/clinics-api-path.enum.ts
  shared/src/common/enums/api/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

Hc-20 + add clinic reducer and clinics store
  frontend/src/common/enums/app/reducer-name.enum.ts
  frontend/src/components/clinic/clinic.tsx
  frontend/src/store/slices/clinic/clinic.slice.ts
  frontend/src/store/slices/index.ts
  frontend/src/store/store.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-20 * fix path to camera icon
  frontend/src/components/clinic/components/add-clinic/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-34: + react-select
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/select/maps/index.ts
  frontend/src/components/common/select/maps/input-color-to-css-color-value.map.ts
  frontend/src/components/common/select/select.tsx
  frontend/src/components/common/select/styles-select.scss
  frontend/src/components/common/select/styles.module.scss
  frontend/src/components/common/select/styles.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-15: * remove anonymous functions
  frontend/src/components/doctors-filtration-panel/doctors-filtration-panel.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-15: - remove extra enums
  frontend/src/common/enums/doctor/index.ts
  frontend/src/common/enums/index.ts
  frontend/src/common/enums/payment/index.ts
  frontend/src/components/doctors-filtration-panel/doctors-filtration-panel.tsx
  shared/src/common/enums/doctor/doctor-assessment.enum.ts
  shared/src/common/enums/doctor/index.ts
  shared/src/common/enums/index.ts
  shared/src/common/enums/payment/index.ts
  shared/src/common/enums/payment/payment-type.enum.ts
  shared/src/common/interfaces/filtration/doctor-filtration-payload.interface.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

Hc-20 + add create, read, update functional for clinic(frontend)
  frontend/src/components/clinic/clinic.tsx
  frontend/src/components/clinic/components/add-clinic/add-clinic.tsx
  frontend/src/components/clinic/components/add-clinic/common/constants/index.ts
  frontend/src/components/clinic/components/add-clinic/common/index.ts
  frontend/src/services/clinic-api/clinic-api.service.ts
  frontend/src/store/slices/clinic/clinic.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

Hc-20 + add create, read, update functional for clinic(backend)
  backend/src/api/api.ts
  backend/src/api/clinic/clinic.api.ts
  backend/src/data/repositories/clinic-repository.ts
  backend/src/data/repositories/index.ts
  backend/src/services/clinic/clinic-service.service.ts
  backend/src/services/services.ts
  backend/src/validation-schemas/clinic/index.ts
  backend/src/validation-schemas/index.ts
Due: npm run lint:editorconfig

HC-20 * fixed height for pop-up
  frontend/src/components/clinic/components/add-clinic/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-15: * some improvements
  frontend/src/components/doctors-filtration-panel/doctors-filtration-panel.tsx
  shared/src/common/enums/filtration/doctor-filtration.enum.ts
  shared/src/common/interfaces/filtration/doctor-checkbox.interface.ts
  shared/src/common/interfaces/filtration/doctor-filtration-payload.interface.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-20 + add default value for clinic
  frontend/src/components/clinic/components/add-clinic/common/constants/default-clinic-value.constant.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-15: * change name of filtration field
  frontend/src/components/doctors-filtration-panel/doctors-filtration-panel.tsx
  shared/src/common/enums/filtration/doctor-filtration.enum.ts
  shared/src/common/interfaces/filtration/doctor-filtration-payload.interface.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-36: + geolocation api path enum
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/geolocations-api-path.enum.ts
  shared/src/common/enums/api/index.ts
Due: npm run lint:editorconfig

Path conditions:
  npm run lint:editorconfig: any of: *
  npm run lint:shared:js: any of: shared/**/*.{ts}
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
