Repository BinaryStudioAcademy/bsa-winter-2021-healthcare: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig
'shared/**/*.{ts}': npm run lint:shared:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js

HC-81 - remove console.log
  frontend/src/components/profile/profile.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-56: *update clinic slice
  frontend/src/store/slices/clinics/clinics.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-56: *update apiPath enum
  shared/src/common/enums/api/api-path.enum.ts
Due: npm run lint:editorconfig

HC-56: *update clinic validation
  shared/src/common/enums/validation/clinic/clinic-validation-message.enum.ts
  shared/src/validation-schemas/clinic/clinic.validation-schema.ts
Due: npm run lint:editorconfig

HC-71: * rename createAppointment to createdAppointment
  backend/src/api/appointment/appointment.api.ts
  backend/src/validation-schemas/appointment/index.ts
  frontend/src/components/doctor-details/components/appointment/appointment.tsx
  frontend/src/validation-schemas/appointment/index.ts
  shared/src/validation-schemas/create-appointment/appointment.validation-schema.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC73: * add validation schema
  backend/src/api/profession/profession.api.ts
  backend/src/validation-schemas/index.ts
  backend/src/validation-schemas/profession/index.ts
  shared/src/validation-schemas/index.ts
  shared/src/validation-schemas/profession/profession.validation-schema.ts
Due: npm run lint:editorconfig

HC73: * add constants
  frontend/src/common/constants/default-file-idx/default-file-idx.ts
  frontend/src/common/constants/index.ts
  frontend/src/components/common/edit-user-popup/edit-user-popup.tsx
  frontend/src/components/profile/components/user-info/common/constants/default-profession-value/default-profession-value.ts
  frontend/src/components/profile/components/user-info/common/constants/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC73: * add helper getProfessionOptions
  frontend/src/components/profile/components/user-info/helpers/get-profession-options/get-profession-options.helper.ts
  frontend/src/components/profile/components/user-info/helpers/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC73: * add same styles for selects
  frontend/src/components/profile/components/add-clinic/components/select-clinic/styles.module.scss
  frontend/src/components/profile/components/user-info/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC73: * fix select clinik view
  frontend/src/components/profile/components/add-clinic/components/select-clinic/select-clinic.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-74: * made phones&emails clickable
  frontend/src/components/doctor-details/components/doctor/doctor.tsx
  frontend/src/components/doctor-details/components/doctor/styles.module.scss
  frontend/src/components/doctors/components/doctor-item/doctors-item.tsx
  frontend/src/components/doctors/components/doctor-item/styles.module.scss
  frontend/src/components/profile/components/user-info/styles.module.scss
  frontend/src/components/profile/components/user-info/user-info.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC73: * update profile
  frontend/src/components/profile/components/user-info/user-info.tsx
  frontend/src/components/profile/profile.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC73: * fix input file width
  frontend/src/components/profile/components/user-info/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-65: + spinner
  frontend/src/components/common/index.ts
  frontend/src/components/common/spinner/spinner.module.scss
  frontend/src/components/common/spinner/spinner.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-65: * fix page reloading
  frontend/src/app.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

development: * development styles
  frontend/src/components/common/table/styles.module.scss
  frontend/src/components/users/components/admin-table/styles.module.scss
  frontend/src/components/users/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-74: * use template literals instead of concatenation
  frontend/src/components/doctor-details/components/doctor/doctor.tsx
  frontend/src/components/doctors/components/doctor-item/doctors-item.tsx
  frontend/src/components/profile/components/user-info/user-info.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC73: * rename profession repo
  backend/src/data/repositories/profession.repository.ts
Due: npm run lint:editorconfig

HC-81 * bugfix: when changing the user type to doctor, it was not added to the table of doctors
  backend/src/api/user/user.api.ts
  frontend/src/components/profile/components/add-clinic/components/select-clinic/select-clinic.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-83: + NoData common componet
  frontend/src/common/enums/index.ts
  frontend/src/common/enums/no-data/index.ts
  frontend/src/common/enums/no-data/no-data-labels.ts
  frontend/src/components/clinics/clinics.tsx
  frontend/src/components/clinics/styles.module.scss
  frontend/src/components/common/index.ts
  frontend/src/components/common/no-data/no-data.tsx
  frontend/src/components/common/no-data/styles.module.scss
  frontend/src/components/doctors/components/doctors-list/doctors-list.tsx
  frontend/src/components/messages/components/message-list/message-list.tsx
  frontend/src/components/messages/components/user-list/user-list.tsx
  frontend/src/components/notifications/notifications.tsx
  frontend/src/components/notifications/styles.module.scss
  frontend/src/components/profile/components/diagnoses/diagnoses.module.scss
  frontend/src/components/profile/components/diagnoses/diagnoses.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-83: * Implemented recommendations
  frontend/src/common/enums/no-data/index.ts
  frontend/src/common/enums/no-data/no-data-label.ts
  frontend/src/components/clinics/clinics.tsx
  frontend/src/components/common/index.ts
  frontend/src/components/common/no-data-placeholder/no-data-placeholder.tsx
  frontend/src/components/common/no-data-placeholder/styles.module.scss
  frontend/src/components/doctors/components/doctors-list/doctors-list.tsx
  frontend/src/components/messages/components/message-list/message-list.tsx
  frontend/src/components/messages/components/user-list/user-list.tsx
  frontend/src/components/notifications/notifications.tsx
  frontend/src/components/profile/components/diagnoses/diagnoses.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-71: * make use of appointment with user
  frontend/src/store/slices/profile/profile.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-71: + add appointment with user interface
  backend/src/data/repositories/appointment.repository.ts
  frontend/src/common/interfaces/appointment/index.ts
  frontend/src/components/profile/components/appointments/appointments.module.scss
  frontend/src/components/profile/components/appointments/appointments.tsx
  frontend/src/services/appointment-api/appointment-api.service.ts
  shared/src/common/enums/appointment/appointment-key.enum.ts
  shared/src/common/interfaces/appointment/appointment-with-user.instance.ts
  shared/src/common/interfaces/appointment/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-71: * fix - fetch diagnoses by id from params instead of req.user.id
  backend/src/api/diagnosis/diagnosis.api.ts
  frontend/src/components/profile/components/diagnoses/diagnoses.tsx
  frontend/src/services/diagnosis/diagnosis.service.ts
  frontend/src/store/slices/profile/profile.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC73: * fix change type to doctor
  backend/src/api/user/user.api.ts
  backend/src/services/profession/profession.service.ts
  backend/src/services/user-service/user-service.service.ts
  frontend/src/components/profile/components/user-info/user-info.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-71: * use placeholder component for appointments
  frontend/src/common/enums/no-data/no-data-label.ts
  frontend/src/components/profile/components/appointments/appointments.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC73: * fix preloading of profission list
  frontend/src/components/profile/components/user-info/user-info.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-86: + default avatars
  frontend/src/assets/images/default-clinic.jpg
  frontend/src/assets/images/default-doctor-man.jpg
  frontend/src/assets/images/default-doctor-woman.jpg
  frontend/src/assets/images/default-patient-man.jpg
  frontend/src/assets/images/default-patient-woman.jpg
Due: npm run lint:editorconfig

HC-86: * doctor extended interface
  shared/src/common/enums/clinic/clinic-extended.enum.ts
  shared/src/common/enums/clinic/index.ts
  shared/src/common/enums/doctor/doctor-extended-key.enum.ts
  shared/src/common/interfaces/clinic-extended/clinic-extended.ts
  shared/src/common/interfaces/clinic-extended/index.ts
  shared/src/common/interfaces/doctor-extended/doctor-extended.instance.ts
  shared/src/common/interfaces/index.ts
Due: npm run lint:editorconfig

HC-86: + method to get default avatar
  frontend/src/helpers/default-avatar/default-avatar.ts
  frontend/src/helpers/default-avatar/index.ts
  frontend/src/helpers/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-86: + doctor's city
  backend/src/data/repositories/user.repository.ts
  frontend/src/assets/images/icons/stethoscope.svg
  frontend/src/common/interfaces/clinic-extended/index.ts
  frontend/src/common/interfaces/index.ts
  frontend/src/components/clinics/components/clinic/clinic.tsx
  frontend/src/components/common/header/header.tsx
  frontend/src/components/doctor-details/components/doctor/doctor.tsx
  frontend/src/components/doctors/components/doctor-item/doctors-item.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-85: + default avatars
  frontend/src/components/doctors/components/doctor-item/styles.module.scss
  frontend/src/components/messages/components/message-list/message-list.tsx
  frontend/src/components/messages/components/message/styles.module.scss
  frontend/src/components/messages/components/user-list/user-list.tsx
  frontend/src/components/messages/components/user/styles.module.scss
  frontend/src/components/notifications/components/notification/notification.tsx
  frontend/src/components/notifications/notifications.tsx
  frontend/src/components/profile/components/add-clinic/components/select-clinic/styles.module.scss
  frontend/src/components/profile/components/user-info/styles.module.scss
  frontend/src/components/profile/components/user-info/user-info.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-86: * icon color
  frontend/src/assets/images/icons/stethoscope.svg
Due: npm run lint:editorconfig

HC-86: text capitalize
  frontend/src/components/common/card/card.tsx
  frontend/src/components/common/card/styles.module.scss
  frontend/src/components/doctors/components/doctor-item/doctors-item.tsx
  frontend/src/components/doctors/components/doctor-item/styles.module.scss
  frontend/src/components/messages/components/message-list/message-list.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

Hc-91 * fixed notification card style
  frontend/src/components/notifications/components/notification/notification.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-92: * fixed position of user menu on the map page
  frontend/src/components/common/header/header.module.scss
  frontend/src/components/map/map.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-84: * make uploadClinicAction as thunk
  frontend/src/components/clinics/components/add-clinic-popup/add-clinic-popup.tsx
  frontend/src/store/slices/clinics/clinics.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-86: + allow null in imagPath column
  backend/src/data/migrations/20210326170356-allow-null-image-path-in-clinics.js
  backend/src/data/models/clinic.ts
Due: npm run lint:editorconfig

HC-86: + return type
  frontend/src/helpers/default-avatar/default-avatar.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js
