Repository BinaryStudioAcademy/bsa-winter-2021-healthcare: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

development: * auth service
  frontend/src/services/auth-api/auth-api.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

development: * white list auth
  backend/src/server.ts
Due: npm run lint:editorconfig

development: * fix authorization
  backend/src/configs/routes-white-list.config.ts
  backend/src/middlewares/authorization/authorization.middleware.ts
  backend/src/server.ts
Due: npm run lint:editorconfig

HC-71: * resolve conflicts
  frontend/src/store/slices/profile/profile.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-72: * update app.tsx (add redirect from root to doctors)
  frontend/src/app.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC59: * add types for document service
  backend/src/services/document/document.service.ts
Due: npm run lint:editorconfig

HC59: * change httpcode status to created
  backend/src/api/document/document.api.ts
Due: npm run lint:editorconfig

HC59: * rename event parameter to evt
  frontend/src/components/profile/components/user-info/user-info.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-56: * casting repository filenames to the same type
  backend/src/data/repositories/appointment.repository.ts
  backend/src/data/repositories/city.repository.ts
  backend/src/data/repositories/clinic.repository.ts
  backend/src/data/repositories/doctor.repository.ts
  backend/src/data/repositories/document.repository.ts
  backend/src/data/repositories/geolocation.repository.ts
  backend/src/data/repositories/index.ts
  backend/src/data/repositories/permission.repository.ts
  backend/src/data/repositories/user.repository.ts
Due: npm run lint:editorconfig

HC-56: -remove CityApiPath enum from cityApi
  frontend/src/common/enums/api/index.ts
  frontend/src/services/city-api/city-api.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-55 * add ClinicModel to getDoctorDetailsById
  backend/src/data/repositories/user-repository.ts
  shared/src/common/enums/doctor/doctor-key.enum.ts
  shared/src/common/interfaces/doctor/doctor.instance.ts
Due: npm run lint:editorconfig

HC-55 * add doctor api
  backend/src/api/api.ts
  backend/src/api/doctor/doctor.api.ts
  backend/src/common/enums/api/index.ts
  shared/src/common/enums/api/doctor-api-path.enum.ts
  shared/src/common/enums/api/index.ts
Due: npm run lint:editorconfig

HC-55 * add addDoctorToClinic service
  backend/src/data/repositories/doctor-repository.ts
  backend/src/services/doctor-service/doctor-service.service.ts
Due: npm run lint:editorconfig

HC-55 * added functionality for adding doctor to clinic
  frontend/src/components/profile/components/add-clinic/add-clinic.tsx
  frontend/src/components/profile/components/add-clinic/common/index.ts
  frontend/src/components/profile/components/add-clinic/common/types/doctors-clinic.type.ts
  frontend/src/components/profile/components/add-clinic/components/index.ts
  frontend/src/components/profile/components/add-clinic/components/select-clinic/select-clinic.tsx
  frontend/src/components/profile/components/add-clinic/components/select-clinic/styles.module.scss
  frontend/src/components/profile/components/add-clinic/constants/default-value-for-clinic-selector.constant.ts
  frontend/src/components/profile/components/add-clinic/helpers/get-clinic-by-name/get-clinic-by-name.helper.ts
  frontend/src/components/profile/components/add-clinic/helpers/index.ts
  frontend/src/components/profile/profile.tsx
  frontend/src/store/slices/doctors/doctors.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-55 * added service for adding doctor to clinic
  frontend/src/services/doctor-api/doctor-api.service.ts
  frontend/src/services/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-55 * added validation to select clinic
  frontend/src/validation-schemas/doctor/add-doctor-to-clinic/index.ts
  shared/src/common/enums/validation/doctor/add-doctor-to-clinic/add-doctor-to-clinic-validation-message.enum.ts
  shared/src/common/enums/validation/doctor/index.ts
  shared/src/common/enums/validation/index.ts
  shared/src/validation-schemas/doctor/add-doctor-to-clinic/add-doctor-to-clinic.validation.ts
  shared/src/validation-schemas/doctor/index.ts
  shared/src/validation-schemas/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-55 * fixed change of selection value
  frontend/src/components/profile/components/add-clinic/add-clinic.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-18: + logout method in auth slice
  frontend/src/store/slices/auth/auth.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-18: + logout method in header
  frontend/src/components/common/header/header.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-55 * fixed lint error
  backend/src/services/doctor/doctor.service.ts
  shared/src/common/enums/api/doctor-api-path.enum.ts
Due: npm run lint:editorconfig

HC-55 * fixed lint error
  backend/src/data/repositories/doctor-repository.ts
  backend/src/services/doctor/doctor.service.ts
  shared/src/common/enums/api/doctor-api-path.enum.ts
  shared/src/validation-schemas/doctor/add-doctor-to-clinic/add-doctor-to-clinic.validation.ts
Due: npm run lint:editorconfig

HC-75 - remove myCalendar
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/common/header/header.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-55 * fixed return value for adding doctor to clinic
  backend/src/data/repositories/doctor-repository.ts
  backend/src/services/doctor/doctor.service.ts
  frontend/src/services/doctor-api/doctor-api.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-56: *correct cityId validation
  frontend/src/components/clinics/components/common/constants/default-clinic-value.constant.ts
  frontend/src/store/slices/clinics/clinics.slice.ts
  shared/src/validation-schemas/clinic/clinic.validation-schema.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-56: +add getCitiesOptions helper
  frontend/src/components/clinics/components/add-clinic-popup/add-clinic-popup.tsx
  frontend/src/components/clinics/components/add-clinic-popup/helpers/get-cities-options.ts
  frontend/src/components/clinics/components/add-clinic-popup/helpers/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-65: + current-user path
  shared/src/common/enums/api/users-api-path.enum.ts
Due: npm run lint:editorconfig

HC-65: + get current user method
  frontend/src/services/user-api/user-api.service.ts
  frontend/src/store/slices/auth/auth.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-65: + refetch user after reload page
  frontend/src/app.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-65: + method to get user by token
  backend/src/api/user/user.api.ts
Due: npm run lint:editorconfig

HC-55 * fixed doctors path
  backend/src/api/doctor/doctor.api.ts
  frontend/src/services/doctor-api/doctor-api.service.ts
  shared/src/common/enums/api/api-path.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-55 + added type for default value
  frontend/src/components/profile/components/add-clinic/constants/default-value-for-clinic-selector.constant.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-55 * fixed options
  frontend/src/components/profile/components/add-clinic/components/select-clinic/select-clinic.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-55 * fixed lint error
  frontend/src/components/profile/components/add-clinic/components/select-clinic/select-clinic.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC70*changed useState to setValue in add clinic
  frontend/src/components/clinics/components/add-clinic-popup/add-clinic-popup.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-55 * fixed lint warning
  frontend/src/components/profile/components/add-clinic/components/select-clinic/select-clinic.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-76 * fixed map layout
  frontend/src/components/common/covid-button/styles.module.scss
  frontend/src/components/map/map.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC70*changed validation schema
  frontend/src/components/clinics/clinics.tsx
  shared/src/validation-schemas/clinic/clinic.validation-schema.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC70*fix lint issues
  frontend/src/components/clinics/components/add-clinic-popup/add-clinic-popup.tsx
  shared/src/validation-schemas/clinic/clinic.validation-schema.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC54*fix appointment creation
  backend/src/data/repositories/user-repository.ts
  frontend/src/store/slices/doctor-details/doctor-details.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-76 * fixed map layout
  frontend/src/assets/styles/index.scss
  frontend/src/components/common/covid-button/styles.module.scss
  frontend/src/components/map/map.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

Path conditions:
  npm run lint:editorconfig: any of: *
  npm run lint:shared:js: any of: shared/**/*.{ts}
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
