Repository BinaryStudioAcademy/bsa-winter-2021-healthcare: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

development: * root script
  package.json
Due: npm run lint:editorconfig

development: * db connection
  backend/.env.example
  backend/package-lock.json
  backend/package.json
  backend/src/common/enums/app/env.enum.ts
  backend/src/configs/db/db.config.ts
  backend/src/configs/index.ts
  backend/src/data/db/connection.ts
  backend/src/exceptions/index.ts
  backend/src/exceptions/packages/index.ts
  backend/src/exceptions/packages/sequelize/index.ts
  backend/src/server.ts
Due: npm run lint:editorconfig

development: + db connect
  backend/.eslintrc.yml
  backend/.sequelizerc
  backend/config/db.config.js
  backend/package.json
  backend/src/common/enums/app/env.enum.ts
  backend/src/configs/db/db.config.ts
  backend/src/configs/index.ts
  backend/src/data/db/connection.ts
  backend/src/server.ts
  backend/tsconfig.json
  frontend/tsconfig.json
  shared/tsconfig.json
Due: npm run lint:editorconfig

development: + handle error middleware
  backend/.eslintrc.yml
  backend/src/common/enums/http/index.ts
  backend/src/common/enums/index.ts
  backend/src/middlewares/handle-error/handle-error.middleware.ts
  backend/src/middlewares/index.ts
  backend/src/server.ts
Due: npm run lint:editorconfig

development: + app env
  frontend/src/common/enums/app/env.enum.ts
  frontend/src/common/enums/app/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

development: + front proxy
  backend/.eslintrc.yml
  frontend/.env.example
  frontend/package-lock.json
  frontend/package.json
Due: npm run lint:editorconfig

development: + simpel backend api
  backend/src/api/api.ts
  backend/src/api/user/user.api.ts
  backend/src/common/enums/api/api-path.enum.ts
  backend/src/common/enums/api/index.ts
  backend/src/common/enums/api/users-api-path.enum.ts
  backend/src/common/enums/app/app-config.enum.ts
  backend/src/common/enums/app/index.ts
  backend/src/common/enums/index.ts
  backend/src/server.ts
Due: npm run lint:editorconfig

development: * front http service
  backend/src/server.ts
  frontend/src/common/enums/app/env.enum.ts
  frontend/src/services/http/http.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

development: * root readme file
  readme.md
Due: npm run lint:editorconfig

mend
  readme.md
Due: npm run lint:editorconfig

development: * simple start steps
  readme.md
Due: npm run lint:editorconfig

development: * root readme
  readme.md
Due: npm run lint:editorconfig

development: + codeowners
  .github/CODEOWNERS
Due: npm run lint:editorconfig

HC-5: + add sign in page with basic styles and logic
  frontend/src/containers/SignInPage/index.tsx
  frontend/src/containers/SignInPage/signin.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-5: + add regexp constant for email
  shared/src/helpers/constants/index.ts
  shared/src/helpers/constants/regex/regex.helper.ts
Due: npm run lint:editorconfig

HC-5: + add auth validation for email and password
  shared/src/helpers/validation/auth/auth.helper.ts
  shared/src/helpers/validation/index.ts
Due: npm run lint:editorconfig

HC-5: * include auth and regex helpers
  shared/src/helpers/index.ts
Due: npm run lint:editorconfig

HC-5: + export email and password validations from shared on frontend
  frontend/src/helpers/validation/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-5: * include validation exports
  frontend/src/helpers/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-1 +add user table model & migration
  backend/src/common/enums/http/index.ts
  backend/src/common/types/index.ts
  backend/src/common/types/user/index.ts
  backend/src/common/types/user/user-model.type.ts
  backend/src/data/migrations/20210304183602-create-users-table.js
  backend/src/data/models/user.ts
  backend/src/helpers/boolean/index.ts
  healthcare-shared/.eslintrc.yml
  healthcare-shared/package-lock.json
  healthcare-shared/package.json
  healthcare-shared/src/common/enums/exceptions/custom-exception-name.enum.ts
  healthcare-shared/src/common/enums/exceptions/index.ts
  healthcare-shared/src/common/enums/file/content-type.enum.ts
  healthcare-shared/src/common/enums/file/index.ts
  healthcare-shared/src/common/enums/http/http-code.enum.ts
  healthcare-shared/src/common/enums/http/http-header.enum.ts
  healthcare-shared/src/common/enums/http/http-method.enum.ts
  healthcare-shared/src/common/enums/http/index.ts
  healthcare-shared/src/common/enums/index.ts
  healthcare-shared/src/common/enums/user/usersex.enum.ts
  healthcare-shared/src/common/enums/user/usertype.enum.ts
  healthcare-shared/src/exceptions/http-error/common/constants.ts
  healthcare-shared/src/exceptions/http-error/http-error.exception.ts
  healthcare-shared/src/exceptions/index.ts
  healthcare-shared/src/helpers/boolean/check-is-one-of/check-is-one-of.helper.ts
  healthcare-shared/src/helpers/boolean/index.ts
  healthcare-shared/src/helpers/index.ts
  healthcare-shared/src/index.ts
  healthcare-shared/src/interfaces/user.interface.ts
  healthcare-shared/tsconfig.json
Due: npm run lint:editorconfig

HC-2*changed user table model in ts manner
  backend/package-lock.json
  backend/package.json
  backend/src/common/interfaces/db.interface.ts
  backend/src/common/types/app/index.ts
  backend/src/common/types/app/sequelize-atributes.ts
  backend/src/data/models/index.ts
  backend/src/data/models/user.ts
  package-lock.json
Due: npm run lint:editorconfig

HC-3+ add basic user routes
  backend/src/api/user/user.api.ts
  backend/src/common/enums/api/users-api-path.enum.ts
  backend/src/data/db/connection.ts
  backend/src/data/models/index.ts
  backend/src/data/models/user.ts
  backend/src/data/repositories/userRepository.ts
  backend/src/services/api/userService.ts
Due: npm run lint:editorconfig

development: + sequlize cli
  backend/package-lock.json
  backend/package.json
Due: npm run lint:editorconfig

HC-5: * include useForm & yup validation
  frontend/src/containers/SignInPage/index.tsx
  package-lock.json
  package.json
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 + add main containers for AdminPage
  frontend/src/containers/AdminPage/index.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 + add containers for users AdminPage
  frontend/src/containers/AdminPage/Users.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 + add container for search and filter form
  frontend/src/containers/AdminPage/SearchAndFilterForm.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 + add config for set table header
  frontend/src/containers/AdminPage/config/config.json
Due: npm run lint:editorconfig

HC-7 + add container for actions buttons
  frontend/src/containers/AdminPage/ActionsButton.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 + add styles
  frontend/src/containers/AdminPage/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-7 + add service for userApi
  frontend/src/services/services.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 + add UserApi to create requests
  frontend/src/services/user-api/user-api.services.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-11: + base database tables & sequelize models
  backend/src/data/migrations/20210305092928-create-clinics-table.js
  backend/src/data/migrations/20210305094610-create-doctors-table.js
  backend/src/data/migrations/20210305102253-create-documents-table.js
  backend/src/data/migrations/20210305130141-create-appointments-table.js
  backend/src/data/migrations/20210305132859-create-diagnoses-table.js
  backend/src/data/migrations/20210305140355-create-notifications-table.js
  backend/src/data/migrations/20210305142516-create-messages-table.js
  backend/src/data/models/appointment.ts
  backend/src/data/models/clinic.ts
  backend/src/data/models/diagnosis.ts
  backend/src/data/models/doctor.ts
  backend/src/data/models/document.ts
  backend/src/data/models/index.ts
  backend/src/data/models/message.ts
  backend/src/data/models/notification.ts
Due: npm run lint:editorconfig

HC-7 + add reducer name 'users'
  frontend/src/common/enums/app/reducer-name.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * add export for user-api service
  frontend/src/services/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * add users reducer
  frontend/src/store/store.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * provided access to users in the state
  frontend/src/containers/AdminPage/Users.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * delete console.log
  frontend/src/containers/AdminPage/index.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

Path conditions:
  npm run lint:editorconfig: any of: *
  npm run lint:shared:js: any of: shared/**/*.{ts}
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
