Repository BinaryStudioAcademy/bsa-winter-2021-healthcare: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig
'shared/**/*.{ts}': npm run lint:shared:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js

HC-3: + add Sign Up Page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/containers/SignUpPage/SignUpPage.tsx
  frontend/src/containers/SignUpPage/styles.module.scss
  frontend/src/index.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-7 * export UserActionCreator
  frontend/src/store/slices/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 + add user interface and export it
  frontend/src/common/interfaces/app/index.ts
  frontend/src/common/interfaces/app/user.interface.ts
  frontend/src/common/interfaces/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

CH-7 * rename counter to users
  frontend/src/store/slices/users/users.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-8*changed user model in sequelize v-6 style
  backend/package-lock.json
  backend/package.json
  backend/src/api/user/user.api.ts
  backend/src/common/enums/http/index.ts
  backend/src/common/interfaces/db.interface.ts
  backend/src/common/types/app/sequelize-atributes.ts
  backend/src/data/db/connection.ts
  backend/src/data/migrations/20210304183602-create-users-table.js
  backend/src/data/models/index.ts
  backend/src/data/models/user.ts
  backend/src/data/repositories/userRepository.ts
  backend/src/helpers/boolean/index.ts
  backend/src/services/api/userService.ts
  shared/.eslintrc.yml
  shared/package-lock.json
  shared/package.json
  shared/src/common/enums/exceptions/custom-exception-name.enum.ts
  shared/src/common/enums/exceptions/index.ts
  shared/src/common/enums/file/content-type.enum.ts
  shared/src/common/enums/file/index.ts
  shared/src/common/enums/http/http-code.enum.ts
  shared/src/common/enums/http/http-header.enum.ts
  shared/src/common/enums/http/http-method.enum.ts
  shared/src/common/enums/http/index.ts
  shared/src/common/enums/index.ts
  shared/src/common/enums/user/usersex.enum.ts
  shared/src/common/enums/user/usertype.enum.ts
  shared/src/exceptions/http-error/common/constants.ts
  shared/src/exceptions/http-error/http-error.exception.ts
  shared/src/exceptions/index.ts
  shared/src/helpers/boolean/check-is-one-of/check-is-one-of.helper.ts
  shared/src/helpers/boolean/index.ts
  shared/src/helpers/index.ts
  shared/src/index.ts
  shared/src/interfaces/user.interface.ts
  shared/tsconfig.json
Due: npm run lint:editorconfig

HC-3: * email validation
  frontend/src/containers/SignUpPage/SignUpPage.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-5: + add jwt config
  backend/config/jwt.config.js
Due: npm run lint:editorconfig

HC-5: + add initial auth api
  backend/src/api/auth/auth.api.ts
Due: npm run lint:editorconfig

HC-5: * include auth apis to root api
  backend/src/api/api.ts
Due: npm run lint:editorconfig

HC-5: - remove api enums from backend
  backend/src/common/enums/api/api-path.enum.ts
  backend/src/common/enums/api/users-api-path.enum.ts
Due: npm run lint:editorconfig

HC-5: * export all api enums from shared
  backend/src/common/enums/api/index.ts
Due: npm run lint:editorconfig

HC-5: + add token helper
  backend/src/helpers/string/create-token/create-token.helper.ts
Due: npm run lint:editorconfig

HC-5: * include token helper to string helpers root
  backend/src/helpers/string/index.ts
Due: npm run lint:editorconfig

HC-5: + add auth service with incomplete login method
  backend/src/services/auth/auth.service.ts
Due: npm run lint:editorconfig

HC-5: * include auth service to services root
  backend/src/services/services.ts
Due: npm run lint:editorconfig

HC-5: + add jwt package
  backend/package-lock.json
  backend/package.json
Due: npm run lint:editorconfig

HC-5: + add auth api service on frontend
  frontend/src/services/auth-api/auth-api.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-5: * include auth api service
  frontend/src/services/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-5: + add api enums from backend
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/auth-api-path.enum.ts
  shared/src/common/enums/api/index.ts
  shared/src/common/enums/api/users-api-path.enum.ts
Due: npm run lint:editorconfig

HC-5: + add auth login payload keys
  shared/src/common/enums/auth/index.ts
  shared/src/common/enums/auth/login-payload-key.enum.ts
Due: npm run lint:editorconfig

HC-5: * add post method to enum and include auth and api enums to root
  shared/src/common/enums/http/http-method.enum.ts
  shared/src/common/enums/index.ts
Due: npm run lint:editorconfig

HC-3: * add validation
  frontend/package.json
  frontend/src/containers/SignUpPage/SignUpPage.tsx
  shared/package-lock.json
  shared/package.json
  shared/src/common/enums/register/register-avatar-type.enum.ts
  shared/src/common/enums/register/register-payload.enum.ts
  shared/src/helpers/index.ts
  shared/src/helpers/validation/auth-schema/auth-schema.helper.ts
  shared/src/helpers/validation/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-5: + add user-login-payload interface
  shared/src/common/interfaces/index.ts
  shared/src/common/interfaces/user/index.ts
  shared/src/common/interfaces/user/user-login-payload.interface.ts
Due: npm run lint:editorconfig

HC-11: + enum for model name
  backend/src/common/enums/index.ts
  backend/src/common/enums/modelName/index.ts
  backend/src/data/models/appointment.ts
  backend/src/data/models/clinic.ts
  backend/src/data/models/diagnosis.ts
  backend/src/data/models/doctor.ts
  backend/src/data/models/document.ts
  backend/src/data/models/message.ts
  backend/src/data/models/notification.ts
  shared/src/common/enums/index.ts
  shared/src/common/enums/modelName/index.ts
  shared/src/common/enums/modelName/model-name.enum.ts
Due: npm run lint:editorconfig

HC-5: * add authorization to httpHeader and use it in http service
  frontend/src/services/http/http.service.ts
  shared/src/common/enums/http/http-header.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-5: * update services root
  frontend/src/services/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-5: + add reducers state types
  frontend/src/common/types/app/index.ts
  frontend/src/common/types/app/reducers-state.type.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-5: + add initial auth slice
  frontend/src/store/slices/auth/auth.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-5: * add auth name to enums, add authReducer to store
  frontend/src/common/enums/app/reducer-name.enum.ts
  frontend/src/store/slices/counter/counter.slice.ts
  frontend/src/store/slices/index.ts
  frontend/src/store/store.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-5: * update return type
  backend/src/helpers/string/create-token/create-token.helper.ts
  backend/src/services/auth/auth.service.ts
Due: npm run lint:editorconfig

HC-11: + instance enums to shared
  shared/src/common/enums/index.ts
  shared/src/common/enums/intance-type/appointment-type.enum.ts
  shared/src/common/enums/intance-type/clinic-type.enum.ts
  shared/src/common/enums/intance-type/document-status.enum.ts
  shared/src/common/enums/intance-type/index.ts
Due: npm run lint:editorconfig

HC-11: + instance interfaces to shared
  backend/src/common/interfaces/index.ts
  shared/src/common/interfaces/index.ts
  shared/src/common/interfaces/instances/appointment.instance.ts
  shared/src/common/interfaces/instances/clinic.instance.ts
  shared/src/common/interfaces/instances/diagnosis.instance.ts
  shared/src/common/interfaces/instances/doctor.instance.ts
  shared/src/common/interfaces/instances/document.instance.ts
  shared/src/common/interfaces/instances/index.ts
  shared/src/common/interfaces/instances/message.instance.ts
  shared/src/common/interfaces/instances/notification.instance.ts
Due: npm run lint:editorconfig

HC-11: * instances
  backend/src/data/models/appointment.ts
  backend/src/data/models/clinic.ts
  backend/src/data/models/diagnosis.ts
  backend/src/data/models/doctor.ts
  backend/src/data/models/document.ts
  backend/src/data/models/message.ts
  backend/src/data/models/notification.ts
Due: npm run lint:editorconfig

HC-11: + status column to documents table
  backend/src/data/migrations/20210305102253-create-documents-table.js
Due: npm run lint:editorconfig

HC-11: * models' enums
  backend/src/common/enums/index.ts
  backend/src/common/enums/instance-type/index.ts
  backend/src/data/models/appointment.ts
  backend/src/data/models/clinic.ts
  backend/src/data/models/document.ts
Due: npm run lint:editorconfig

HC-11: * notation and move ModelName to backend
  backend/src/common/enums/index.ts
  backend/src/common/enums/model-name/index.ts
  backend/src/common/enums/model-name/model-name.enum.ts
  backend/src/common/enums/modelName/index.ts
  shared/src/common/enums/index.ts
Due: npm run lint:editorconfig

HC-11: * models
  backend/src/data/models/appointment.ts
  backend/src/data/models/clinic.ts
  backend/src/data/models/diagnosis.ts
  backend/src/data/models/doctor.ts
  backend/src/data/models/document.ts
  backend/src/data/models/index.ts
  backend/src/data/models/message.ts
  backend/src/data/models/notification.ts
Due: npm run lint:editorconfig

HC8*fixed model services resitories
  backend/src/api/user/user.api.ts
  backend/src/common/enums/api/users-api-path.enum.ts
  backend/src/common/enums/index.ts
  backend/src/common/enums/models/index.ts
  backend/src/common/enums/models/models.enum.ts
  backend/src/common/enums/user/index.ts
  backend/src/common/interfaces/index.ts
  backend/src/common/interfaces/user-interface/index.ts
  backend/src/common/types/app/index.ts
  backend/src/common/types/index.ts
  backend/src/data/migrations/20210304183602-create-users-table.js
  backend/src/data/models/index.ts
  backend/src/data/models/user.ts
  backend/src/data/repositories/index.ts
  backend/src/data/repositories/user-repository.ts
  backend/src/services/services.ts
  backend/src/services/user-service/user-service.service.ts
  shared/src/common/enums/http/http-code.enum.ts
  shared/src/common/enums/index.ts
  shared/src/common/enums/user/index.ts
  shared/src/common/enums/user/usersex.enum.ts
  shared/src/common/enums/user/usertype.enum.ts
  shared/src/common/interfaces/index.ts
  shared/src/common/interfaces/user.interface.ts
  shared/src/index.ts
Due: npm run lint:editorconfig

HC8*fixed eslint issues
  backend/src/common/interfaces/user-interface/index.ts
  shared/src/common/enums/user/usersex.enum.ts
  shared/src/common/enums/user/usertype.enum.ts
  shared/src/common/interfaces/user.interface.ts
  shared/src/index.ts
Due: npm run lint:editorconfig
