Repository BinaryStudioAcademy/bsa-winter-2021-healthcare: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

HC-86: * clinic interface
  frontend/src/common/interfaces/clinic-extended/index.ts
  frontend/src/common/interfaces/clinic-with-city/index.ts
  frontend/src/common/interfaces/index.ts
  shared/src/common/enums/clinic/clinic-extended.enum.ts
  shared/src/common/enums/clinic/clinic-with-city-key.enum.ts
  shared/src/common/enums/clinic/index.ts
  shared/src/common/interfaces/clinic-extended/clinic-extended.ts
  shared/src/common/interfaces/clinic-extended/index.ts
  shared/src/common/interfaces/clinic-with-city/clinic-with-city.ts
  shared/src/common/interfaces/clinic-with-city/index.ts
  shared/src/common/interfaces/doctor-extended/doctor-extended.instance.ts
  shared/src/common/interfaces/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-83: * revert other components styles
  frontend/src/components/clinics/styles.module.scss
  frontend/src/components/common/no-data-placeholder/styles.module.scss
  frontend/src/components/notifications/styles.module.scss
  frontend/src/components/profile/components/diagnoses/diagnoses.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

Fix doctors list
  frontend/src/components/doctors/components/doctor-item/doctors-item.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

Fix avatar in notifications
  frontend/src/components/notifications/notifications.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

Fix doctor's clinic
  frontend/src/components/doctors/components/doctor-item/doctors-item.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

* fix image nullable
  frontend/src/components/clinics/components/common/constants/default-clinic-value.constant.ts
  shared/src/common/interfaces/clinic/clinic-payload.instance.ts
  shared/src/validation-schemas/clinic/clinic.validation-schema.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

* fix return notifications
  frontend/src/store/slices/clinics/clinics.slice.ts
  frontend/src/store/slices/doctor-details/doctor-details.slice.ts
  frontend/src/store/slices/doctors/doctors.slice.ts
  frontend/src/store/slices/map/map.slice.ts
  frontend/src/store/slices/messages/messages.slice.ts
  frontend/src/store/slices/notifications/notifications.slice.ts
  frontend/src/store/slices/permissions/permissions.slice.ts
  frontend/src/store/slices/profile/profile.slice.ts
  frontend/src/store/slices/users/users.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

fix doctor's city name
  frontend/src/components/doctors/components/doctor-item/doctors-item.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC90: * add helper and array of strings
  frontend/src/components/doctor-details/components/doctor/common/constants/doctor-specializations.ts
  frontend/src/components/doctor-details/components/doctor/common/helpers/get-random-items.helper.ts
  frontend/src/components/doctor-details/components/doctor/common/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC90: * display specs list on page
  frontend/src/components/doctor-details/components/doctor/doctor.tsx
  frontend/src/components/doctor-details/components/doctor/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC90: * add getshuffledItems and initalArrayIdx
  frontend/src/components/doctor-details/components/doctor/common/constants/initial-array-idx.ts
  frontend/src/components/doctor-details/components/doctor/common/helpers/get-random-items.helper.ts
  frontend/src/components/doctor-details/components/doctor/common/helpers/get-shuffled-items.helper.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC90: * move helpers to shared
  frontend/src/components/doctor-details/components/doctor/common/constants/initial-array-idx.ts
  frontend/src/components/doctor-details/components/doctor/common/constants/specializations-count.ts
  frontend/src/components/doctor-details/components/doctor/common/helpers/get-random-items.helper.ts
  frontend/src/components/doctor-details/components/doctor/common/helpers/get-shuffled-items.helper.ts
  frontend/src/components/doctor-details/components/doctor/common/index.ts
  frontend/src/components/doctor-details/components/doctor/doctor.tsx
  frontend/src/helpers/array/get-random-items/get-random-items.helper.ts
  frontend/src/helpers/array/get-shuffled-items/get-shuffled-items.helper.ts
  frontend/src/helpers/array/index.ts
  shared/src/helpers/array/get-random-items/get-random-items.helper.ts
  shared/src/helpers/array/get-shuffled-items/get-shuffled-items.helper.ts
  shared/src/helpers/array/index.ts
  shared/src/helpers/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-89: + add helpers for number and array
  shared/src/helpers/array/get-random-item.helper.ts
  shared/src/helpers/array/index.ts
  shared/src/helpers/index.ts
  shared/src/helpers/number/get-random-number.helper.ts
  shared/src/helpers/number/index.ts
Due: npm run lint:editorconfig

fix default avatar in edit popup
  frontend/src/components/common/edit-user-popup/edit-user-popup.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-89: * rename and move files into right directory
  frontend/src/helpers/array/get-random-item/index.ts
  frontend/src/helpers/array/get-random-items/index.ts
  frontend/src/helpers/array/get-shuffled-items/index.ts
  frontend/src/helpers/array/index.ts
  frontend/src/helpers/number/index.ts
  shared/src/helpers/array/get-random-item/get-random-item.helper.ts
  shared/src/helpers/array/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-89: + add doctors descriptions
  frontend/src/components/doctor-details/components/doctor/common/constants/doctor-descriptions.ts
  frontend/src/components/doctor-details/components/doctor/doctor.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-87: * Fix Add clinic
  frontend/src/components/clinics/components/add-clinic-popup/add-clinic-popup.tsx
  frontend/src/components/common/index.ts
  frontend/src/components/common/select-creatable/maps/index.ts
  frontend/src/components/common/select-creatable/maps/input-color-to-css-color-value.map.ts
  frontend/src/components/common/select-creatable/select-creatable.tsx
  frontend/src/components/common/select-creatable/styles-select.scss
  frontend/src/components/common/select-creatable/styles.module.scss
  frontend/src/components/common/select-creatable/styles.ts
  frontend/src/store/slices/clinics/clinics.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

development: * quality criteria
  quality-criteria.md
Due: npm run lint:editorconfig

main: * cb action
  .github/workflows/deploy.yml
Due: npm run lint:editorconfig

Path conditions:
  npm run lint:editorconfig: any of: *
  npm run lint:shared:js: any of: shared/**/*.{ts}
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
