Repository BinaryStudioAcademy/bsa-winter-2021-healthcare: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig
'shared/**/*.{ts}': npm run lint:shared:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js

HC24: * update isDuplicatesPrevented prop
  frontend/src/components/common/toaster/toaster.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC24: * add error notification to http service
  frontend/src/services/http/http.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

Revert "HC24: * add error notification to http service"
  frontend/src/services/http/http.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-29: + icons
  frontend/public/favicon.ico
  frontend/public/img/icons/apple-touch-icon.png
  frontend/public/img/icons/icon-192.png
  frontend/public/img/icons/icon-512.png
  frontend/public/img/icons/icon.svg
  frontend/public/img/logo-social.png
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
Due: npm run lint:editorconfig

add user data to page
  frontend/src/components/common/index.ts
  frontend/src/components/common/modal/modal.tsx
  frontend/src/components/common/modal/styles.module.scss
  frontend/src/components/profile/components/profile-info/profile-info.tsx
  frontend/src/components/profile/components/profile-info/styles.module.scss
  frontend/src/components/profile/profile.tsx
  frontend/src/store/slices/auth/auth.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC31+add common button to card
  frontend/src/components/doctors-search/components/doctor-item/doctors-item.tsx
  frontend/src/components/doctors-search/components/doctor-item/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-21: * update UsersApiPath (add details/:id route)
  shared/src/common/enums/api/users-api-path.enum.ts
Due: npm run lint:editorconfig

HC-21: + add enum DoctorDetailsKey
  shared/src/common/enums/doctor/doctor-details-key.enum.ts
  shared/src/common/enums/doctor/index.ts
Due: npm run lint:editorconfig

HC-28: * fix down method
  backend/src/data/migrations/20210305092928-create-clinics-table.js
  backend/src/data/migrations/20210305094610-create-doctors-table.js
  backend/src/data/migrations/20210305102253-create-documents-table.js
  backend/src/data/migrations/20210305130141-create-appointments-table.js
  backend/src/data/migrations/20210305132859-create-diagnoses-table.js
  backend/src/data/migrations/20210305140355-create-notifications-table.js
  backend/src/data/migrations/20210305142516-create-messages-table.js
Due: npm run lint:editorconfig

HC-28: + migration to create permissions table
  backend/src/data/migrations/20210313131817-create-permissions-table.js
Due: npm run lint:editorconfig

HC-21: +add SpecializationKey enum
  shared/src/common/enums/index.ts
  shared/src/common/enums/specialization/index.ts
  shared/src/common/enums/specialization/specialization-key.enum.ts
Due: npm run lint:editorconfig

HC-28: + default data to permissions table
  backend/src/data/migrations/20210313150651-add-seed-data-to-permissions.js
Due: npm run lint:editorconfig

HC-28: + migration to create users_permissions table
  backend/src/data/migrations/20210313161337-create-users_permissions-table.js
Due: npm run lint:editorconfig

HC-21: +add IDoctorDetails interface
  shared/src/common/interfaces/doctor-details/doctor-details.instance.ts
  shared/src/common/interfaces/doctor-details/index.ts
Due: npm run lint:editorconfig

HC-28: + admin user to the db with all permissions
  backend/src/data/migrations/20210313163522-add-admin-user.js
Due: npm run lint:editorconfig

HC-21: +add ISpecialization interface
  shared/src/common/interfaces/index.ts
  shared/src/common/interfaces/specialization/index.ts
  shared/src/common/interfaces/specialization/specialization.instance.ts
Due: npm run lint:editorconfig

HC-7 * fixed styles
  frontend/src/components/admin-page/styles.module.scss
  frontend/src/components/common/table/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-7 * fix data type for IProps
  frontend/src/common/interfaces/app/table.interface.ts
  frontend/src/components/admin-page/helpers/check-identifier-type.helper.ts
  frontend/src/components/common/table/table.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * rename component with admin table
  frontend/src/components/admin-page/admin-page.tsx
  frontend/src/components/admin-page/admin-table.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * fixed warnings
  frontend/src/components/admin-page/actions-button.tsx
  frontend/src/services/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * change all input and button to common components
  frontend/src/components/admin-page/create-user.tsx
  frontend/src/components/admin-page/edit-user.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * fixed export
  shared/src/common/interfaces/edit-user/edit-user-payload.interface.ts
Due: npm run lint:editorconfig

HC-7 - remove test date
  frontend/src/store/slices/users/users.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * fixed schema name
  frontend/src/validation-schemas/edit-user/index.ts
  shared/src/validation-schemas/edit-user/edit-user-schema.helper.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * change interface to type
  shared/src/common/interfaces/user/user.interface.ts
Due: npm run lint:editorconfig

HC-7 * fixed payload
  frontend/src/services/user-api/user-api.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * fixed name
  frontend/src/common/enums/users/date-identifier.enum.ts
  frontend/src/components/admin-page/helpers/check-identifier-type.helper.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * replace actions button to components
  frontend/src/components/admin-page/admin-table.tsx
  frontend/src/components/admin-page/components/actions-button.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 - delete counter
  frontend/src/components/counter/counter.tsx
  frontend/src/components/counter/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-7 * rename reducer
  frontend/src/store/slices/users/users.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-7 * replace actions buttons
  frontend/src/components/admin-page/admin-table.tsx
  frontend/src/components/admin-page/components/button/actions-button.tsx
  frontend/src/components/admin-page/components/button/styles.module.scss
  frontend/src/components/admin-page/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-7 * fixed lint warnings
  frontend/src/components/admin-page/components/button/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC24: * add message prop to http error
  frontend/src/services/http/http.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC24: * add error handling to auth action
  frontend/src/store/slices/auth/auth.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC24: * add error handling to doctors action
  frontend/src/store/slices/doctors/doctors.slice.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC24: - remove excess reducer
  frontend/src/store/store.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-29: * index description
  frontend/public/index.html
Due: npm run lint:editorconfig

HC-29: + deploy message
  .github/workflows/deploy.yml
Due: npm run lint:editorconfig

main: * slack notification action
  .github/workflows/deploy.yml
Due: npm run lint:editorconfig

HC6+add date formating
  frontend/src/components/common/modal/modal.tsx
  frontend/src/components/common/modal/styles.module.scss
  frontend/src/components/profile/components/profile-info/profile-info.tsx
  frontend/src/components/profile/profile.tsx
  frontend/src/helpers/date/get-date-format.helper.ts
  frontend/src/helpers/date/index.ts
  frontend/src/helpers/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js
