Repository BinaryStudioAcademy/bsa-winter-2021-healthcare: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

HC-43: * fix payload type
  frontend/src/services/diagnosis/diagnosis.service.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-43: + add profile tab enum
  frontend/src/common/enums/profile/index.ts
  frontend/src/common/enums/profile/profile-tab.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-43: + export DiagnosisKey
  frontend/src/common/enums/diagnosis/diagnosis.enum.ts
  frontend/src/common/enums/diagnosis/index.ts
  frontend/src/common/enums/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-43: + add styles for authorized-wrapper
  frontend/src/components/common/authorized-wrapper/authorized-wrapper.module.scss
  frontend/src/components/common/authorized-wrapper/authorized-wrapper.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-43: + add diagnoses page
  frontend/src/components/profile/components/diagnoses/diagnoses.module.scss
  frontend/src/components/profile/components/diagnoses/diagnoses.tsx
  frontend/src/components/profile/components/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-43: + add side menu item
  frontend/src/components/profile/components/side-menu-item/side-menu-item.module.scss
  frontend/src/components/profile/components/side-menu-item/side-menu-item.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-43: * make use of side menu item
  frontend/src/components/profile/components/side-menu/side-menu.tsx
  frontend/src/components/profile/components/side-menu/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

HC-43: * add flexibility to switch between tabs
  frontend/src/components/profile/profile.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-43: * add moment for fromatting date strings
  frontend/package-lock.json
  frontend/package.json
Due: npm run lint:editorconfig

HC-43: * change links in header
  frontend/src/app.tsx
  frontend/src/components/common/header/header.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-43: * add text decoration for link
  frontend/src/components/common/link/link.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC-43: * fix eslint problems
  backend/src/data/repositories/diagnosis.repository.ts
Due: npm run lint:editorconfig

HC-43: * changes according to suggestions
  backend/src/common/enums/index.ts
  backend/src/common/enums/sort/index.ts
  backend/src/common/enums/sort/sort-type.enum.ts
  backend/src/data/repositories/diagnosis.repository.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/common/enums/date/date-formats.enum.ts
  frontend/src/common/interfaces/diagnosis/index.ts
  frontend/src/components/profile/common/constants/default-diagnosis-value.constant.ts
  frontend/src/components/profile/common/constants/index.ts
  frontend/src/components/profile/common/enums/index.ts
  frontend/src/components/profile/common/enums/profile-tab.enum.ts
  frontend/src/components/profile/common/index.ts
  frontend/src/components/profile/components/diagnoses/diagnoses.tsx
  frontend/src/components/profile/components/index.ts
  frontend/src/components/profile/components/side-menu-item/side-menu-item.module.scss
  frontend/src/components/profile/components/side-menu-item/side-menu-item.tsx
  frontend/src/components/profile/components/side-menu/side-menu.tsx
  frontend/src/components/profile/profile.tsx
  frontend/src/services/diagnosis/diagnosis.service.ts
  frontend/src/store/slices/profile/profile.slice.ts
  shared/src/common/enums/diagnosis/diagnosis-key.enum.ts
  shared/src/common/interfaces/diagnosis/diagnosis-payload.instance.ts
  shared/src/common/interfaces/diagnosis/index.ts
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

development: * backend ts config
  backend/tsconfig.json
Due: npm run lint:editorconfig

development: * doctor styles
  frontend/src/components/clinics/styles.module.scss
  frontend/src/components/doctors/components/doctor-item/doctors-item.tsx
  frontend/src/components/doctors/components/doctors-list/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css, npm run lint:frontend:js

development: * clinit type options
  frontend/src/components/clinics/components/clinic/clinic.tsx
  frontend/src/components/doctors/components/doctor-item/doctors-item.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

development: + edit clinic props
  frontend/src/components/clinics/clinics.tsx
  frontend/src/components/clinics/components/clinic/clinic.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

development: * clinic types
  frontend/src/components/doctors/components/doctor-item/doctors-item.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC57: * add To and UserId to notification model
  backend/src/data/models/notification.ts
Due: npm run lint:editorconfig

HC57: * add To and UserId to notif enams
  shared/src/common/enums/map/map-key.enum.ts
  shared/src/common/enums/notification/notification-key.enum.ts
  shared/src/common/interfaces/notification/notification.instance.ts
Due: npm run lint:editorconfig

HC57: * make import of needed abstraction
  backend/src/common/enums/index.ts
  backend/src/common/enums/map/index.ts
  backend/src/common/enums/notification/index.ts
  backend/src/common/interfaces/index.ts
  backend/src/common/interfaces/map/index.ts
  shared/src/common/interfaces/map/map.instance.ts
Due: npm run lint:editorconfig

HC57: + add INewNotification interface
  shared/src/common/interfaces/notification/index.ts
  shared/src/common/interfaces/notification/new-notification.instance.ts
Due: npm run lint:editorconfig

HC57: * add z-index for header and covid btn
  frontend/src/components/common/covid-button/styles.module.scss
  frontend/src/components/common/header/header.module.scss
Due: npm run lint:editorconfig, npm run lint:frontend:css

HC57: * add sending of current user id
  frontend/src/components/map/components/select-map-area/select-map-area.tsx
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC57: + add notification repository
  backend/src/data/repositories/index.ts
  backend/src/data/repositories/notification-repository.ts
Due: npm run lint:editorconfig

HC57: * add getAll method to geo repository
  backend/src/data/repositories/geolocation-repository.ts
Due: npm run lint:editorconfig

HC57: * add logic for notification services
  backend/src/services/notification/notification.service.ts
Due: npm run lint:editorconfig

HC57: * add pass req.body to service
  backend/src/api/map/map.api.ts
Due: npm run lint:editorconfig

HC57: * add import of INewNotification
  backend/src/common/interfaces/notification/index.ts
Due: npm run lint:editorconfig

HC-63: + migration to change admin type
  backend/src/data/migrations/20210322125416-change-admin-type.js
Due: npm run lint:editorconfig

HC37: + rename notification repository
  backend/src/data/repositories/notification.repository.ts
  backend/src/services/notification/notification.service.ts
Due: npm run lint:editorconfig

HC-42 + add path to permissions-page
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/index.ts
  shared/src/common/enums/api/permission-api-path.ts
Due: npm run lint:editorconfig

HC-42 + add functional to edit permissions for users(frontend)
  frontend/src/app.tsx
  frontend/src/common/enums/app/reducer-name.enum.ts
  frontend/src/components/permissions/components/edit-permission-element/edit-permission-element.tsx
  frontend/src/components/permissions/components/index.ts
  frontend/src/components/permissions/helpers/get-rows/get-rows.ts
  frontend/src/components/permissions/permissions-page.tsx
  frontend/src/services/index.ts
  frontend/src/services/permission-api/permission-api.service.ts
  frontend/src/store/slices/index.ts
  frontend/src/store/slices/permissions/permissions.slice.ts
  frontend/src/store/store.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-42 + add functional to edit permissions for users(backend)
  backend/src/api/api.ts
  backend/src/api/permission/permission.api.ts
  backend/src/common/enums/api/index.ts
  backend/src/data/repositories/index.ts
  backend/src/data/repositories/permission-repository.ts
  backend/src/services/permission/permission.service.ts
  backend/src/services/services.ts
Due: npm run lint:editorconfig

HC-42 * fixed lint errors
  backend/src/data/migrations/20210319123658-add-seed-data-edit-permission.js
  frontend/src/components/permissions/helpers/index.ts
  shared/src/common/enums/api/permission-api-path.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC-42 * add comma
  shared/src/common/enums/api/api-path.enum.ts
Due: npm run lint:editorconfig

--ammend
  backend/src/api/api.ts
  backend/src/data/repositories/index.ts
Due: npm run lint:editorconfig

HC57: * rename map api to notification api
  backend/src/api/api.ts
  backend/src/api/map/map.api.ts
  backend/src/api/notification/notification.api.ts
  backend/src/common/enums/notification/index.ts
  frontend/src/common/enums/api/index.ts
  frontend/src/services/map-api/map-api.service.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/index.ts
  shared/src/common/enums/api/map-api-path.enum.ts
  shared/src/common/enums/api/notification-api-path.enum.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

HC57: * move Notification methods to helpers
  backend/src/services/notification/helpers/check-is-relative-geolocations.helper.ts
  backend/src/services/notification/helpers/get-relative-user-ids.helper.ts
  backend/src/services/notification/helpers/index.ts
  backend/src/services/notification/notification.service.ts
Due: npm run lint:editorconfig

HC57: * remove passing userId from frontend to notification service
  frontend/src/components/map/components/select-map-area/select-map-area.tsx
  shared/src/common/enums/map/map-key.enum.ts
  shared/src/common/interfaces/map/map.instance.ts
Due: npm run lint:editorconfig, npm run lint:frontend:js

Path conditions:
  npm run lint:editorconfig: any of: *
  npm run lint:shared:js: any of: shared/**/*.{ts}
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
